<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Title</title>
</h:head>

<body>

	<div id="wrapper">
		<div id="franjaSuperior" style="background: rgb(0, 27, 64) none repeat scroll 0 0; height: 0px; width: 100%;"></div>

		<div id="header">

			<div class="divTitle">
				<h:panelGrid columns="2" cellpadding="0" cellspacing="0">
					<h:graphicImage library="img" name="logotigobanner.png" alt="usuario" width="85" height="60" />
					<p:outputLabel style="font-size: 25px !important; margin-left: 50px; margin-top: 10px;" value="#{login.tituloAplicacion}" />
				</h:panelGrid>
			</div>
		</div>
	</div>

</body>

</html>
