<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Gestion de Menu</title>
</h:head>

<body>

	<h:form>
		<p:panelMenu model="#{login.model}" />
	</h:form>

</body>

</html>
