<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Nota</title>
</h:head>

<body>


	<h:form id="formNota">
		<h:panelGrid columns="2" cellspacing="0" cellpadding="0"
			columnClasses="td_table">
			<p:commandButton action="#{login.addNota()}"
				update=":formNota:dtNota" value="Adicionar" icon="fa fa-copy" />
			<p:commandButton action="#{login.removeNota()}"
				update=":formNota:dtNota" value="Quitar" icon="fa fa-trash-o" />
		</h:panelGrid>
		<p:dataTable id="dtNota" var="nota" value="#{login.listNota}"
			editable="true" editMode="cell"
			styleClass="table-hover ui-corner-all"
			selection="#{login.notaSeleccionada}" rowKey="#{nota.id}">

			<p:column selectionMode="single"
				style="width:14px; text-align:center;" />
			<p:column headerText="Name">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{nota.name}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{nota.name}"
							onkeypress="javascript:return validarCaracteres(event, this)"
							style="text-align: left; width:96%" autocomplete="off"
							maxlength="#{nota.tamano}">
						</p:inputText>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="Value">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{nota.value}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{nota.value}"
							onkeypress="javascript:return validarCaracteres(event, this)"
							style="text-align: left; width:96%" autocomplete="off"
							maxlength="#{nota.tamano}">
						</p:inputText>
					</f:facet>
				</p:cellEditor>
			</p:column>

		</p:dataTable>

		<br />

		<!-- 		<p:outputLabel value="#{login.idSession}" /> -->

	</h:form>

</body>

</html>
