<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<h:head>

	<f:facet name="first">
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	</f:facet>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta content="private ,no-cache, no-store, must-revalidate" http-equiv="Cache-Control" />
	<meta content="no-cache" http-equiv="Pragma" />


	<link href="#{request.contextPath}/resources/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/css/style_cbs.css" rel="stylesheet" type="text/css" />

	<link rel="shortcut icon" href="#{request.contextPath}/resources/icons/icon.png" type="image/png" />

	<title>#{login.tituloAplicacion}</title>

</h:head>

<body>

	<script type="text/javascript" src="#{request.contextPath}/resources/js/aplication.js"></script>
	<script type="text/javascript" src="#{request.contextPath}/resources/js/js.js"></script>

	<div id="wrapper">
		<div id="franjaSuperior" style="background: rgb(0, 27, 64) none repeat scroll 0 0; height: 10px; width: 100%;"></div>

		<div id="header">

			<div class="divTitle">
				<h:graphicImage library="img" name="logotigobanner.png" alt="usuario" width="85" height="60" />
				<p:outputLabel style="margin-left:50px; margin-top:10px;" value="#{login.tituloAplicacion}"></p:outputLabel>
			</div>
		</div>
		<div id="menudinamic">
			<h:form>
				<p:menubar style="width:100%;" model="#{login.model}">
					<f:facet name="options">
						<h:graphicImage library="img" name="user.png" alt="usuario" width="16" height="16" />
						<p:spacer width="5"></p:spacer>
						<p:outputLabel style="margin-top:3px;" value="#{login.userId}">
						</p:outputLabel>
						<p:spacer width="15"></p:spacer>
						<p:commandButton style="margin-top:2px; margin-right:15px;" action="#{login.logoutSimple()}" ajax="false" type="submit" value="Salir" icon="fa fa-sign-out" />
					</f:facet>
				</p:menubar>
			</h:form>
		</div>

		<div id="content">
			<p:outputPanel ajaxRendered="true">
				<p:growl id="messages" escape="false" showDetail="true" autoUpdate="true" sticky="true" />
			</p:outputPanel>

			<div class="nav2">
				<ui:insert name="content">Content</ui:insert>
			</div>
		</div>
		<div id="footer">
			<div class="divPiePagina">
				<div style="margin-top: 10px; text-align: center; padding-top: 20px;">
					<h:outputText style="color: #ffffff; text-align: center;" value="#{login.piePagina}" />
				</div>

			</div>
		</div>
	</div>

</body>

</html>
