<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>

	<f:facet name="first">
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	</f:facet>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta content="private ,no-cache, no-store, must-revalidate"
		http-equiv="Cache-Control" />
	<meta content="no-cache" http-equiv="Pragma" />


	<link
		href="#{request.contextPath}/resources/font-awesome-4.6.3/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/css/style_cbs.css"
		rel="stylesheet" type="text/css" />
	<link rel="shortcut icon"
		href="#{request.contextPath}/resources/icons/favicon.png"
		type="image/x-icon" />

	<script type="text/javascript"
		src="#{request.contextPath}/resources/js/highcharts/highcharts.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/resources/js/highcharts/highcharts-3d.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/resources/js/sort.js"></script>

	<title>#{login.tituloAplicacion}</title>
	<style>
.info {
	margin: 0;
	border: 1px solid #d5d5d5;
	padding: 5px;
	border-radius: 3px;
	min-height: 10px;
}

.text-ajustado {
	word-wrap: break-word;
}

.text-center {
	text-align: center
}

.info-text {
	position: relative;
	top: 5px;
}

.tablaResportes {
	margin: 0 auto;
}

.w-120 {
	width: 120px;
}

.w-110 {
	width: 110px;
}

.w-100 {
	width: 100px !important;
}

.w-90 {
	width: 90px;
}

.w-80 {
	width: 80px;
}

.w-70 {
	width: 70px;
}

.w-60 {
	width: 60px;
}

.w-50 {
	width: 50px;
}

@media screen and (min-width: 1920px) {
	.tablaResportes {
		width: 1700px;
	}
}

@media screen and (max-width: 1920px) {
	.tablaResportes {
		width: 1600px;
	}
}

@media screen and (max-width: 1824px) {
	.tablaResportes {
		width: 1500px;
	}
}

@media screen and (max-width: 1728px) {
	.tablaResportes {
		width: 1400px;
	}
}

@media screen and (max-width: 1632px) {
	.tablaResportes {
		width: 1300px;
	}
}

@media screen and (max-width: 1536px) {
	.tablaResportes {
		width: 1200px;
	}
}

@media screen and (max-width: 1440px) {
	.tablaResportes {
		width: 1100px;
	}
}

@media screen and (max-width: 1344px) {
	.tablaResportes {
		width: 1000px;
	}
}
</style>
</h:head>

<body>

	<script type="text/javascript"
		src="#{request.contextPath}/resources/js/aplication.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/resources/js/js.js"></script>
	<p:layout fullPage="true">

		<p:layoutUnit position="north" size="80">
			<ui:include src="header.xhtml">
			</ui:include>
		</p:layoutUnit>

		<p:layoutUnit position="west" size="170"
			header="User: #{login.userId}" resizable="true" collapsible="true">
			<ui:include src="menu.xhtml">Menu</ui:include>
			<p:spacer height="5"></p:spacer>
			<h:form>
				<br />
				<p:commandButton value="Cerrar Sesión" onclick="eliminarCookies()"
					actionListener="#{login.logoutSimple()}" icon="fa fa-user-times" />
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<p:outputPanel ajaxRendered="true">
				<p:growl id="messages" escape="false" showDetail="true"
					autoUpdate="true" sticky="false" life="10000" />
			</p:outputPanel>
			<ui:insert name="content">Content</ui:insert>
		</p:layoutUnit>

		<p:layoutUnit position="east" size="200" header="Notas"
			resizable="true" collapsible="true" collapsed="true">
			<ui:include src="nota.xhtml">Nota</ui:include>
		</p:layoutUnit>

		<p:layoutUnit id="bottom" position="south" size="40">
			<div class="divPiePagina">
				<div style="text-align: center; padding-top: 10px;">
					<h:outputText style="color: #ffffff; text-align: center;"
						value="#{login.piePagina}" />
				</div>
			</div>
		</p:layoutUnit>

	</p:layout>
</body>

</html>
