<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<f:facet name="first">
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	</f:facet>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta content="private ,no-cache, no-store, must-revalidate" http-equiv="Cache-Control" />
	<meta content="no-cache" http-equiv="Pragma" />
	<meta content="0" http-equiv="Expires" />

	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/css/login.css" />
	<script type="text/javascript" src="#{request.contextPath}/resources/js/aplication.js"></script>
	<script type="text/javascript" src="#{request.contextPath}/resources/js/js.js"></script>

	<link rel="shortcut icon" href="#{request.contextPath}/resources/icons/favicon.png" type="image/x-icon" />

	<title>#{login.tituloAplicacion}</title>

</h:head>

<body style="background-color: rgb(0, 46, 110);" onload="loadXMLDoc();" >
	<div class="container-fluid">
		<div class="row"></div>
	</div>

	<ui:insert name="content">Content</ui:insert>

</body>

</html>

