<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml">
	<ui:define name="content">

		<h:form id="mainForm">

			<div class="border_div">BITACORA</div>

			<br />
			<p:dataTable var="row" value="#{bitacoraForm.listBitacora}" paginator="true" rows="50" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="50,100,150">

				<p:column sortBy="#{row.fecha}" filterBy="#{row.fecha}" headerText="FECHA" style="text-align: left; word-wrap: break-word; white-space: normal; width: 70px;" filterStyle="width: 60px;">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="ACCIONES" sortBy="#{row.accion}" filterBy="#{row.accion}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word; white-space: normal;">
					<h:outputText value="#{row.accion}" />
				</p:column>

				<p:column headerText="FORMULARIO" sortBy="#{row.formulario}" filterBy="#{row.formulario}" style="text-align: left; white-space: normal; word-wrap: break-word; width: 200px;">
					<h:outputText value="#{row.formulario}" />
				</p:column>

				<p:column headerText="USUARIO" sortBy="#{row.usuario}" filterBy="#{row.usuario}" style="text-align: left; word-wrap: break-word; white-space: normal; width: 80px;" filterStyle="width: 60px;">
					<h:outputText value="#{row.usuario}" />
				</p:column>

				<p:column headerText="DIRECCION IP" sortBy="#{row.direccionIp}" filterBy="#{row.direccionIp}" style="text-align: left; word-wrap: break-word; white-space: normal; width: 90px;" filterStyle="width: 60px;">
					<h:outputText value="#{row.direccionIp}" />
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>