<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				template="./../resources/templates/simple_layout.xhtml"
				xmlns:fnc="http://myco.co.uk/fnc">




	<ui:define name="content">

		<p:dialog modal="true" widgetVar="dialogHistorial" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" position="center, 50" appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif"
								onmousedown="return false" />
			</div>
		</p:dialog>
		<p:dialog modal="true" widgetVar="dialogBilletera" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" position="center, 50" appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>
		<p:dialog id="dialogCug" modal="true" widgetVar="dialogCug"
				  draggable="false" closable="false" resizable="false"
				  responsive="true" showHeader="false" position="center, 50"
				  appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif"
								onmousedown="return false" />
			</div>
		</p:dialog>
		<p:dialog modal="true" widgetVar="dialogCallingCircle"
				  draggable="false" closable="false" resizable="false"
				  responsive="true" showHeader="false" position="center, 50"
				  appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>
		<p:dialog modal="true" widgetVar="dialogVoucher" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" position="center, 50" appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>
		<p:dialog modal="true" widgetVar="dialogTab" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" closeOnEscape="true" position="center, 50"
				  appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" closeOnEscape="true" position="center, 50"
				  appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>


		<div class="border_div">CCC</div>
		<br />

		<h:panelGrid styleClass="panelGridAlignTop" columns="3"
					 style="width: 100%"
					 columnClasses="one-percent, two-percent, three-percent">
			<h:form id="form_cuenta">
				<p:poll id="pollTelnet" widgetVar="pollTelnet" interval="5"
						autoStart="false" listener="#{ccwsBean.refreshTelnet()}" />

				<p:panel id="panelCuenta" header="CUENTA"
						 style="width: 320px;  height:120px;">
					<h:panelGrid columns="2">

						<h:outputLabel value="Nro de Cuenta:" />
						<p:inputText id="itIsdn" value="#{ccwsBean.nro}" size="15"
									 maxlength="12" readonly="#{ccwsBean.readInput}"
									 autocomplete="off"
									 onkeypress="javascript:return validarNroEntero(event, this)"
									 style="text-align: right;" placeholder="Nro de Cuenta" />

						<p:remoteCommand name="rc"
										 update=":form_cuenta:panelCuenta :form_Incidente :form_tab :form_Subscriber  :form_tab:tabView:btVoucher :form_tab:tabView:btCalling :form_tab:tabView:btRefresh :form_tab:tabView:buttomSearch :form_tab:tabView:panelHistorial :form_tab:tabView:panelPeriodo :form_tab:tabView:panelOferta :form_tab:tabView:panelFavorito"
										 action="#{ccwsBean.validarIsdn()}" />

						<h:outputLabel value="" />

						<p:commandButton actionListener="#{ccwsBean.validarIsdn()}"
										 value="Validar"
										 update=":form_cuenta:panelCuenta :form_Incidente :form_Subscriber :form_tab :form_tab:tabView:btVoucher :form_tab:tabView:btCalling :form_tab:tabView:btRefresh :form_tab:tabView:buttomSearch :form_tab:tabView:panelHistorial :form_tab:tabView:panelPeriodo :form_tab:tabView:panelOferta :form_tab:tabView:panelFavorito"
										 icon="fa fa-check-circle" disabled="#{ccwsBean.readInput}"
										 onclick="PF('dialogContent').show();"
										 oncomplete="PF('dialogContent').hide();" />

						<p:commandButton actionListener="#{ccwsBean.limpiar()}"
										 value="Limpiar"
										 update=":form_cuenta:panelCuenta :form_Incidente :form_Subscriber :form_tab :form_tab:tabView:btVoucher :form_tab:tabView:btCalling :form_tab:tabView:btRefresh :form_tab:tabView:buttomSearch :form_tab:tabView:panelHistorial :form_tab:tabView:panelPeriodo :form_tab:tabView:panelOferta :form_tab:tabView:panelFavorito"
										 icon="fa fa-close" />


					</h:panelGrid>
				</p:panel>
			</h:form>

			<h:form id="form_Subscriber">
				<p:panelGrid id="panelGridSubscriber"
							 style="width: 250px;  height:120px;">
					<f:facet name="header">
						<p:row>
							<p:column>Type Subscriber</p:column>
							<p:column>Status Subscriber</p:column>
							<p:column>Recharge BlackList</p:column>
						</p:row>
					</f:facet>
					<p:row style="height:90px;">
						<p:column>
							<p:outputLabel value="#{ccwsBean.tipoSubscriber}" />
						</p:column>
						<p:column>
							<p:outputLabel value="#{ccwsBean.statusDetail}" />
						</p:column>
						<p:column>
							<p:outputLabel value="#{ccwsBean.blackList}" />
						</p:column>
					</p:row>
				</p:panelGrid>
			</h:form>
			<h:form id="form_Incidente">
				<h:panelGrid columns="1" style="width: 100%"
							 styleClass="panelGridRight">
					<p:commandButton actionListener="#{ccwsBean.guardarIncidente()}"
									 value="Registro Incidente" disabled="#{ccwsBean.disableIncidente}"
									 update=":form_Incidente" icon="fa fa-save" />

				</h:panelGrid>

			</h:form>
		</h:panelGrid>
		<h:form id="form_tab">

			<h:inputHidden id="isdn" value="#{ccwsBean.isdn}" />

			<p:tabView id="tabView" dynamic="true" cache="false"
					   style="width: 1000px;">

				<p:ajax event="tabChange" listener="#{ccwsBean.onTabChange}"
						onstart="PF('dialogTab').show();"
						oncomplete="PF('dialogTab').hide();" process="@this"
						update=":form_tab:isdn :form_tab:tabView:panelHistorial :form_Incidente" />

				<p:tab id="tab1" title="HISTORIAL TRANSACCIONES"
					   disabled="#{ccwsBean.disableTab}">

					<p:panel id="panelHistorial" style="width: 980px;">
						<f:facet name="header">
						</f:facet>


						<table>
							<tbody>
							<tr>
								<td><p:fieldset legend="Type">
									<p:panel id="panelCheckbox" style="border: 0px;">
										<f:facet name="header">
										</f:facet>
										<fnc:disablePanel disabled="#{ccwsBean.disableTab}">
											<table>
												<tbody>
												<tr>
													<td><p:selectManyCheckbox id="gridCheck"
																			  value="#{ccwsBean.listCheckboxSelected}" columns="3"
																			  layout="grid" converter="checkboxConverter">
														<f:selectItems value="#{ccwsBean.listCheckbox}"
																	   var="check" itemLabel="#{check.label}"
																	   itemValue="#{check}" itemDisabled="#{check.disabled}" />
													</p:selectManyCheckbox></td>
												</tr>
												<tr>
													<td style="padding-left: 12px;"><p:selectBooleanButton
															value="#{ccwsBean.all}" onLabel="All" offLabel="None"
															onIcon="ui-icon-check" offIcon="ui-icon-close"
															style="width:60px">
														<p:ajax update=":form_tab:tabView:panelCheckbox"
																listener="#{ccwsBean.selectAll()}" />
													</p:selectBooleanButton></td>
												</tr>

												</tbody>
											</table>
										</fnc:disablePanel>
									</p:panel>
								</p:fieldset></td>

								<td style="position: relative;"><p:fieldset
										legend="Period" style="top: 5px; position: absolute;">
									<p:panel id="panelPeriodo" style="border: 0px;">
										<f:facet name="header">
										</f:facet>
										<h:panelGrid columns="2">
											<h:panelGrid columns="2">
												<p:selectOneRadio id="sorDay"
																  value="#{ccwsBean.valueRadioDay}">
													<p:ajax event="valueChange"
															update=":form_tab:tabView:panelPeriodo"
															listener="#{ccwsBean.selectRadioDay()}" />
													<f:selectItem itemLabel="History For"
																  itemValue="History For"
																  itemDisabled="#{ccwsBean.disableTab}" />
												</p:selectOneRadio>
												<p:selectOneRadio id="sorBetween"
																  value="#{ccwsBean.valueRadioBetweenDay}"
																  disabled="#{ccwsBean.disableTab}">
													<p:ajax event="valueChange"
															update=":form_tab:tabView:panelPeriodo"
															listener="#{ccwsBean.selectRadioBetweenDay()}" />
													<f:selectItem itemLabel="Between Day"
																  itemValue="Between Day"
																  itemDisabled="#{ccwsBean.disableTab}" />
												</p:selectOneRadio>

												<h:panelGrid columns="2">
													<p:spinner id="spinDay" value="#{ccwsBean.daySelected}"
															   stepFactor="1" min="1" size="3"
															   onkeypress="javascript:return validarNroEntero(event, this)"
															   disabled="#{ccwsBean.disabledRadioDay}"
															   autocomplete="off" max="#{ccwsBean.maxDias}"
															   onkeyup="javascript:return validarEnter(event)" />
													<h:outputLabel value="Days" />
												</h:panelGrid>

												<h:panelGrid columns="2">
													<h:outputLabel value="From" />
													<p:calendar id="calStartDate"
																value="#{ccwsBean.fromDate}" pattern="dd/MM/yyyy"
																size="15" disabled="#{ccwsBean.disabledRadioBetweenDay}"
																styleClass="calendario" autocomplete="off" />
													<h:outputLabel value="To" />
													<p:calendar id="calEndDate" value="#{ccwsBean.toDate}"
																pattern="dd/MM/yyyy" size="15"
																disabled="#{ccwsBean.disabledRadioBetweenDay}"
																styleClass="calendario" autocomplete="off" />
												</h:panelGrid>

											</h:panelGrid>

										</h:panelGrid>
									</p:panel>
								</p:fieldset></td>
							</tr>
							</tbody>
						</table>


						<h:panelGrid columns="2" cellpadding="5">
							<p:commandButton id="buttomSearch"
											 actionListener="#{ccwsBean.lanzarHilos()}"
											 disabled="#{ccwsBean.disableButton}" value="Buscar"
											 onclick="PF('dialogHistorial').show();"
											 update=":form_tab:tabView:tableAccountHistory :form_Incidente :form_tab:tabView:tableBalanceDetails :form_tab:tabView:tableProperty :form_tab:tabView:buttomSearch"
											 oncomplete="PF('dialogHistorial').hide();"
											 icon="fa fa-binoculars" />
							<p:commandButton id="btRefresh" icon="fa fa-refresh"
											 value="Actualizar" actionListener="#{ccwsBean.refresh()}"
											 update=":form_tab:tabView:buttomSearch :form_tab:tabView:tableAccountHistory :form_tab:tabView:tableBalanceDetails :form_tab:tabView:tableProperty"
											 disabled="#{ccwsBean.disableTab}" />
							<p:poll id="poll" widgetVar="poll" interval="1"
									update=":form_tab:tabView:tableAccountHistory :form_tab:tabView:buttomSearch"
									autoStart="false" listener="#{ccwsBean.refresh()}" />

						</h:panelGrid>

						<p:fieldset legend="Account History" styleClass="container-fluid "
									style="display: block;  min-height: 510px;">

							<table>
								<tbody>
								<tr>
									<td>
										<div
												style="width: 617px; top: 5px; height: 400px; overflow: auto;">
											<p:dataTable id="tableAccountHistory" var="row"
														 value="#{ccwsBean.model}"
														 emptyMessage="Datos no encontrados"
														 selection="#{ccwsBean.selectedHistory}"
														 selectionMode="single" rowKey="#{row.id}" reflow="false"
														 rows="20" paginator="true"
														 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
														 rowsPerPageTemplate="5,10,15,20,30,50,70,100,150,200"
														 paginatorPosition="top" lazy="true"
														 tableStyle="table-layout: fixed; width: 600px;"
														 styleClass="historial_paginator">

												<p:ajax event="rowSelect"
														listener="#{ccwsBean.onRowSelectHistory()}"
														update=":form_tab:tabView:tableBalanceDetails :form_tab:tabView:tableProperty"
														onstart="PF('dialogHistorial').show();"
														oncomplete="PF('dialogHistorial').hide();" />
												<p:ajax event="rowUnselect"
														listener="#{ccwsBean.onRowUnselectHistory()}"
														update=":form_tab:tabView:tableBalanceDetails :form_tab:tabView:tableProperty" />

												<p:column headerText="Categoria" sortBy="#{row.categoria}"
														  filterBy="#{row.categoria}"
														  style="text-align: left; word-wrap: break-word; white-space: normal;"
														  filterStyle="width: 60px;">
													<h:outputText value="#{row.categoria}" />
												</p:column>

												<p:column headerText="Tipo Flujo" sortBy="#{row.tipoFlujo}"
														  filterBy="#{row.tipoFlujo}"
														  style="text-align: left; word-wrap: break-word; white-space: normal;"
														  filterStyle="width: 60px;">
													<h:outputText value="#{row.tipoFlujo}" />
												</p:column>

												<p:column headerText="Tipo Servicio"
														  sortBy="#{row.tipoServicio}"
														  filterBy="#{row.tipoServicio}"
														  style="text-align: left; word-wrap: break-word; white-space: normal;"
														  filterStyle="width: 60px;">
													<h:outputText value="#{row.tipoServicio}" />
												</p:column>

												<p:column headerText="Descripción Servicio"
														  sortBy="#{row.descripcionServicio}"
														  filterBy="#{row.descripcionServicio}"
														  style="text-align: left; word-wrap: break-word; white-space: normal;"
														  filterStyle="width: 60px;">
													<h:outputText value="#{row.descripcionServicio}" />
												</p:column>

												<p:column headerText="Fecha Hora" sortBy="#{row.startDate}"
														  filterBy="#{row.startDate}"
														  style="text-align: left; word-wrap: break-word; white-space: normal;"
														  filterStyle="width: 60px;">
													<h:outputText value="#{row.startDate}" />
												</p:column>
											</p:dataTable>
										</div>
									</td>

									<td style="position: relative;">
										<div
												style="width: 302px; top: 5px; position: absolute; height: 470px; overflow: auto;">
											<p:dataTable id="tableProperty" var="row"
														 value="#{ccwsBean.propertys}"
														 emptyMessage="Datos no encontrados"
														 styleClass="table-striped ui-datatable ui-corner-all table-hover"
														 tableStyle="table-layout: fixed; width: 285px; position: absolute;">

												<p:column headerText="Property Name"
														  style="word-wrap: break-word; white-space: normal; text-align: left; background-color: #{row.color};">
													<h:outputText value="#{row.propertyName}" />
												</p:column>

												<p:column headerText="Property Value"
														  style="word-wrap: break-word; white-space: normal; text-align: right; background-color: #{row.color};">
													<h:outputText value="#{row.propertyValue}" />
												</p:column>
											</p:dataTable>
										</div>
									</td>
								</tr>

								</tbody>
							</table>



						</p:fieldset>


						<br />
						<p:fieldset legend="Balance Details">
							<p:dataTable id="tableBalanceDetails" var="row"
										 value="#{ccwsBean.listBalanceDetail}"
										 emptyMessage="Datos no encontrados" reflow="false"
										 styleClass="ui-datatable ui-corner-all"
										 tableStyle="table-layout: auto;">

								<p:column headerText="BalanceTypeName"
										  style="text-align: #{row.textAlign}; word-wrap: break-word; white-space: normal; background-color: #{row.color}">
									<h:outputText value="#{row.balanceTypeName}" />
								</p:column>

								<p:column headerText="ChargeAmount"
										  style="text-align: right; word-wrap: break-word; white-space: normal; background-color: #{row.color}">
									<h:outputText value="#{row.chargeAmount}" />
								</p:column>

								<p:column headerText="CurrencyId"
										  style="text-align: left; word-wrap: break-word; white-space: normal; background-color: #{row.color}">
									<h:outputText value="#{row.currencyId}" />
								</p:column>

								<p:column headerText="ChargeCode"
										  style="text-align: left; word-wrap: break-word; white-space: normal; background-color: #{row.color}">
									<h:outputText value="#{row.chargeCode}" />
								</p:column>

								<p:column headerText="ChargeCodeName"
										  style="text-align: left; word-wrap: break-word; white-space: normal; background-color: #{row.color}">
									<h:outputText value="#{row.chargeCodeName}" />
								</p:column>

								<p:column headerText="CurrentAmount" rendered="#{ccwsBean.enabledColumnCurrentAmount}"
										  style="text-align: left; word-wrap: break-word; white-space: normal; background-color: #{row.color}">
									<h:outputText value="#{row.currentAmount}" />
								</p:column>

							</p:dataTable>
						</p:fieldset>
					</p:panel>

				</p:tab>

				<p:tab id="tab2" title="BILLETERAS"
					   disabled="#{ccwsBean.disableTab}">
					<p:panel id="panelBilleteras">
						<f:facet name="header">

						</f:facet>
						<h:panelGrid columns="1" cellpadding="5" style="width:100%;"
									 styleClass="panelGridRight">
							<p:commandButton id="btRefreshBilletera" icon="fa fa-refresh"
											 value="Actualizar" disabled="#{ccwsBean.disableButton}"
											 actionListener="#{ccwsBean.cargarBilleteras()}"
											 update=":form_tab:tabView:panelBilleteras :form_Incidente"
											 onclick="PF('dialogBilletera').show();"
											 oncomplete="PF('dialogBilletera').hide();" />
						</h:panelGrid>
						<p:fieldset legend="LifeCycleStatus " styleClass="form-group"
									toggleable="true" toggleSpeed="100" collapsed="true">
							<p:dataTable id="tableCycleStatus" var="row"
										 value="#{ccwsBean.lifeCycles}"
										 emptyMessage="Datos no encontrados" reflow="false"
										 styleClass="ui-corner-all" tableStyle="table-layout: auto;">

								<p:column headerText="StatusIndex" style="text-align: left;">
									<h:outputText value="#{row.statusIndex}" />
								</p:column>
								<p:column headerText="StatusName" style="text-align: left;">
									<h:outputText value="#{row.statusName}" />
								</p:column>
								<p:column headerText="StatusExpireTime"
										  style="text-align: center;">
									<h:outputText value="#{row.statusExpireTime}" escape="false" />
								</p:column>
							</p:dataTable>
						</p:fieldset>

						<p:fieldset legend="Balances" styleClass="form-group">
							<p:dataTable id="tableBilleteras" var="row"
										 value="#{ccwsBean.balances}" emptyMessage="Datos no encontrados"
										 selection="#{ccwsBean.selectedBalance}" selectionMode="single"
										 rowKey="#{row.id}" reflow="false" styleClass="ui-corner-all"
										 tableStyle="table-layout: auto;">

								<p:column headerText="Category"
										  style="text-align: left; background-color: #{row.color};">
									<h:outputText value="#{row.acctKey}" />
								</p:column>
								<p:column headerText="Balance Type"
										  style="text-align: center; background-color: #{row.color};">
									<h:outputText value="#{row.balanceType}" escape="false" />
								</p:column>

								<p:column headerText="BalanceTypeName"
										  style="text-align: left; background-color: #{row.color};">
									<h:outputText value="#{row.balanceTypeName}" />
								</p:column>

								<p:column headerText="Amount"
										  style="text-align: right; background-color: #{row.color};">
									<h:outputText value="#{row.totalBalance}" />
								</p:column>

								<p:column headerText="Reservation Amount"
										  style="text-align: right; background-color: #{row.color};">
									<h:outputText value="#{row.reservationAmount}" />
								</p:column>

								<p:column headerText="Total Amount"
										  style="text-align: right; background-color: #{row.color};">
									<h:outputText value="#{row.amount}" />
								</p:column>

								<p:column headerText="Unit Type"
										  style="text-align: left; background-color: #{row.color};">
									<h:outputText value="#{row.unitType}" />
								</p:column>

								<p:column headerText="Effective Time"
										  style="text-align: left; background-color: #{row.color};">
									<h:outputText value="#{row.effectiveTime}" />
								</p:column>

								<p:column headerText="Account Expiration"
										  style="text-align: left; background-color: #{row.color};">
									<h:outputText value="#{row.expireTime}" />
								</p:column>

								<p:column headerText="LifeCycle Expiration"
										  style="text-align: left; background-color: #{row.color};">
									<h:outputText value="#{row.statusExpireTime}" />
								</p:column>
							</p:dataTable>
						</p:fieldset>
					</p:panel>
				</p:tab>
				<p:tab id="tab3" title="OFERTAS" disabled="#{ccwsBean.disableTab}">
					<p:panel id="panelOferta">
						<center>
							<p:treeTable id="treeOfertas" value="#{ccwsBean.rootO}"
										 var="oferta" tableStyle="table-layout: auto;"
										 styleClass="ui-datatable ui-corner-all">

								<p:column headerText="Oferta" sortBy="#{oferta.oferta}"
										  style="word-wrap: break-word; background-color: #{oferta.color};">
									<h:outputText value="#{oferta.oferta}" />
								</p:column>
								<p:column headerText="Tipo" sortBy="#{oferta.tipo}"
										  style="word-wrap: break-word; background-color: #{oferta.color};">
									<h:outputText value="#{oferta.tipo}" />
								</p:column>
								<p:column headerText="Estado" sortBy="#{oferta.estado}"
										  style="word-wrap: break-word; background-color: #{oferta.color};">
									<h:outputText value="#{oferta.estado}" />
								</p:column>
								<p:column headerText="Bundled" sortBy="#{oferta.bundled}"
										  style="word-wrap: break-word; background-color: #{oferta.color};">
									<h:outputText value="#{oferta.bundled}" />
								</p:column>
								<p:column headerText="Clase Oferta"
										  sortBy="#{oferta.claseOferta}"
										  style="word-wrap: break-word; background-color: #{oferta.color};">
									<h:outputText value="#{oferta.claseOferta}" />
								</p:column>
							</p:treeTable>
						</center>
					</p:panel>
				</p:tab>
				<p:tab id="tab4" title="NRO FAVORITOS"
					   disabled="#{ccwsBean.disableTab}">
					<p:panel id="panelFavorito">
						<center>
							<p:treeTable id="treeFavoritos" value="#{ccwsBean.rootF}"
										 var="favorito" tableStyle="table-layout: auto;"
										 styleClass="ui-datatable ui-corner-all">

								<p:column headerText="Serial No" sortBy="#{favorito.serialNo}"
										  style="word-wrap: break-word; background-color: #{favorito.color};">
									<h:outputText value="#{favorito.serialNo}" />
								</p:column>
								<p:column headerText="Favorito" sortBy="#{favorito.favorito}"
										  style="word-wrap: break-word; background-color: #{favorito.color};">
									<h:outputText value="#{favorito.favorito}" />
								</p:column>
								<p:column headerText="Tipo" sortBy="#{favorito.tipo}"
										  style="word-wrap: break-word; background-color: #{favorito.color};">
									<h:outputText value="#{favorito.tipo}" />
								</p:column>
								<p:column headerText="Grupo" sortBy="#{favorito.grupo}"
										  style="word-wrap: break-word;background-color: #{favorito.color};">
									<h:outputText value="#{favorito.grupo}" />
								</p:column>
							</p:treeTable>
						</center>
					</p:panel>
				</p:tab>
				<p:tab id="tab5" title="CUG" disabled="#{ccwsBean.disableTab}">
					<p:fieldset legend="CUG INFO" styleClass="form-group">

						<h:panelGrid columns="2">
							<h:outputLabel value="CUG Name" />
							<p:inputTextarea value="#{ccwsBean.cug.cugName}" readonly="true"
											 style="width: 350px; text-align: left;" rows="1" />
							<h:outputLabel value="Group Key" />
							<p:inputTextarea value="#{ccwsBean.cug.groupKey}" readonly="true"
											 style="width: 350px; text-align: left;" rows="1" />
							<h:outputLabel value="Group Code" />
							<p:inputTextarea value="#{ccwsBean.cug.groupCode}"
											 readonly="true" style="width: 350px; text-align: left;" rows="1" />
							<h:outputLabel value="Short Dial Code" />
							<p:inputTextarea value="#{ccwsBean.cug.shortDialCode}"
											 readonly="true" style="width: 350px; text-align: left;" rows="1" />
							<h:outputLabel value="CUG Access Type" />
							<p:inputTextarea value="#{ccwsBean.cug.cugMemberTypeCode}"
											 readonly="true" style="width: 350px; text-align: left;" rows="1" />
						</h:panelGrid>
					</p:fieldset>
				</p:tab>

				<p:tab id="tab6" title="CALLING CIRCLE"
					   disabled="#{ccwsBean.disableTab}">
					<p:panel id="panelCallingCircle">
						<f:facet name="header">
						</f:facet>
						<p:fieldset legend="Calling Circle Information"
									styleClass="form-group">
							<h:panelGrid columns="3">
								<h:outputLabel value="Group Key" />
								<p:inputText value="#{ccwsBean.circleName}" size="30"
											 autocomplete="off" disabled="#{ccwsBean.disableTab}" />
								<p:commandButton id="btCalling" icon="fa fa-binoculars"
												 value="Buscar" action="#{ccwsBean.cargarCallingCircle()}"
												 update=":form_tab:tabView:panelCallingCircle :form_Incidente"
												 onclick="PF('dialogCallingCircle').show();"
												 oncomplete="PF('dialogCallingCircle').hide();"
												 disabled="#{ccwsBean.disableTab}" />
							</h:panelGrid>
						</p:fieldset>

						<p:fieldset legend="Calling Circle List" styleClass="form-group">
							<div align="center"
								 style="width: 300px; left: 200px; top: 0px; height: 300px; overflow: auto; margin: 0 auto;">
								<p:dataTable var="reg" value="#{ccwsBean.callingCircles}"
											 filterBy="#{reg.primaryIdentity}" reflow="true"
											 styleClass="ui-corner-all"
											 selection="#{ccwsBean.selectedPrimaryIdentity}"
											 selectionMode="single" rowKey="#{reg.primaryIdentity}"
											 style="margin-bottom:0px" paginator="true"
											 paginatorPosition="top" rows="50"
											 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											 currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"
											 rowsPerPageTemplate="5,10,30,50">

									<p:ajax event="rowSelect" listener="#{ccwsBean.onRowSelect}"
											update=":form_tab:tabView:callingcirclepool" />

									<p:column headerText="Primary Identity"
											  filterBy="#{reg.primaryIdentity}">
										<h:outputText value="#{reg.primaryIdentity}" />
									</p:column>
								</p:dataTable>
							</div>
						</p:fieldset>

						<p:fieldset legend="Calling Circle Pool" styleClass="form-group">
							<p:dataTable var="item" id="callingcirclepool"
										 value="#{ccwsBean.callingCirclesProperties}" reflow="true"
										 styleClass="table table-striped table-hover ui-corner-all">
								<p:column headerText="Code">
									<h:outputText value="#{item.code}" />
								</p:column>
								<p:column headerText="Value">
									<h:outputText value="#{item.value}" />
								</p:column>
							</p:dataTable>
						</p:fieldset>
					</p:panel>
				</p:tab>

				<p:tab id="tab7" title="VOUCHER" disabled="#{ccwsBean.disableTab}"
					   rendered="false">
					<p:panel id="panelVoucher">
						<f:facet name="header">
						</f:facet>
						<p:fieldset legend="Voucher Information" styleClass="form-group">
							<h:panelGrid columns="5">
								<h:outputLabel value="Batch Number" />
								<p:inputText value="#{ccwsBean.batchNumber}" autocomplete="off"
											 disabled="#{ccwsBean.disableTab}" />
								<h:outputLabel value="Serial Number" />
								<p:inputText value="#{ccwsBean.serialNumber}" autocomplete="off"
											 disabled="#{ccwsBean.disableTab}" />
								<p:commandButton id="btVoucher" icon="fa fa-binoculars"
												 value="Buscar" action="#{ccwsBean.cargarVoucher()}"
												 update=":form_tab:tabView:panelVoucher"
												 onclick="PF('dialogVoucher').show();"
												 oncomplete="PF('dialogVoucher').hide();"
												 disabled="#{ccwsBean.disableTab}" />
							</h:panelGrid>
						</p:fieldset>

						<p:fieldset legend="Monetary Information" styleClass="form-group">
							<h:panelGrid columns="4">
								<h:outputLabel value="Face Value" />
								<p:inputText value="#{ccwsBean.voucher.faceValue}"
											 readonly="true" />
								<h:outputLabel value="Currency" />
								<p:inputText value="#{ccwsBean.voucher.currency}"
											 readonly="true" />
							</h:panelGrid>
						</p:fieldset>

						<p:fieldset legend="Other Information" styleClass="form-group">
							<h:panelGrid columns="4">
								<h:outputLabel value="Service Provider" />
								<p:inputText value="#{ccwsBean.voucher.serviceProvider}"
											 readonly="true" style="width: 200px;" />
								<h:outputLabel value="Used By" />
								<p:inputText value="#{ccwsBean.voucher.rechargeNumber}"
											 readonly="true" style="width: 200px;" />

								<h:outputLabel value="Date Used" />
								<p:inputText value="#{ccwsBean.voucher.dateUsed}"
											 readonly="true" style="width: 200px;" />
								<h:outputLabel value="Card Start Date" />
								<p:inputText value="#{ccwsBean.voucher.cardStartDate}"
											 readonly="true" style="width: 200px;" />

								<h:outputLabel value="COS Name" />
								<p:inputText value="#{ccwsBean.voucher.cardCosName}"
											 readonly="true" style="width: 200px;" />
								<h:outputLabel value="Expiration Date" />
								<p:inputText value="#{ccwsBean.voucher.expirationDate}"
											 readonly="true" style="width: 200px;" />

								<h:outputLabel value="COS ID" />
								<p:inputText value="#{ccwsBean.voucher.cardCosId}"
											 readonly="true" style="width: 200px;" />
								<h:outputLabel value="Card State" />
								<p:inputText value="#{ccwsBean.voucher.cardState}"
											 readonly="true" style="width: 200px;" />
							</h:panelGrid>
						</p:fieldset>

						<p:fieldset legend="Voucher Operation" styleClass="form-group">

							<p:dataTable var="item" value="#{ccwsBean.listVoucherOperation}"
										 reflow="false"
										 styleClass="table table-striped table-hover ui-corner-all"
										 rows="10" paginator="true"
										 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										 rowsPerPageTemplate="5,10,15,20,30,50" paginatorPosition="top"
										 tableStyle="table-layout: auto;">
								<p:column headerText="Operation Type"
										  sortBy="#{item.operationType}">
									<h:outputText value="#{item.operationType}" />
								</p:column>

								<p:column headerText="Operation Date"
										  sortBy="#{item.operationDate}" priority="1">
									<h:outputText value="#{item.operationDate}" />
								</p:column>

								<p:column headerText="Operation Reason"
										  sortBy="#{item.operationReason}" priority="2">
									<h:outputText value="#{item.operationReason}" />
								</p:column>
							</p:dataTable>
						</p:fieldset>
					</p:panel>
				</p:tab>
			</p:tabView>

		</h:form>


	</ui:define>
</ui:composition>
