<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
>

    <ui:define name="content">

        <script type="text/javascript">
            function start() {
                PF('dialogContent').show();
            }

            function stop() {
                PF('dialogContent').hide();
            }
        </script>

        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }

            .ui-button-text-only .ui-button-text {
                padding: 0.3em 0.4em;
            }

            .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
                visibility: hidden;
            }

            .ui-filter-column .ui-column-customfilter .custom-filter {
                width: 100%;
                box-sizing: border-box;
            }

            .year-spinner input {
                width: 100%;
                box-sizing: border-box;
            }
        </style>

        <p:dialog modal="true" widgetVar="dialogContent" draggable="false"
                  closable="false" resizable="false" responsive="true"
                  showHeader="false" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)">
            <div align="center">
                <p:graphicImage value="/resources/icons/processing2.gif" />
            </div>
        </p:dialog>

        <div class="border_div">Configuracion Tigo te Presta</div>
        <br />
        <h:form id="mainForm">
            <p:growl id="growlParametros" showDetail="true" sticky="false" />
            <p:panel>
                <h:panelGrid columns="2">
                    <p:selectOneMenu style="width:300px" value="#{parametrosTTPBean.select}">
                        <f:selectItem itemLabel="Seleccione un tipo" itemValue="0" />
                        <f:selectItems value="#{parametrosTTPBean.selectItems}"  />
                        <p:ajax event="change" listener="#{parametrosTTPBean.cargarParametros()}" update="parametros" />
                    </p:selectOneMenu>
                </h:panelGrid>
            </p:panel>
            <br />
            <p:fieldset id="fldContentTablaParametros" legend="Editar Parametros">
                <p:dataTable id="parametros" var="p" widgetVar="tablaParametros"
                             value="#{parametrosTTPBean.parametros}" rows="50" paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="50,100,150" style="margin-bottom:20px"
                             paginatorPosition="top"
                             filteredValue="#{parametrosTTPBean.filteredParametros}">

                    <p:column filterBy="#{p.idPropertie}" headerText="ID"
                                         sortBy="#{p.idPropertie}" filterMatchMode="contains" style="word-wrap: break-word;">
                    <h:outputText value="#{p.idPropertie}" />
                </p:column>
                    <p:column filterBy="#{p.nombre}" headerText="NOMBRE"
                              sortBy="#{p.nombre}" filterMatchMode="contains" style="word-wrap: break-word;">
                        <h:outputText value="#{p.nombre}" />
                    </p:column>
                    <p:column filterBy="#{p.tipo}" sortBy="#{p.tipo}"
                              headerText="TIPO DE DATO" filterMatchMode="contains" style="word-wrap: break-word;">
                        <h:outputText value="#{p.tipo}" />
                    </p:column>
                    <p:column filterBy="#{p.valor}" headerText="VALOR"
                              sortBy="#{p.valor}" filterMatchMode="contains" style="word-wrap: break-word;">
                        <h:outputText value="#{p.valor}" />
                    </p:column>
                    <p:column filterBy="#{p.descripcion}" headerText="DESCRIPCION"
                              sortBy="#{p.descripcion}" filterMatchMode="contains" style=" word-wrap: break-word;">
                        <h:outputText value="#{p.descripcion}" />
                    </p:column>
                    <p:column filterBy="#{p.ttpTipoPropertieEntity.nombre}" sortBy="#{p.ttpTipoPropertieEntity.nombre}"
                              headerText="TIPO DE PARAMETRO" filterMatchMode="contains">
                        <h:outputText value="#{p.ttpTipoPropertieEntity.nombre}" />
                    </p:column>
                    <p:column headerText="Editar" style="width:40px">
                        <p:commandButton
                                actionListener="#{parametrosTTPBean.selectEditarParametro(p)}"
                                icon="ui-icon-pencil" style="margin-right:20px;"
                                title="Editar Parametro"
                                update=":formEditParametro:editParmatros"
                                oncomplete="PF('editParametroDialog').show()"></p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button"
                                     styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
                </p:confirmDialog>
            </p:fieldset>
        </h:form>

        <p:dialog header="Editar Valor de Parametro Tigo te Presta"
                  widgetVar="editParametroDialog" modal="true" position="center, 50"
                  appendTo="@(body)" draggable="false" closable="false"
                  resizable="false" width="550">
            <h:form id="formEditParametro">
                <h:panelGrid id="editParmatros" columns="2">
                    <h:outputText value="Id:" />
                    <p:inputText
                            value="#{parametrosTTPBean.selectedParametro.idPropertie}"
                            maxlength="19"  disabled="true"/>
                    <h:outputText value="Nombre:" />
                    <p:inputText value="#{parametrosTTPBean.selectedParametro.nombre}"
                                 maxlength="19" disabled="true"/>
                    <h:outputText value="Valor:" />
                    <p:inputText
                            value="#{parametrosTTPBean.selectedParametro.valor}"
                            maxlength="200" style="width: 405px; text-align: left;" rows="2"/>
                    <h:outputText />

                    <h:panelGrid columns="2">
                        <p:commandButton value="Aceptar"
                                         onclick="PF('dialogContent').show();"
                                         actionListener="#{parametrosTTPBean.editarParametro}"
                                         update=":mainForm:parametros :mainForm:growlParametros"
                                         oncomplete="PF('tablaParametros').filter();PF('dialogContent').hide();" />
                        <p:commandButton value="Cancelar"
                                         actionListener="#{parametrosTTPBean.cargarDatos}"
                                         update=":mainForm:parametros"
                                         oncomplete="PF('tablaParametros').filter();PF('editParametroDialog').hide();" />
                    </h:panelGrid>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>