<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" template="./../resources/templates/simple_layout.xhtml">

	<ui:define name="content">

		<h:form id="formParam">

			<div class="border_div">...::: CONFIGURACIÓN DE FECHA LIMITE DE REPORTES :::...</div>
			<br />

			<div class="layout-breadcrumb"></div>

			<div class="layout-content-container">
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<!-- Left Side -->
						<div class="card no-margin">

							<h:form id="formparams">
								<div class="ui-fluid">
									<div class="ui-g-6">
										<p:messages display="text" showDetail="true" globalOnly="true" showSummary="true"></p:messages>
									</div>


										<p:panelGrid id="pgrid" columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8"
													 styleClass="ui-panelgrid-blank">

											<p:panelGrid columns="1" layout="grid"
														 columnClasses="ui-grid-col-12"
														 styleClass="ui-panelgrid-blank">
												<p:outputLabel value="Reporte de Histórico de subscripciones y equipos" style="font-weight: bold;"></p:outputLabel>
												<p>Descripcion Reporte de Histórico de subscripciones y equipos</p>
											</p:panelGrid>

											<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12"
														 styleClass="ui-panelgrid-blank">
												<p:inputText  value="1"  size="30" />

												<span></span>
											</p:panelGrid>

										</p:panelGrid>


									<p:panelGrid id="idPanel" columns="3" layout="grid"
												 columnClasses="ui-grid-col-9,ui-grid-col-1,ui-grid-col-1"
												 styleClass="ui-panelgrid-blank">

										<span></span>

										<p:commandButton id="btn_guardar" style="margin-right:20px;"
														 value="Guardar"
														 actionListener="#{configParameters.updateParams}">

										</p:commandButton>

										<p:commandButton id="btn_cancelar" immediate="true"
														 style="margin-right:20px;" value="Cancelar"
														 action="/view/menu.xhtml?faces-redirect=true" />

									</p:panelGrid>

								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</h:form>


	</ui:define>
</ui:composition>