<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
		</script>


		<script type="text/javascript">

			function getZonaHoraria() {
                var tz = jstz.determine();
                //console.log(tz.name())
                passToJSFMBImei([{
                    name: 'nameParamImei',
                    value: tz.name()
                }]);
            }

		</script>


		<style type="text/css">
			input {
				width: 100%;
				box-sizing: border-box;
			}

			.text-center {
				text-align: center;
			}
		</style>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" closeOnEscape="true" position="center, 50"
				  appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">..:: Detalle de Transacciones ::..</div>
		<br />

		<h:form id="idForm">
			<p:panel id="panel_cuenta" header="Reporte de detalle de transacciones"
					 width="90%">
				<h:panelGrid columns="1" width="100%"
							 columnClasses="ui-grid-col-3,ui-grid-col-9">
					<p:fieldset legend="Cuenta">
						<h:panelGrid id="idPanel" columns="2" width="100%">
							<h:outputLabel value="Nro de telefono:" />
							<p:inputText size="15" maxlength="8"
										 placeholder="Nro de telefono" value="#{detalleTransaccionBean.msisdn}">
							</p:inputText>
						</h:panelGrid>

						<p:commandButton id="btnPortacion" for="btnTarifa" value="Buscar"
										 icon="fa fa-binoculars" update=":idForm:fielDatoSmsSend"
										 actionListener="#{detalleTransaccionBean.listarDetalleTransaccion()}"
										 style="margin-left:10px;" onclick="getZonaHoraria()"
										 oncomplete="PF('dialogContent').hide();" />

						<p:commandButton id="btnLimpiar" value="Limpiar"
										 actionListener="#{detalleTransaccionBean.limpiar}" icon="fa fa-times"
										 update=":idForm:panel_cuenta :idForm:fielDatoSmsSend"
										 style="margin-left:10px;" />

						<p:remoteCommand name="passToJSFMBImei" action="#{detalleTransaccionBean.remoteAction()}" />

					</p:fieldset>
				</h:panelGrid>
				<br />
				<p:fieldset id="fielDatoSmsSend" legend="Información">
					<c:if
							test="#{detalleTransaccionBean.lstDetalleTransaccion != null and not empty detalleTransaccionBean.lstDetalleTransaccion}">
						<p:dataTable var="item" value="#{detalleTransaccionBean.lstDetalleTransaccion}" sortBy="#{item.fechaHora}" sortOrder="DESCENDING">
							<f:facet name="header">
							</f:facet>
							<p:column headerText="Fecha y hora" styleClass="text-center" sortBy="#{item.fechaHora}">
								<h:outputText value="#{item.fechaHora}">
									<f:convertDateTime pattern="#{detalleTransaccionBean.patternFecha}"/>
								</h:outputText>
							</p:column>
							<p:column headerText="Tipo transaccion" styleClass="text-center" sortBy="#{item.tipoTransaccion}">
								<h:outputText value="#{item.tipoTransaccion}" />
							</p:column>
							<p:column headerText="Monto Bs." styleClass="text-center" sortBy="#{item.monto}">
								<h:outputText value="#{item.monto}" >
									<f:convertNumber minFractionDigits = "2" />
								</h:outputText>
							</p:column>
						</p:dataTable>
					</c:if>
					<c:if
							test="#{detalleTransaccionBean.lstDetalleTransaccion == null and empty detalleTransaccionBean.lstDetalleTransaccion}">
						<div class="ui-g-12 ui-md-3">No hay resultados para esta
							busqueda.</div>
					</c:if>
				</p:fieldset>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>