<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
>

	<ui:define name="content">

		<script type="text/javascript">
			function start() {
				PF('dialogContent').show();
			}

			function stop() {
				PF('dialogContent').hide();
			}
		</script>

		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}

.ui-button-text-only .ui-button-text {
	padding: 0.3em 0.4em;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
	visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
	width: 100%;
	box-sizing: border-box;
}

.year-spinner input {
	width: 100%;
	box-sizing: border-box;
}
</style>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">Parametros Servicios BCCS</div>
		<br />
		<h:form id="mainForm">
			<p:growl id="growlParametros" showDetail="true" sticky="false" />
			<p:fieldset legend="Registrar Parametros">
				<h:panelGrid columns="2" id="contentDatosParametros">
					<h:outputText value="Codigo Servicio BCCS:" />
					<p:inputText id="codigoBCCS" value="#{parametrosBean.codigoBCCS}"
						maxlength="19" />
					<h:outputText value="ID Servicio:" />
					<p:inputText value="#{parametrosBean.idServicio}" maxlength="19" />
					<h:outputText value="Nombre Servicio:" />
					<p:inputText value="#{parametrosBean.nombreServicio}"
						maxlength="200" />
					<h:outputText />
					<h:panelGrid columns="2">
						<p:commandButton value="Registrar"
							onclick="PF('dialogContent').show();"
							update=":mainForm:parametros :mainForm:growlParametros :mainForm:contentDatosParametros"
							oncomplete="PF('tablaParametros').filter();PF('dialogContent').hide();"
							actionListener="#{parametrosBean.registrarParametro}" />
						<p:commandButton value="Limpiar"
							update=":mainForm:parametros :mainForm:growlParametros :mainForm:contentDatosParametros"
							actionListener="#{parametrosBean.limpiarDatos}" />
					</h:panelGrid>
				</h:panelGrid>
			</p:fieldset>
			<br />
			<p:fieldset id="fldContentTablaParametros" legend="Editar Parametros">
				<p:dataTable id="parametros" var="p" widgetVar="tablaParametros"
					value="#{parametrosBean.parametros}" rows="10" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" style="margin-bottom:20px"
					paginatorPosition="top"
					filteredValue="#{parametrosBean.filteredParametros}">
					<p:column filterBy="#{p.codeServiceBCCS}" headerText="Codigo BCCS"
						sortBy="#{p.codeServiceBCCS}" filterMatchMode="contains">
						<h:outputText value="#{p.codeServiceBCCS}" />
					</p:column>
					<p:column filterBy="#{p.serviceId}" headerText="Id Servicio"
						sortBy="#{p.serviceId}" filterMatchMode="contains">
						<h:outputText value="#{p.serviceId}" />
					</p:column>
					<p:column filterBy="#{p.serviceName}" sortBy="#{p.serviceName}"
						headerText="Nombre de Servicio" filterMatchMode="contains">
						<h:outputText value="#{p.serviceName}" />
					</p:column>
					<p:column headerText="Editar" style="width:40px">
						<p:commandButton
							actionListener="#{parametrosBean.selectEditarParametro(p)}"
							icon="ui-icon-pencil" style="margin-right:20px;"
							title="Editar Parametro"
							update=":formEditParametro:editParmatros"
							oncomplete="PF('editParametroDialog').show()"></p:commandButton>
					</p:column>
					<p:column headerText="Eliminar" style="width:40px">
						<p:commandButton
							oncomplete="PF('tablaParametros').filter();PF('dialogContent').hide();"
							actionListener="#{parametrosBean.eleminarParametro(p)}"
							icon="ui-icon-closethick" style="margin-right:20px;"
							update=":mainForm:parametros :mainForm:growlParametros"
							title="Eliminar Parametro" onclick="PF('dialogContent').show();">
							<p:confirm header="Eliminar Servicio"
								message="¿Desea eliminar el parametro de servicio?" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
				</p:confirmDialog>
			</p:fieldset>
		</h:form>

		<p:dialog header="Editar Codigo Servicios BBCS"
			widgetVar="editParametroDialog" modal="true" position="center, 50"
			appendTo="@(body)" draggable="false" closable="false"
			resizable="false" width="350">
			<h:form id="formEditParametro">
				<h:panelGrid id="editParmatros" columns="2">
					<h:outputText value="Codigo BCCS:" />
					<p:inputText
						value="#{parametrosBean.selectedParametro.codeServiceBCCS}"
						maxlength="19" />
					<h:outputText value="Id Servicio:" />
					<p:inputText value="#{parametrosBean.selectedParametro.serviceId}"
						maxlength="19" />
					<h:outputText value="Nombre Servicio:" />
					<p:inputText
						value="#{parametrosBean.selectedParametro.serviceName}"
						maxlength="200" />
					<h:outputText />
					<h:panelGrid columns="2">
						<p:commandButton value="Aceptar"
							onclick="PF('dialogContent').show();"
							actionListener="#{parametrosBean.editarParametro}"
							update=":mainForm:parametros :mainForm:growlParametros"
							oncomplete="PF('tablaParametros').filter();PF('dialogContent').hide();" />
						<p:commandButton value="Cancelar"
							actionListener="#{parametrosBean.cargarDatos}"
							update=":mainForm:parametros"
							oncomplete="PF('tablaParametros').filter();PF('editParametroDialog').hide();" />
					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>