<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
>

    <ui:define name="content">

        <script type="text/javascript">
            function start() {
                PF('dialogContent').show();
            }

            function stop() {
                PF('dialogContent').hide();
            }
        </script>

        <style type="text/css">
            .ui-datatable {
                max-width: 100%;
                margin-bottom: 20px;
            }

            .ui-datatable-frozenlayout-left {
                width: 20%;
            }

            .ui-datatable-frozenlayout-right {
                width: 80%;
            }
        </style>

        <p:dialog modal="true" widgetVar="dialogContent" draggable="false"
                  closable="false" resizable="false" responsive="true"
                  showHeader="false" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)">
            <div align="center">
                <p:graphicImage value="/resources/icons/processing2.gif" />
            </div>
        </p:dialog>
        <div class="border_div">Deudas Tigo Te Presta Lineas Postpago</div>
        <br />
        <h:form id="mainForm">
            <h:panelGrid width="100%" columns="4"
                         columnClasses="col1-deuda, col2-deuda, col3-deuda, col4-deuda">
                <p:outputLabel value="" />
                <p:outputLabel value="" />
                <p:inputText id="itIsdn" value="#{deudaBean.isdn}" size="15"
                             maxlength="12" autocomplete="off"
                             onkeypress="javascript:return validarNroEntero(event, this)"
                             style="text-align: right;" placeholder="Nro de Cuenta" />
                <p:commandButton id="buttomBuscar"
                                 actionListener="#{deudaBean.buscar('postpago')}" value="Buscar"
                                 onclick="PF('dialogContent').show();"
                                 update=":mainForm:tableDeudas :dlgIdMsg :mainForm :mainForm:buttomVerDetalleDeuda :mainForm:clExportar"
                                 oncomplete="PF('dialogContent').hide();" />

            </h:panelGrid>

            <p:fieldset legend="Deudas">
                <h:panelGrid columns="2">
                    <p:dataTable id="tableDeudas" var="row"
                                 value="#{deudaBean.listaDeudaPostPago}" rows="15" paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,15,20,30,50,70,100"
                                 filteredValue="#{deudaBean.listaDeudaFiltered}" reflow="false"
                                 paginatorPosition="top" rowKey="#{row.id}"
                                 selection="#{deudaBean.deudaSeleccionada}">

                        <p:ajax event="rowSelectRadio"
                                listener="#{deudaBean.onRowSelectRadio}"
                                update=":mainForm :mainForm:buttomVerDetalleDeuda :mainForm:clExportar" />

                        <p:column headerText="ID" sortBy="#{row.id}"
                                  style="text-align: left; word-wrap: break-word; white-space: normal;width: 50px; background-color: #{row.color};">
                            <h:outputText value="#{row.id}" />
                        </p:column>

                        <p:column headerText="Fecha Portación"
                                  sortBy="#{row.fechaPortatacion}"
                                  filterStyle="text-align: center;"
                                  style="text-align: center;  word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="#{row.fechaPortatacion}">
                                <f:convertDateTime
                                        pattern="#{deudaBean.patronFechaDetalleDeuda}" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Estado" sortBy="#{row.estadoPantalla}"
                                  style="text-align: left;  word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="#{row.estadoPantalla}" />
                        </p:column>

                        <p:column headerText="Fecha Estado" sortBy="#{row.fechaEstado}"
                                  filterStyle="text-align: center;"
                                  style="text-align: center;  word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="#{row.fechaEstado}">
                                <f:convertDateTime
                                        pattern="#{deudaBean.patronFechaDetalleDeuda}" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Monto Pendiente de Pago"
                                  sortBy="#{row.deuda}"
                                  style="text-align: center;  word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="Bs. #{deudaBean.doubleToString(row.deuda)}" />
                        </p:column>

                        <p:column headerText="Corte" sortBy="#{row.corte}"
                                  style="text-align: center; word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="#{row.corte}" />
                        </p:column>

                        <p:column headerText="Fecha Vencimiento"
                                  sortBy="#{row.fechaVencimiento}"
                                  filterStyle="text-align: center;"
                                  style="text-align: center;  word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText
                                    value="#{row.fechaVencimiento != null ? row.fechaVencimiento : '-' }">
                                <f:convertDateTime
                                        pattern="#{deudaBean.patronFechaDetalleDeuda}" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Estado" sortBy="#{row.tipo}"
                                  style="text-align: center; word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="#{row.tipo}" />
                        </p:column>

                        <p:column headerText="Serie" sortBy="#{row.serie}"
                                  style="text-align: left; word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="#{row.serie}" />
                        </p:column>

                        <p:column headerText="Número" sortBy="#{row.numero}"
                                  style="text-align: left; word-wrap: break-word; white-space: normal; background-color: #{row.color};">
                            <h:outputText value="#{row.numero}" />
                        </p:column>

                        <p:column selectionMode="single"
                                  style="text-align: center; word-wrap: break-word; white-space: normal; width: 20px; background-color: #{row.color};" />

                    </p:dataTable>


                    <h:panelGrid columns="1">

                        <p:commandButton id="buttomVerDetalleDeuda"
                                         actionListener="#{deudaBean.verDetalle()}" value="Ver Detalle"
                                         update=":dlgIdDetalleDeuda"
                                         oncomplete="PF('dlgDetalleDeuda').show();" style="width: 95px;"
                                         disabled="#{deudaBean.habilitadoBotonCrearCNS}" />
                        <p:commandButton id="clExportar" value="Exportar"
                                         actionListener="#{deudaBean.exportar('VERIFICAR_CNS','postpago')}"
                                         ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);"
                                         disabled="#{deudaBean.habilitadoBotonCrearCNS}"
                                         icon="ui-icon-arrowthick-1-s" style="width: 95px;">
                            <p:fileDownload value="#{deudaBean.file}" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Si" type="button"
                                             styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                            <p:commandButton value="No" type="button"
                                             styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                    </h:panelGrid>
                </h:panelGrid>
            </p:fieldset>
        </h:form>

        <p:dialog id="dlgIdCrearCNS" widgetVar="dlgCrearCNS" modal="true"
                  closeOnEscape="false" position="center, 50" appendTo="@(body)"
                  draggable="false" closable="false" resizable="false"
                  styleClass="quitar_header_de_dialog"
                  visible="#{deudaBean.habilitarDialogCns}">
            <p:panel header="Información">
                <h:panelGrid columns="1" style="text-align: center;">
                    <p:panel style="border: 0px;">
                        <h:panelGrid columns="1" style="text-align: left;">
                            <h:outputText value="CNS creado!!"
                                          style="font-weight: bold; font-size: 15px;" />
                            <p:panel>
                                <h:panelGrid columns="2">
                                    <h:outputText value="Tipo:" style="font-weight: bold;" />
                                    <h:outputText value="#{deudaBean.cns.tipo}" />
                                    <h:outputText value="Serie:" style="font-weight: bold;" />
                                    <h:outputText value="#{deudaBean.cns.serie}" />
                                    <h:outputText value="Número:" style="font-weight: bold;" />
                                    <h:outputText value="#{deudaBean.cns.numero}" />
                                </h:panelGrid>
                            </p:panel>
                        </h:panelGrid>
                    </p:panel>
                    <h:form id="formDlgCns">
                        <p:commandButton id="buttomExportarCns" value="Exportar"
                                         actionListener="#{deudaBean.exportar('DETALLE_DEUDA_CNS','postpago')}"
                                         ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);"
                                         icon="ui-icon-arrowthick-1-s" style="width: 95px;">
                            <p:fileDownload value="#{deudaBean.file}" />
                        </p:commandButton>
                    </h:form>

                    <p:commandButton id="buttomAceptarCrearCNS"
                                     actionListener="#{deudaBean.aceptarCrearCNS()}" value="Aceptar"
                                     update=":mainForm:tableDeudas :dlgIdCrearCNS :dlgIdMsg :mainForm :mainForm:buttomVerDetalleDeuda :mainForm:clExportar"
                                     style="width: 95px;" onclick="PF('dialogContent').show();"
                                     oncomplete="PF('dlgCrearCNS').hide(); PF('dialogContent').hide();" />
                </h:panelGrid>

            </p:panel>
        </p:dialog>

        <p:dialog id="dlgIdMsg" widgetVar="dlgMsg" modal="true"
                  closeOnEscape="false" position="center, 50" appendTo="@(body)"
                  draggable="false" closable="false" resizable="false"
                  styleClass="quitar_header_de_dialog"
                  visible="#{deudaBean.habilitarDialogMsg}">
            <p:panel header="Information">
                <h:panelGrid columns="1" style="text-align: center;">
                    <p:panel style="border: 0px;">
                        <h:outputText value="#{deudaBean.msgErrorCrearCNS}"
                                      style="font-size: 15px;" />
                    </p:panel>
                    <p:commandButton value="Aceptar"
                                     actionListener="#{deudaBean.aceptarDialogMensaje()}"
                                     update=":mainForm:tableDeudas :dlgIdCrearCNS :dlgIdMsg :mainForm :mainForm:buttomVerDetalleDeuda :mainForm:clExportar"
                                     oncomplete="PF('dlgMsg').hide();" style="width: 95px;" />
                </h:panelGrid>
            </p:panel>
        </p:dialog>

        <p:dialog id="dlgIdDetalleDeuda" widgetVar="dlgDetalleDeuda"
                  modal="true" closeOnEscape="false" position="center, 50"
                  appendTo="@(body)" draggable="false" closable="false"
                  resizable="false"
                  styleClass="tabla-detalle-deuda quitar_header_de_dialog">
            <h:panelGrid columns="1" style="text-align: center; ">
                <p:panel header="Detalle de deudas TTP: Linea #{deudaBean.isdn}"
                         style="text-align: left;">

                    <p:dataTable id="tableDetalleDeudas" var="row"
                                 value="#{deudaBean.listaDetalleDeuda}" rows="10" paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15,20,30,50,70,100"
                                 filteredValue="#{deudaBean.listaDetalleDeudaFiltered}"
                                 reflow="false" paginatorPosition="top" scrollable="true"
                                 scrollHeight="200" sortBy="#{row.sortBy}">

                        <p:column headerText="Id Servicio" sortBy="#{row.idServicio}"
                                  style="text-align: center; word-wrap: break-word; white-space: normal;">
                            <h:outputText value="#{row.idServicio}" />
                        </p:column>

                        <p:column headerText="Servico" sortBy="#{row.nombreService}"
                                  style="text-align: left; word-wrap: break-word; white-space: normal; width: 125px;">
                            <h:outputText value="#{row.nombreService}" />
                        </p:column>

                        <p:column headerText="Producto" sortBy="#{row.producto}"
                                  style="text-align: left; word-wrap: break-word; white-space: normal; width: 125px;">
                            <h:outputText value="#{row.producto}" />
                        </p:column>

                        <p:column headerText="Fecha Transacción" sortBy="#{row.fecha}"
                                  filterStyle="text-align: left;"
                                  style="text-align: left;  word-wrap: break-word; white-space: normal; width: 90px;">
                            <h:outputText value="#{row.fecha}">
                                <f:convertDateTime
                                        pattern="#{deudaBean.patronFechaDetalleDeuda}" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Monto/Oferta Solicitada"
                                  sortBy="#{row.monto}"
                                  style="text-align: right;  word-wrap: break-word; white-space: normal;">
                            <h:outputText value="#{deudaBean.doubleToString(row.monto) }" />
                        </p:column>

                        <p:column headerText="Costo del Servicio" sortBy="#{row.comision}"
                                  style="text-align: right; word-wrap: break-word; white-space: normal;">
                            <h:outputText value="#{deudaBean.doubleToString(row.comision)}" />
                        </p:column>

                        <p:column headerText="Pagado" sortBy="#{row.pagado}"
                                  style="text-align: right; word-wrap: break-word; white-space: normal;">
                            <h:outputText value="#{deudaBean.doubleToString(row.pagado)}" />
                        </p:column>

                        <p:column headerText="Monto Pendiente de Pago"
                                  sortBy="#{row.deuda}"
                                  style="text-align: right; word-wrap: break-word; white-space: normal;">
                            <h:outputText value="#{deudaBean.doubleToString(row.deuda)}" />
                        </p:column>

                        <f:facet name="footer">
                            <table style="text-align: right;">
                                <tbody>
                                <tr>
                                    <td style="border-width: 0px;"></td>
                                    <td style="border-width: 0px;"></td>
                                    <td style="border-width: 0px;"></td>
                                    <td style="border-width: 0px;">Total:</td>
                                    <td style="border-width: 0px;"><h:outputText
                                            value="#{deudaBean.doubleToString(deudaBean.deudaSeleccionada.totalDetalleDeuda)}" /></td>
                                </tr>
                                </tbody>
                            </table>
                        </f:facet>
                    </p:dataTable>
                </p:panel>

                <h:form id="formDlgDetalleDeuda">
                    <p:commandButton id="buttomExportarDetalle" value="Exportar"
                                     actionListener="#{deudaBean.exportar('DETALLE_DEUDA','postpago')}"
                                     ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);"
                                     disabled="#{deudaBean.habilitadoBotonCrearCNS}"
                                     icon="ui-icon-arrowthick-1-s" style="width: 95px;">
                        <p:fileDownload value="#{deudaBean.file}" />
                    </p:commandButton>
                </h:form>

                <p:commandButton id="buttomAceptarDetalleDeuda"
                                 actionListener="#{deudaBean.aceptarDetalleDeuda()}" value="Aceptar"
                                 update=":mainForm:tableDeudas :mainForm :mainForm:buttomVerDetalleDeuda :mainForm:clExportar"
                                 oncomplete="PF('dlgDetalleDeuda').hide();" style="width: 95px;" />
            </h:panelGrid>
        </p:dialog>


    </ui:define>

</ui:composition>