<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Facelet Title</title>
</h:head>
<body>


	<ui:composition template="./../resources/templates/simple_layout.xhtml">


		<ui:define name="content">

			<p:dialog widgetVar="dProcess" position="center, 50" appendTo="@(body)" modal="true" draggable="false" closable="false" resizable="false" responsive="true" showHeader="false">
				<div align="center">
					<p:graphicImage value="/resources/icons/processing2.gif" onmousedown="return false" />
				</div>
			</p:dialog>

			<div class="border_div">CONFIGURACION DE APLICACION</div>
			<br />

			<h:form id="formPanel">

				<p:panel>
					<h:panelGrid columns="2">

						<p:commandButton id="btnGuardar" value="Guardar" actionListener="#{aplicacionComercialBean.save()}" update=":formPanel :formTable:tabla" icon="ui-icon-disk" onclick="PF('dProcess').show();" oncomplete="PF('dProcess').hide(); PF('tabla').clearFilters();" />
						<p:commandButton id="btnLimpiar" value="Limpiar" actionListener="#{aplicacionComercialBean.iniciar()}" update=":formPanel :formTable:tabla" icon="ui-icon-cancel" onclick="PF('dProcess').show();" oncomplete="PF('dProcess').hide(); PF('tabla').clearFilters();" />

					</h:panelGrid>
				</p:panel>
			</h:form>

			<p:separator />

			<h:form id="formTable">
				<center>
					<p:dataTable id="tabla" widgetVar="tabla" var="row" value="#{aplicacionComercialBean.list}" paginator="true" rows="50" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,30,50,100" emptyMessage="Datos no encontrados"
						currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" editable="true" editMode="cell">

						<p:ajax event="filter" ignoreAutoUpdate="true" />

						<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="LISTA DE CONFIGURACION DE APLICACIONES" />
							</p:outputPanel>
						</f:facet>

						<p:column headerText="ID APLICACION" sortBy="#{row.idAplicacion}" filterBy="#{row.idAplicacion}" filterMatchMode="contains" style="text-align: left; width: 100px; word-wrap: break-word;" filterStyle="width: 50px;">
							<h:outputText value="#{row.idAplicacion}" />
						</p:column>

						<p:column headerText="NOMBRE APLICACION" sortBy="#{row.nombre}" filterBy="#{row.nombre}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word;">
							<h:outputText value="#{row.nombre}" />
						</p:column>

						<p:column headerText="NOMBRE COMERCIAL" sortBy="#{row.nombreComercial}" filterBy="#{row.nombreComercial}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word;">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{row.nombreComercial}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{row.nombreComercial}" autocomplete="off" maxlength="200" style="width: 98%; text-align: left;">
										<p:ajax event="blur" update="@this" listener="#{aplicacionComercialBean.update()}" />
									</p:inputText>
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="SIEMPRE VISIBLE" sortBy="#{row.visible}" style="text-align: left; width: 100px; word-wrap: break-word;" filterStyle="width: 50px;">
							<p:selectBooleanCheckbox value="#{row.visible}">
								<p:ajax event="change" update="@this" listener="#{aplicacionComercialBean.update()}" />
							</p:selectBooleanCheckbox>
						</p:column>

						<p:column headerText=">" sortBy="#{row.limiteMb}" style="text-align: left; word-wrap: break-word;">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{row.limiteMb}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{row.limiteMb}" autocomplete="off" maxlength="10" onkeypress="javascript:return validarNroEntero(event, this)" style="width: 98%; text-align: right;">
										<p:ajax event="blur" update="@this" listener="#{aplicacionComercialBean.update()}" />
									</p:inputText>
								</f:facet>
							</p:cellEditor>
						</p:column>

					</p:dataTable>

				</center>
			</h:form>

		</ui:define>
	</ui:composition>

</body>

</html>