<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Facelet Title</title>
</h:head>
<body>


	<ui:composition template="./../resources/templates/simple_layout.xhtml">


		<ui:define name="content">

			<p:dialog widgetVar="dImportacion" position="center, 50" appendTo="@(body)" modal="true" draggable="false" closable="false" resizable="false" responsive="true" showHeader="false">
				<div align="center">
					<p:graphicImage value="/resources/icons/processing2.gif" onmousedown="return false" />
				</div>
			</p:dialog>

			<div class="border_div">IMPORTACION DE APLICACIONES</div>
			<br />

			<h:form id="form_cuenta" enctype="multipart/form-data">
				<p:panel>
					<p:outputLabel value="Seleccionar archivo con formato CSV con separador: ';'" escape="false" />
					<br />
					<p:outputLabel value="Ej: Web_Browsing;4;Facebook;246;Facebook_Messenger_IM;1484;Facebook_Login;3653;" escape="false" />
				</p:panel>
				<br />

				<p:fileUpload fileUploadListener="#{importacionBean.upload}" auto="true" allowTypes="/(\.|\/)(csv)$/" invalidFileMessage="Archivo no válido" update=":formTabla" onstart="PF('dImportacion').show();"
					oncomplete="PF('dImportacion').hide(); PF('tabla').clearFilters();" label="Cargar Archivo" />

			</h:form>

			<h:form id="formTabla">

				<br />
				<p:panel>
					<h:panelGrid columns="1">
						<p:outputLabel value="#{importacionBean.msg}" escape="false" />
					</h:panelGrid>
					<h:panelGrid columns="2">
						<p:commandButton actionListener="#{importacionBean.cargar()}" value="Ver" update=":formTabla" icon="ui-icon-arrowthickstop-1-s" onclick="PF('dImportacion').show();" oncomplete="PF('dImportacion').hide(); PF('tabla').clearFilters();" />
						<p:commandButton actionListener="#{importacionBean.iniciar()}" value="Limpiar" update=":form_cuenta :formTabla" icon="ui-icon-cancel" onclick="PF('dImportacion').show();" oncomplete="PF('dImportacion').hide(); PF('tabla').clearFilters();" />
					</h:panelGrid>
				</p:panel>
				<br />
				<center>
					<p:dataTable id="dtCategorias" value="#{importacionBean.list}" var="item" paginator="true" rows="5000" paginatorPosition="both" reflow="false"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,30,50,80,100,500,1000,5000"
						currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" widgetVar="tabla">

						<p:ajax event="filter" ignoreAutoUpdate="true" />

						<p:column headerText="Categoria Id" sortBy="#{item.categoriaId}" filterBy="#{item.categoriaId}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.categoriaId}" />
						</p:column>
						<p:column headerText="Categoria" sortBy="#{item.categoria}" filterBy="#{item.categoria}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.categoria}" />
						</p:column>
						<p:column headerText="Aplicacion Id" sortBy="#{item.aplicacionId}" filterBy="#{item.aplicacionId}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.aplicacionId}" />
						</p:column>
						<p:column headerText="Aplicacion" sortBy="#{item.aplicacion}" filterBy="#{item.aplicacion}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.aplicacion}" />
						</p:column>
						<p:column headerText="SubAplicacion Id" sortBy="#{item.subAplicacionId}" filterBy="#{item.subAplicacionId}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.subAplicacionId}" />
						</p:column>
						<p:column headerText="SubAplicacion" sortBy="#{item.subAplicacion}" filterBy="#{item.subAplicacion}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.subAplicacion}" />
						</p:column>
						<p:column headerText="EGN Sub Protocol Id" sortBy="#{item.egnSubProtocolId}" filterBy="#{item.egnSubProtocolId}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.egnSubProtocolId}" />
						</p:column>
						<p:column headerText="EGN Sub Protocol" sortBy="#{item.egnSubProtocol}" filterBy="#{item.egnSubProtocol}" filterMatchMode="contains" style="word-wrap: break-word;" filterStyle="width: 80px;">
							<h:outputText value="#{item.egnSubProtocol}" />
						</p:column>
					</p:dataTable>
				</center>
			</h:form>
		</ui:define>
	</ui:composition>

</body>

</html>