<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Facelet Title</title>

</h:head>
<body>

	<ui:composition template="../resources/templates/simple_layout.xhtml">
		<ui:define name="content">

			<p:dialog widgetVar="dProcess" position="center, 50" appendTo="@(body)" modal="true" draggable="false" closable="false" resizable="false" responsive="true" showHeader="false">
				<div align="center">
					<p:graphicImage value="/resources/icons/processing2.gif" onmousedown="return false" />
				</div>
			</p:dialog>

			<h:form id="formPanel">

				<div class="border_div">MONITOR</div>

				<p:panel>
					<h:panelGrid columns="2" cellpadding="5">
						<p:commandButton actionListener="#{monitorBean.recargar()}" value="Actualizar" update=":formPanel :formTable:tabla" icon="ui-icon-refresh" onclick="PF('dProcess').show();" oncomplete="PF('dProcess').hide(); PF('tabla').clearFilters();" />
					</h:panelGrid>
				</p:panel>
			</h:form>

			<br />
			<h:form id="formTable">
				<center>
					<p:dataTable id="tabla" var="row" widgetVar="tabla" value="#{monitorBean.lista}" paginator="true" rows="20" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,30,50,100" emptyMessage="Datos no encontrados">

						<p:ajax event="filter" ignoreAutoUpdate="true" />

						<p:column headerText="MONITOR ID" sortBy="#{row.monitorId}" filterBy="#{row.monitorId}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word; white-space: normal; width: 100px;" filterStyle="width: 60px;">
							<h:outputText value="#{row.monitorId}" />
						</p:column>

						<p:column headerText="PARAMETRO" sortBy="#{row.parametro}" filterBy="#{row.parametro}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word; white-space: normal;">
							<h:outputText value="#{row.parametro}" />
						</p:column>

						<p:column headerText="VALOR" sortBy="#{row.valor}" filterBy="#{row.valor}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word; white-space: normal;">
							<h:outputText value="#{row.valor}" />
						</p:column>

					</p:dataTable>

				</center>
			</h:form>
		</ui:define>
	</ui:composition>

</body>

</html>
