<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Facelet Title</title>
</h:head>
<body>


	<ui:composition template="./../resources/templates/simple_layout.xhtml">


		<ui:define name="content">

			<p:dialog widgetVar="dParametro" position="center, 50" appendTo="@(body)" modal="true" draggable="false" closable="false" resizable="false" responsive="true" showHeader="false">
				<div align="center">
					<p:graphicImage value="/resources/icons/processing2.gif" onmousedown="return false" />
				</div>
			</p:dialog>

			<div class="border_div">CONFIGURACION DE PARAMETROS</div>
			<br />

			<h:form id="formPanel">

				<p:panel rendered="#{parametroBean.edit}">
					<h:panelGrid columns="2">

						<p:outputLabel value="Id Parametro:" />
						<p:inputText disabled="true" size="20" value="#{parametroBean.parametro.parametroId}" style="text-align: left;" />


						<p:outputLabel value="Módulo:" />
						<p:inputText size="20" value="#{parametroBean.parametro.modulo}" autocomplete="off" disabled="true" style="text-align: left;" />

						<p:outputLabel value="Tipo de Dato:" />
						<p:inputText size="20" value="#{parametroBean.parametro.tipoDato}" autocomplete="off" disabled="true" style="text-align: left;" />

						<p:outputLabel value="Nombre:" />
						<p:inputTextarea value="#{parametroBean.parametro.nombre}" style="width: 405px; text-align: left;" disabled="true" rows="2" />

						<p:outputLabel value="Valor: *" />
						<p:inputTextarea value="#{parametroBean.parametro.valor}" maxlength="199" style="width: 405px; text-align: left;" rows="2" />

						<p:commandButton id="btnGuardar" value="Guardar" actionListener="#{parametroBean.save()}" update=":formPanel :formTable" icon="ui-icon-disk" onclick="PF('dParametro').show();" oncomplete="PF('dParametro').hide();" />
						<p:commandButton id="btnLimpiar" value="Limpiar" actionListener="#{parametroBean.iniciar()}" update=":formPanel :formTable" icon="ui-icon-cancel" onclick="PF('dParametro').show();" oncomplete="PF('dParametro').hide();" />

					</h:panelGrid>

				</p:panel>

				<p:panel>
					<p:commandButton value="Recargar Parámetros" actionListener="#{parametroBean.recargar()}" update=":formPanel :formTable" icon="ui-icon-refresh" onclick="PF('dParametro').show();" oncomplete="PF('dParametro').hide();" />
				</p:panel>

			</h:form>

			<br />

			<h:form id="formTable">
				<center>
					<p:dataTable id="tabla" widgetVar="tabla" var="row" value="#{parametroBean.listParametro}" paginator="true" rows="50" filteredValue="#{parametroBean.listParametroFiltered}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,30,50,100" emptyMessage="Datos no encontrados">

						<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="LISTA DE PARAMETROS" />
							</p:outputPanel>
						</f:facet>

						<p:column headerText="MODULO" sortBy="#{row.modulo}" filterBy="#{row.modulo}" filterMatchMode="contains" style="text-align: left; width: 70px; word-wrap: break-word;" filterStyle="width: 50px;">
							<h:outputText value="#{row.modulo}" />
						</p:column>

						<p:column headerText="NOMBRE" sortBy="#{row.nombre}" filterBy="#{row.nombre}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word;">
							<h:outputText value="#{row.nombre}" />
						</p:column>

						<p:column headerText="TIPO DE DATO" sortBy="#{row.tipoDato}" filterBy="#{row.tipoDato}" filterMatchMode="contains" style="text-align: left; width: 100px; word-wrap: break-word;" filterStyle="width: 50px;">
							<h:outputText value="#{row.tipoDato}" />
						</p:column>

						<p:column headerText="VALOR" sortBy="#{row.valor}" filterBy="#{row.valor}" filterMatchMode="contains" style="text-align: left; word-wrap: break-word;">
							<h:outputText value="#{row.valor}" />
						</p:column>

						<p:column style="text-align: center; width: 60px;" headerText="ACCIONES">

							<h:commandLink id="editLink" actionListener="#{parametroBean.select(row.parametroId)}" ajax="false" update=":formPanel" title="Modificar">
								<h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon" />
							</h:commandLink>

						</p:column>
					</p:dataTable>

				</center>
			</h:form>

		</ui:define>
	</ui:composition>

</body>

</html>