<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Facelet Title</title>
</h:head>
<body>


	<ui:composition template="./../resources/templates/simple_layout.xhtml">

		<ui:define name="content">

			<script language="Javascript">
		document.oncontextmenu = function(){return false}
		window.onload = function() {
		    document.getElementById('formCuenta:itIsdn').focus();
		};

	</script>

			<p:dialog widgetVar="dPorcentaje" position="center, 50" appendTo="@(body)" modal="true" draggable="false" closable="false" resizable="false" responsive="true" showHeader="false">
				<div align="center">
					<p:graphicImage value="/resources/icons/processing2.gif" onmousedown="return false" />
				</div>
			</p:dialog>

			<div class="border_div" style="width: 100%;">REPORTE DE TUS MEGAS POR APLICACION</div>
			<br />

			<script type="text/javascript">
function start() {
    PF('dPorcentaje').show();
}
 
function stop() {
    PF('dPorcentaje').hide();
}
</script>

			<h:form id="formCuenta">

				<p:panel id="panelCuenta" style="width: 100%;">
					<h:panelGrid columns="4" columnClasses="none, tdRelativo, tdRelativoTotal, tdIncidencia">
						<p:fieldset style="margin-bottom:0px; border-width: 0px; padding: 0px;">
							<h:panelGrid columns="2">
								<h:outputLabel value="NRO CUENTA:" />
								<p:inputText id="itIsdn" value="#{detallePorcentajeBean.isdn}" size="15" maxlength="12" autocomplete="off" onkeypress="javascript:return validarNroEntero(event)" style="text-align: right;" placeholder="Nro de Cuenta"
									disabled="#{detallePorcentajeBean.disabledButton}">
									<p:ajax event="change" listener="#{detallePorcentajeBean.inputChanged}" process="@this" />
								</p:inputText>
							</h:panelGrid>

							<p:fieldset legend="PERIODO" style="margin-bottom:20px">
								<h:panelGrid columns="5" style="width: 100%;" columnClasses="textoDerecha, textoDerecha, textoIzquierda, textoDerecha, textoIzquierda">
									<h:outputLabel value="POR:" />
									<h:outputLabel value="DIA:" />
									<p:selectBooleanCheckbox id="sbcDia" value="#{detallePorcentajeBean.porDia}" disabled="#{detallePorcentajeBean.disabledButton}">
										<p:ajax update=":formCuenta:sbcHora :formCuenta:sbcDia :formCuenta:calInicio :formCuenta:calFin :formCuenta:somInicio :formCuenta:somFin" listener="#{detallePorcentajeBean.porHoraDia('DIA')}" />
									</p:selectBooleanCheckbox>
									<h:outputLabel value="HORA:" />
									<p:selectBooleanCheckbox id="sbcHora" value="#{detallePorcentajeBean.porHora}" disabled="#{detallePorcentajeBean.disabledButton}">
										<p:ajax update=":formCuenta:sbcHora :formCuenta:sbcDia :formCuenta:calInicio :formCuenta:calFin :formCuenta:somInicio :formCuenta:somFin" listener="#{detallePorcentajeBean.porHoraDia('HORA')}" />
									</p:selectBooleanCheckbox>
								</h:panelGrid>

								<p:fieldset style="margin-bottom:20px">
									<h:panelGrid columns="4" columnClasses="textoDerecha, textoDerecha, textoDerecha, textoDerecha">

										<h:outputLabel value="FECHA INI:" />
										<p:calendar id="calInicio" value="#{detallePorcentajeBean.fechaInicio}" size="10" pattern="#{detallePorcentajeBean.pattern}" autocomplete="off" onkeypress="javascript:return disableCtrlKeyCombinationEnter(event);"
											disabled="#{detallePorcentajeBean.disabledButton}" immediate="false">
											<p:ajax event="dateSelect" listener="#{detallePorcentajeBean.dateChange}" update=":formCuenta:calInicio" />
										</p:calendar>
										<h:outputLabel value="HORA:" />
										<p:selectOneMenu id="somInicio" value="#{detallePorcentajeBean.selectHoraInicio}" filter="false" caseSensitive="false" filterMatchMode="contains" onselect="#{detallePorcentajeBean.selectHoraInicio}"
											disabled="#{detallePorcentajeBean.disabledComboInicio}" style="width: 20px;">
											<f:attribute name="optionClasses" value="option1, option2" />
											<f:selectItems value="#{detallePorcentajeBean.itemsHoras}" />
										</p:selectOneMenu>

										<h:outputLabel value="FECHA FIN:" />
										<p:calendar id="calFin" value="#{detallePorcentajeBean.fechaFin}" size="10" pattern="#{detallePorcentajeBean.pattern}" autocomplete="off" onkeypress="javascript:return disableCtrlKeyCombinationEnter(event);"
											disabled="#{detallePorcentajeBean.disabledButton}" immediate="false">
											<p:ajax event="dateSelect" listener="#{detallePorcentajeBean.dateChange}" update=":formCuenta:calFin" />
										</p:calendar>
										<h:outputLabel value="HORA:" />
										<p:selectOneMenu id="somFin" value="#{detallePorcentajeBean.selectHoraFin}" filter="false" caseSensitive="false" filterMatchMode="contains" onselect="#{detallePorcentajeBean.selectHoraFin}"
											disabled="#{detallePorcentajeBean.disabledComboFin}" style="width: 20px;">
											<f:attribute name="optionClasses" value="option1, option2" />
											<f:selectItems value="#{detallePorcentajeBean.itemsHoras}" />
										</p:selectOneMenu>

									</h:panelGrid>
								</p:fieldset>
							</p:fieldset>
						</p:fieldset>
						<h:panelGrid columns="1">
							<p:fieldset legend="NIVEL DE DETALLE" style="margin-bottom:20px; position: absolute; top: 45px;">
								<h:panelGrid columns="3" columnClasses="textoDerecha, textoDerecha, textoIzquierda">
									<h:outputLabel value="POR:" />
									<h:outputLabel value="APLICACION:" />
									<p:selectBooleanCheckbox id="sbcAplicacion" value="#{detallePorcentajeBean.porAplicacion}" disabled="#{detallePorcentajeBean.disabledButton}">
										<p:ajax update=":formCuenta:sbcAplicacion :formCuenta:sbcSubAplicacion" listener="#{detallePorcentajeBean.porAplicacionSubAplicacion('APLICACION')}" />
									</p:selectBooleanCheckbox>
									<h:outputLabel value="" />
									<h:outputLabel value="SUBAPLICACION:" />
									<p:selectBooleanCheckbox id="sbcSubAplicacion" value="#{detallePorcentajeBean.porSubAplicacion}" disabled="#{detallePorcentajeBean.disabledButton}">
										<p:ajax update=":formCuenta:sbcAplicacion :formCuenta:sbcSubAplicacion" listener="#{detallePorcentajeBean.porAplicacionSubAplicacion('SUBAPLICACION')}" />
									</p:selectBooleanCheckbox>
								</h:panelGrid>
							</p:fieldset>
							<p:fieldset legend="REPORTES" style="margin-bottom:20px; position: absolute; top: 150px;">
								<h:panelGrid columns="4">
									<h:outputLabel value="Detallado:" />
									<p:selectBooleanCheckbox id="sbcConDetalle" value="#{detallePorcentajeBean.exportarDetalle}">
										<p:ajax update=":formCuenta:sbcConDetalle :formCuenta:sbcSinDetalle" listener="#{detallePorcentajeBean.conOSinDetalle('CON_DETALLE')}" />
									</p:selectBooleanCheckbox>
									<h:outputLabel value="Resumido:" />
									<p:selectBooleanCheckbox id="sbcSinDetalle" value="#{detallePorcentajeBean.exportarSinDetalle}">
										<p:ajax update=":formCuenta:sbcConDetalle :formCuenta:sbcSinDetalle" listener="#{detallePorcentajeBean.conOSinDetalle('SIN_DETALLE')}" />
									</p:selectBooleanCheckbox>

									<h:outputLabel value="" />
									<p:commandLink actionListener="#{detallePorcentajeBean.exportar('pdf')}" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" >
										<h:graphicImage alt="Exportar a Pdf" title="Exportar a Pdf" url="/resources/icons/pdf.png" styleClass="icon" width="32" height="32" />
										<p:fileDownload value="#{detallePorcentajeBean.file}"/>
									</p:commandLink>

									<h:outputLabel value="" />
									<p:commandLink actionListener="#{detallePorcentajeBean.exportar('excel')}" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
										<h:graphicImage alt="Exportar a Excel" title="Exportar a Excel" url="/resources/icons/excel.png" styleClass="icon" width="32" height="32" />
										<p:fileDownload value="#{detallePorcentajeBean.file}" />
									</p:commandLink>
								</h:panelGrid>
							</p:fieldset>
						</h:panelGrid>


						<p:fieldset id="fsTotalConsumo" legend="TOTAL CONSUMO" style="font-weight: bold; color: black; margin-bottom: 20px; position: absolute; top: 45px; background-color: rgb(124,181,236); border-color: black;" styleClass="myFieldset">
							<h:panelGrid columns="1">
								<h:outputLabel value="#{detallePorcentajeBean.doubleToString(detallePorcentajeBean.totalConsumo)} #{detallePorcentajeBean.tipoUnidad}" style="font-weight: bold; font-size: 17px;" />
							</h:panelGrid>
						</p:fieldset>

						<p:commandButton id="cbIncidente" actionListener="#{detallePorcentajeBean.guardarIncidente()}" value="Registro Incidente" disabled="#{detallePorcentajeBean.disableIncidente}" update="@this" icon="fa fa-save" rendered="true" />

					</h:panelGrid>

					<p:poll id="pollTelnet" widgetVar="pollTelnet" interval="5" autoStart="false" listener="#{detallePorcentajeBean.refreshTelnet()}" />
					<h:panelGrid columns="6">
						<p:commandButton actionListener="#{detallePorcentajeBean.buscar()}" value="Buscar" update=":formCuenta :formCuenta:tabView:panel1 :formCuenta:tabView:panel2 :formCuenta:tabView:panel3 :formCuenta:tabView:panel4" icon="ui-icon-search"
							disabled="#{detallePorcentajeBean.disabledButton}" onclick="PF('dPorcentaje').show();" oncomplete="PF('dPorcentaje').hide();" />
						<p:commandButton actionListener="#{detallePorcentajeBean.iniciar()}" value="Limpiar" update=":formCuenta" icon="ui-icon-cancel" onclick="PF('dPorcentaje').show();" oncomplete="PF('dPorcentaje').hide();" />
					</h:panelGrid>

				</p:panel>


				<br />
				<p:tabView id="tabView" dynamic="true" cache="false" style="width: 1195px; height: 100%;">

					<p:ajax event="tabChange" listener="#{detallePorcentajeBean.onTabChange}" onstart="PF('dPorcentaje').show();" oncomplete="PF('dPorcentaje').hide();"
						update=":formCuenta:tabView:panel1 :formCuenta:tabView:panel2 :formCuenta:tabView:panel3 :formCuenta:tabView:panel4 :formCuenta:cbIncidente :formCuenta:fsTotalConsumo" />




					<p:tab id="tab1" title="GRAFICO DE %/#{detallePorcentajeBean.tipoUnidad}">

						<p:panel id="panel1" style="width: 1150px; height: 100%; overflow: visible;">
							<div id="container_1" style="width: 1130px; height: 600px;"></div>
						</p:panel>

					</p:tab>

					<p:tab id="tab4" title="GRAFICO DE TIEMPO/#{detallePorcentajeBean.tipoUnidad}">

						<p:panel id="panel4" style="width: 1150px; height: 100%; overflow: visible;">
							<div id="container_3" style="width: 1130px; height: 700px;"></div>
						</p:panel>

					</p:tab>


					<p:tab id="tab2" title="TABLA DE CONSUMO">

						<p:panel id="panel2" style="width: 850px; height: 100%; position:relative;">

							<p:panel id="panelTopConsumo" style="border-width: 0px;">
								<h:panelGrid columns="2">
									<h:outputLabel value="Seleccione un Top:" />
									<p:selectOneMenu id="console" value="#{detallePorcentajeBean.topSeleccionado}" style="width: 120px;">
										<f:selectItem itemLabel="Ninguno" itemValue="-1" />
										<f:selectItem itemLabel="Top 5" itemValue="5" />
										<f:selectItem itemLabel="Top 10" itemValue="10" />
										<f:selectItem itemLabel="Top 15" itemValue="15" />
										<f:selectItem itemLabel="Top 20" itemValue="20" />
										<f:selectItem itemLabel="Todos" itemValue="0" />
										<p:ajax event="change" listener="#{detallePorcentajeBean.onChangeOneMenu}" update=":formCuenta:tabView:panelInformacion :formCuenta:tabView:panel2" />
									</p:selectOneMenu>
								</h:panelGrid>
							</p:panel>

							<br />
							<p:panel id="panelInformacion" style="background-color: rgb(242,242,242); font-weight: bold;">
								<h:panelGrid columns="3" style="width: 100%;" columnClasses="tdInformacion, tdInformacion, tdInformacion">
									<h:outputText value="#{detallePorcentajeBean.nroFilas} filas seleccionas" style="font-size: 13px;" />
									<h:outputText value="#{detallePorcentajeBean.doubleToString(detallePorcentajeBean.subTotalPorcentaje)} %" style="font-size: 13px;" />
									<h:outputText value="#{detallePorcentajeBean.doubleToString(detallePorcentajeBean.subTotalConsumo)} #{detallePorcentajeBean.tipoUnidad}" style="font-size: 13px;" />
								</h:panelGrid>
							</p:panel>

							<br />
							<center>
								<p:dataTable id="tabla" value="#{detallePorcentajeBean.list}" var="item" tableStyle="table-layout: auto;" styleClass="ui-datatable" paginator="true" rows="50" paginatorPosition="both" reflow="false"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,30,50,80,100,500,1000,5000"
									currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" widgetVar="tabla" selection="#{detallePorcentajeBean.listSelected}" rowKey="#{item.nro}" filteredValue="#{detallePorcentajeBean.listFiltered}">

									<p:ajax event="rowSelect" listener="#{detallePorcentajeBean.onRowSelect}" update=":formCuenta:tabView:panelInformacion" />
									<p:ajax event="rowUnselect" listener="#{detallePorcentajeBean.onRowUnselect}" update=":formCuenta:tabView:panelInformacion" />
									<p:ajax event="rowSelectCheckbox" listener="#{detallePorcentajeBean.onRowSelectCheckbox}" update=":formCuenta:tabView:panelInformacion" />
									<p:ajax event="rowUnselectCheckbox" listener="#{detallePorcentajeBean.onRowUnselectCheckbox}" update=":formCuenta:tabView:panelInformacion" />
									<p:ajax event="toggleSelect" partialSubmit="true" listener="#{detallePorcentajeBean.onToggleSelect}" update=":formCuenta:tabView:panelInformacion" />
									<p:ajax event="filter" listener="#{detallePorcentajeBean.filterListener}" update=":formCuenta:tabView:panelInformacion :formCuenta:tabView:tabla" />

									<p:column selectionMode="multiple" style="width:16px;text-align:center" />

									<p:column headerText="#Nro" sortBy="#{item.nro}" style="word-wrap: break-word; text-align: center;">
										<h:outputText value="#{item.nro}" />
									</p:column>
									<p:column headerText="Aplicación" sortBy="#{item.aplicacion}" filterBy="#{item.aplicacion}" filterMatchMode="contains" style="word-wrap: break-word; text-align: left;">
										<h:outputText value="#{item.aplicacion}" />
									</p:column>
									<p:column headerText="Tráfico Total (%)" sortBy="#{item.porcentajeTotalTrafico}" style="word-wrap: break-word; text-align: right;">
										<h:outputText value="#{item.porcentajeTotalTrafico} %" />
									</p:column>
									<p:column headerText="Total Tráfico (#{detallePorcentajeBean.tipoUnidad})" sortBy="#{item.totalTrafico}" style="word-wrap: break-word; text-align: right;" rendered="#{detallePorcentajeBean.disabledTotalTrafico}">
										<h:outputText value="#{detallePorcentajeBean.doubleToString(item.totalTrafico)}" />
									</p:column>
									<p:column headerText="Tráfico de Bajada (#{detallePorcentajeBean.tipoUnidad})" sortBy="#{item.downTrafico}" style="word-wrap: break-word; text-align: right;" rendered="#{detallePorcentajeBean.disabledDownTrafico}">
										<h:outputText value="#{detallePorcentajeBean.doubleToString(item.downTrafico)}" />
									</p:column>
									<p:column headerText="Tráfico de Subida (#{detallePorcentajeBean.tipoUnidad})" sortBy="#{item.upTrafico}" style="word-wrap: break-word; text-align: right;" rendered="#{detallePorcentajeBean.disabledUpTrafico}">
										<h:outputText value="#{detallePorcentajeBean.doubleToString(item.upTrafico)}" />
									</p:column>
								</p:dataTable>
							</center>
						</p:panel>

					</p:tab>

					<p:tab id="tab3" rendered="#{detallePorcentajeBean.visibleGraficoAnchoBanda}" title="GRAFICO DE ANCHO DE BANDA">

						<p:panel id="panel3" style="width: 1150px; height: 100%; overflow: visible;">
							<div id="container_2" style="width: 1130px; height: 700px;"></div>
						</p:panel>

					</p:tab>

				</p:tabView>
			</h:form>


			<p:dialog id="dlgTest" widgetVar="dlgTest" height="400" width="800" closeOnEscape="true" position="center, 50" closable="true" appendTo="@(body)" modal="true">

				<h:form id="formTest">
					<p:dataTable id="tablaTest" value="#{detallePorcentajeBean.listConsumo}" var="item" tableStyle="table-layout: auto;" styleClass="ui-datatable" paginator="true" rows="1000" paginatorPosition="both" reflow="false"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,20,30,50,80,100,500,1000,5000"
						currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" widgetVar="tablaTest">

						<p:column headerText="FECHA" sortBy="#{item.fecha}" filterBy="#{item.hora}" style="word-wrap: break-word; text-align: center;">
							<h:outputText value="#{item.fecha}" />
						</p:column>
						<p:column headerText="HORA" sortBy="#{item.hora}" filterBy="#{item.hora}" filterMatchMode="contains" style="word-wrap: break-word; text-align: left;">
							<h:outputText value="#{item.hora}" />
						</p:column>
						<p:column headerText="APLICACION" sortBy="#{item.aplicacion}" filterBy="#{item.aplicacion}" filterMatchMode="contains" style="word-wrap: break-word; text-align: left;">
							<h:outputText value="#{item.aplicacion}" />
						</p:column>
						<p:column headerText="CONSUMO" sortBy="#{item.consumo}" style="word-wrap: break-word; text-align: right;">
							<h:outputText value="#{item.consumo}" />
						</p:column>
					</p:dataTable>

				</h:form>

			</p:dialog>

		</ui:define>
	</ui:composition>

</body>

</html>