<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
>

	<ui:define name="content">		
		<script type="text/javascript">		   
			function start() {
			    PF('statusDialog').show();
			}
			 
			function stop() {
			    PF('statusDialog').hide();
			}				
		</script>
		
		
		<div class="border_div">..:: Portación Cuentas Pre Pago  ::..</div>
		<br />
		
		<h:form id="idForm">
			<h:panelGrid styleClass="panelGridAlignTop" columns="3" 
				style="width: 100%" 
				columnClasses="one-percent, two-percent, three-percent"> 
								
				<p:panel id="panel_cuenta" header="INFORMACIÓN CUENTA" style="width: 320px;  height:130px;">
					
					<p:focus id="focus" context="panel_cuenta" for="#{portacionmnpda.focusing()}" />
													
					<h:panelGrid id="idPanel" columns="2">
														
						<h:outputLabel value="Nro de documento:" />
						<p:inputText id="itNroDoc" size="15" maxlength="15"
							autocomplete="off" style="text-align: right;"
							placeholder="Nro de documento"
							value="#{portacionmnpda.nroDocumento}">
							<p:ajax event="focus" update="idForm:itIsdn" listener="#{portacionmnpda.limpiarNroDoc}" process="itNroDoc"/>
						</p:inputText>
										
						<h:outputLabel value="Nro de cuenta:" />
						<p:inputText id="itIsdn" size="15" maxlength="8"
							autocomplete="off" style="text-align: right;"
							placeholder="Nro de Cuenta"													
							value="#{portacionmnpda.nroCuenta}">
 							<p:ajax event="focus" update="@form:itNroDoc" listener="#{portacionmnpda.limpiarNroCuenta}" process="itIsdn" />
						</p:inputText>
														
					</h:panelGrid>
					
					<p:commandButton id="btnLimpiar" value="Limpiar"
									 actionListener="#{portacionmnpda.limpiar()}" update=":idForm:panel_cuenta :form_tab"
											 />
					<p:commandButton id="btnPortacion" for="btnTarifa" value="Buscar"
							icon="fa fa-binoculars"
							actionListener="#{portacionmnpda.buscar()}" update=":form_tab" 
							onclick="PF('buscarDialog').show();"
							oncomplete="PF('buscarDialog').hide();"		
							/>
				</p:panel>
										
 			</h:panelGrid>
 			
		</h:form>

		<h:form id="form_tab">
				
			<p:tabView id="tabView" dir="true" cache="false"
				style="width: 1000px;width: 1000px;">

				<p:tab id="tab1" title="Detalle Portación Pre Pago">
					<p:fieldset legend="Información">
												
						<p:dataTable var="cgroup"  value="#{portacionmnpda.listPortaciones}">
							 <f:facet name="header">                                         
                             </f:facet>
							
					        <p:column style="width:16px">
					            <p:rowToggler />
					        </p:column>
					        
					        <p:column headerText="Nombre">
					            <h:outputText value="#{cgroup.clienteType.nombre}"/>
					        </p:column>
					        <p:column headerText="Apellidos">
					            <h:outputText value="#{cgroup.clienteType.apellidos}"/>
					        </p:column>
					         <p:column headerText="Tipo Documento">
					            <h:outputText value="#{cgroup.clienteType.tipodoc}"/>
					        </p:column>					        
					         <p:column headerText="Nro Documento">
					            <h:outputText value="#{cgroup.clienteType.nrodoc}"/>
					        </p:column>
					        
					        <p:rowExpansion>					        
					       		  <p:dataTable var="row" value="#{cgroup.listaDetallePortacionPDF}">
					       		  	<p:column style="width:150px">
                                        <f:facet name="header">
                                           <h:outputText value="Telefono"/>
                                        </f:facet>
                                        <h:outputText value="#{row.detallePortacion.telefono}"></h:outputText>
                                    </p:column> 
                                    
                                    <p:column style="width:150px">
                                        <f:facet name="header">
                                           <h:outputText value="Fecha Portación"/>
                                        </f:facet>
                                        <h:outputText value="#{row.detallePortacion.fechaPortacion}"></h:outputText>
                                    </p:column> 
                                    
                                    <p:column style="width:150px">
                                        <f:facet name="header">
                                           <h:outputText value="Estado"/>
                                        </f:facet>
                                        <h:outputText value="#{row.detallePortacion.estado}" ></h:outputText>
                                    </p:column> 
                                    
                                    <p:column style="width:32px;text-align: center">
							            <f:facet name="header">
                                           <h:outputText value="PDF"/>
                                        </f:facet>
                                        
                                        <p:commandButton icon="fa fa-file-pdf-o" title="ver.." ajax="false"
                                        				 onclick="PrimeFaces.monitorDownload(start, stop);" rendered="#{row.respaldo.streamedContentPDF ne null}" >
                                     		<p:fileDownload value="#{row.respaldo.streamedContentPDF}" />             
										</p:commandButton>								            						            							          
							        </p:column>
							        
							        <p:column style="width:32px;text-align: center">
							            <f:facet name="header">
                                           <h:outputText value="Declaración"/>
                                        </f:facet>
                                        
                                        <p:commandButton icon="fa fa-file-pdf-o" title="ver.." ajax="false"
                                        				 onclick="PrimeFaces.monitorDownload(start, stop);" 
                                        				 rendered="#{row.respaldo.streamedContentDeclaracion ne null}" >
                                     		<p:fileDownload value="#{row.respaldo.streamedContentDeclaracion}" />             
										</p:commandButton>								            						            							          
							        </p:column>
							        
							        <p:column style="width:32px;text-align: center">
							        	<f:facet name="header">
                                           <h:outputText value="Respaldo"/>                                           
                                        </f:facet>
                                        
                                        <p:commandButton update=":form_tab:idGaleria" icon="ui-icon-search" title="Ver.." rendered="#{row.respaldo.listaImagenes ne null}"
                                        				 action="#{portacionmnpda.mostrarRespaldo}" onclick="PF('respDlg').show()">    
                                        	<f:setPropertyActionListener value="#{row.respaldo}" target="#{portacionmnpda.respaldoSelected}"/>                  	                                    		
 										</p:commandButton>
                                       
							        </p:column>
							        												                                                                                                                  					    
					       		  </p:dataTable>
					       		                               	                     			          					            
					        </p:rowExpansion>
        
						</p:dataTable>
														
					</p:fieldset>									
				</p:tab>

			</p:tabView>
			

				
			<p:dialog id="respDialog" header="Respaldos de Solicitud" widgetVar="respDlg" 
					   closeOnEscape="true" minHeight="250" height="450" width="450"
					   position="center, 50" styleClass="dialog_rol" appendTo="@(body)" 
					   modal="true" visible="#{portacionmnpda.visibleDialogResp}" >
					   
				<p:galleria id="idGaleria" var="image" value="#{portacionmnpda.respaldoSelected.listaImagenes}" 
								panelWidth="400" panelHeight="400" autoPlay="false">
						<h:graphicImage value="#{image.contBase64}" title="#{image.nombre}" width="100%" height="100%"/>
												
				</p:galleria>
														
			</p:dialog>
							
		</h:form>
		
		<p:dialog modal="true" widgetVar="buscarDialog" header="Buscando.." appendTo="@(body)"
				  draggable="false" closable="false" resizable="false" responsive="true" position="center, 50">
				  		    
		    <h:graphicImage library="img" name="ajaxloadingbar.gif" />
		</p:dialog>
		
				
		<p:dialog modal="true" widgetVar="statusDialog" header="Descargando.." appendTo="@(body)"
				  draggable="false" closable="false" resizable="false" position="center, 50">		    
		    <h:graphicImage library="img" name="ajaxloadingbar.gif" />
		</p:dialog>
									
	</ui:define>

</ui:composition>