<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
>

	<ui:define name="content">

		<div class="border_div">..:: Tarifa Rebajada ::..</div>
		<br />
		<h:panelGrid styleClass="panelGridAlignTop" columns="3"
			style="width: 100%"
			columnClasses="one-percent, two-percent, three-percent">
			<h:form id="form_cuenta">
				<p:poll id="poll" widgetVar="pollTelnet" interval="5"
					autoStart="false">
				</p:poll>

				<p:panel id="panel_cuenta" header="CUENTA"
					style="width: 320px;  height:90px;">
					<h:panelGrid columns="3">
						<h:outputLabel value="Nro de cuenta:" />
						<p:inputText id="itIsdn" size="15" maxlength="12"
							autocomplete="off" style="text-align: right;"
							placeholder="Nro de Cuenta"
							onkeypress="javascript:return validarNroEntero(event, this)"
							value="#{changeCosBean.isdn}">
						</p:inputText>

						<p:commandButton id="btnTarifa" for="btnTarifa" value="Buscar"
							icon="fa fa-binoculars"
							actionListener="#{changeCosBean.buscar()}" update=":form_tab" />

					</h:panelGrid>
				</p:panel>
			</h:form>
		</h:panelGrid>

		<h:form id="form_tab">
			<p:tabView id="tabView" dir="true" cache="false"
				style="width: 1000px;width: 1000px;">

				<p:tab id="tab1" title="Tarifa Rebajada">
					<p:fieldset legend="Información">
						<p:panelGrid columns="2">
							<h:outputText value="Plan Cos: " />
							<h:outputText value="#{changeCosBean.planCos}" />

							<h:outputText value="Descripción:" />
							<h:outputText value="#{changeCosBean.descripcion}" />

						</p:panelGrid>

					</p:fieldset>
					<br />
					<p:fieldset legend="ChangeCos Histórico">
						<p:dataTable var="historico"
							value="#{changeCosBean.listaHistorico}"
							tableStyle="table-layout:auto">

							<p:column headerText="Cos Actual">
								<h:outputText value="#{historico.cosactual}"  />
							</p:column>

							<p:column headerText="Cos Nuevo">
								<h:outputText value="#{historico.cosnuevo}" />
							</p:column>

							<p:column headerText="Descripción">
								<h:outputText value="#{historico.descripcion}" />
							</p:column>

							<p:column headerText="Estado">
								<h:outputText value="#{historico.estado}" />
							</p:column>

							<p:column headerText="Fecha Proceso">
								<h:outputText
									value="#{changeCosBean.dateToTimeString(historico.fechaproceso)}" />
							</p:column>

							<p:column headerText="Proceso">
								<h:outputText value="#{historico.proceso}" />
							</p:column>

						</p:dataTable>

					</p:fieldset>
					<br />
					<p:fieldset legend="ChangeCos RollBack">
						<p:dataTable var="rollback" value="#{changeCosBean.listRollBack}"
							tableStyle="table-layout:auto">

							<p:column headerText="Corto">
								<h:outputText value="#{rollback.corto}" />
							</p:column>

							<p:column headerText="Cos Actual">
								<h:outputText value="#{rollback.cosactual}" />
							</p:column>

							<p:column headerText="Cos Nuevo">
								<h:outputText value="#{rollback.cosnuevo}" />
							</p:column>

							<p:column headerText="Estado" width="120px">
								<h:outputText value="#{rollback.estado}" />
							</p:column>

							<p:column headerText="Fecha Proceso">
								<h:outputText
									value="#{changeCosBean.dateToTimeString(rollback.fechaproceso)}" />
							</p:column>

							<p:column headerText="Fecha RollBack">
								<h:outputText
									value="#{changeCosBean.dateToTimeString(rollback.fecharollback)}" />
							</p:column>

							<p:column headerText="Hora">
								<h:outputText value="#{rollback.hora}" />
							</p:column>

							<p:column headerText="Mensaje RollBack">
								<h:outputText value="#{rollback.mensajeRollback}" />
							</p:column>

						</p:dataTable>
					</p:fieldset>

					<br />
					<p:commandButton id="btnDesuscribir" for="btnDesuscribir"
						value="Desuscribir" icon="fa fa-close"
						disabled="#{changeCosBean.disable}" actionListener="#{changeCosBean.desuscribir()}"/>
					
				</p:tab>

			</p:tabView>



		</h:form>

	</ui:define>

</ui:composition>