<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../resources/templates/template_error.xhtml">

	<ui:define name="content">

		<center>
			<h1>¡ Página no encontrada !</h1>
			<br /> <br /> <br />
			<h:graphicImage id="deleteImage" alt="Error"
				url="/resources/icons/404.png" />
		</center>

	</ui:define>

</ui:composition>
