<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
>

    <ui:define name="content">
        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>


        <c:set var="mapResOk"
               value="#{altaUsuarioBean.mapResponseWhiteList.get('ok')}"/>
        <c:set var="mapResError"
               value="#{altaUsuarioBean.mapResponseWhiteList.get('error')}"/>

        <p:dialog modal="true" widgetVar="dialogContent" draggable="false"
                  closable="false" resizable="false" responsive="true"
                  showHeader="false" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)">
            <div align="center">
                <p:graphicImage value="/resources/icons/processing2.gif"/>
            </div>
        </p:dialog>

        <p:dialog header="Creación del Vendedor" widgetVar="carDelet" resizable="false"
                  width="25%" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)" modal="true">
            <p:outputPanel id="carDetailDelet">
                <div class="ui-g ">
                    <div align="center">
                        <p:outputLabel value="Desea proceder con la Actualización?"
                        />

                    </div>
                </div>
            </p:outputPanel>
            <hr></hr>
            <p:commandButton value="Cancelar" type="button" icon="ui-icon-close"
                             onclick="PF('carDelet').hide()"/>
            <p:commandButton id="c1" value="Continuar"
                             icon="ui-icon-check" actionListener="#{altaUsuarioBean.crearUsuario}"
                             update=":mainForm"
                             onclick="PF('dialogContent').show();"
                             oncomplete="PF('dialogContent').hide();"
            />

        </p:dialog>

        <div class="border_div">..:: Alta Vendedor ::..</div>

        <br/>

        <h:form id="mainForm">
            <p:panel header="CREACIÓN DE VENDEDOR">
                <h:panelGrid id="form" columns="1" width="80%" style="margin-left: 20%"
                             columnClasses="ui-grid-col-8">
                    <div align="center">
                        <p:fieldset style="margin: auto">

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Si" type="button"
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton value="No" type="button"
                                                 styleClass="ui-confirmdialog-no" icon="ui-icon-closethick"/>
                            </p:confirmDialog>

                            <h:panelGrid id="panel" columns="3" width="100%"
                                         columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-4">

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputCodigo" value="Código Activación:"/>
                                <p:inputText id="inputCodigo" value="#{altaUsuarioBean.user.username}"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.CODIGO.MENSAJE.REQUERIDO')}"
                                             required="true"
                                             placeholder="Código"
                                > <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.CODIGO')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.CODIGO.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{altaUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Código"/>
                                    <p:keyFilter for="inputCodigo" mask="num"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputNombres" value="Nombres:"/>
                                <p:inputText id="inputNombres" value="#{altaUsuarioBean.user.firstName}"
                                             required="true" placeholder="Nombres"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.NOMBRES.MENSAJE.REQUERIDO')}"
                                             style="text-transform: uppercase">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.NOMBRES')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.NOMBRES.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{altaUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Nombres"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputApellido" value="Apellidos:"/>
                                <p:inputText id="inputApellido" value="#{altaUsuarioBean.user.lastName}"
                                             required="true" placeholder="Apellidos"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.APELLIDOS.MENSAJE.REQUERIDO')}"
                                             style="text-transform: uppercase">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.APELLIDOS')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.APELLIDOS.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{altaUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Apellidos"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputMsisdn" value="Teléfono:"/>
                                <p:inputText id="inputMsisdn" value="#{altaUsuarioBean.msisdn}" required="true"
                                             placeholder="Teléfono"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.TELEFONO.MENSAJE.REQUERIDO')}">
                                    <p:keyFilter for="inputMsisdn" mask="num"/>
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.TELEFONO')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.TELEFONO.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{altaUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Télefono"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputEmail" value="Email:"/>
                                <p:inputText id="inputEmail" value="#{altaUsuarioBean.user.email}"
                                             placeholder="Email"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.EMAIL.MENSAJE.REQUERIDO')}">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.EMAIL')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.EMAIL.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{altaUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Email"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Límite:"/>
                                <p:inputText id="limiteText" value="#{altaUsuarioBean.limite}" required="true"
                                             placeholder="Límite"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.LIMITE.MENSAJE.REQUERIDO')}">
                                    <p:keyFilter for="limiteText" mask="num"/>
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.LIMITE')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{altaUsuarioBean.mapa.get('EH.EXPRESION.LIMITE.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{altaUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Límite"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Distribuidor:"/>
                                <p:selectOneMenu id="tipo" autoWidth="false" style="max-width: 200px;min-width: 140px"
                                                 value="#{altaUsuarioBean.selectDealer.idVcDealer}"
                                                 panelStyle="width:180px" maxlength="30"
                                                 effect="fade" filter="true"
                                                 requiredMessage="Seleccione un Distribuidor"
                                                 filterMatchMode="contains" required="true">
                                    <p:ajax listener="#{altaUsuarioBean.cargarComboZonas(altaUsuarioBean.selectDealer)}"
                                            update="zona"/>
                                    <f:selectItem itemLabel="--Seleccionar--"
                                                  itemValue="#{null}"/>
                                    <f:selectItems value="#{altaUsuarioBean.listaDealer}"
                                                   var="dealer"
                                                   itemValue="#{dealer.idVcDealer}"
                                                   itemLabel="#{dealer.nombre}"
                                                   itemDescription="#{dealer.observacion}"
                                    />
                                    <p:column>
                                        <h:outputText value="#{dealer.nombre}"/>
                                    </p:column>
                                </p:selectOneMenu>

                                <h:outputLabel value=""/>
                                <h:outputLabel value=" Sucursal:"/>
                                <p:selectOneMenu id="zona" autoWidth="false" style="max-width: 200px;min-width: 140px"
                                                 value="#{altaUsuarioBean.selectZonas.idVcZonas}"
                                                 panelStyle="width:180px" maxlength="30"
                                                 effect="fade" filter="true"
                                                 requiredMessage="Seleccione una Sucursal"
                                                 filterMatchMode="contains" required="true">

                                    <f:selectItem itemLabel="--Seleccionar--"
                                                  itemValue="#{null}"/>
                                    <f:selectItems value="#{altaUsuarioBean.listaZonas}"
                                                   var="zonas"
                                                   itemValue="#{zonas.idVcZonas}"
                                                   itemLabel="#{zonas.nombre}"
                                                   itemDescription="#{zonas.observacion}"
                                    />
                                    <p:column>
                                        <h:outputText value="#{zonas.nombre}"/>
                                    </p:column>
                                </p:selectOneMenu>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Categoría:"/>
                                <p:selectOneMenu id="categoria" autoWidth="false"
                                                 style="max-width: 200px;min-width: 140px"
                                                 value="#{altaUsuarioBean.selectCategoria.id}"
                                                 panelStyle="width:180px" maxlength="30"
                                                 effect="fade" filter="true"
                                                 requiredMessage="Seleccione una Categoria"
                                                 filterMatchMode="contains" required="true">

                                    <f:selectItem itemLabel="--Seleccionar--"
                                                  itemValue="#{null}"/>
                                    <f:selectItems value="#{altaUsuarioBean.listaCategoria}"
                                                   var="categoria"
                                                   itemValue="#{categoria.id}"
                                                   itemLabel="#{categoria.nombre}"
                                    />
                                    <p:column>
                                        <h:outputText value="#{categoria.nombre}"/>
                                    </p:column>
                                </p:selectOneMenu>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Estado:"/>
                                <p:selectBooleanButton onLabel="Habilitado" offLabel="Deshabilitado"
                                                       onIcon="fa fa-check" required="true"
                                                       value="#{altaUsuarioBean.user.enabled}"
                                                       offIcon="fa fa-times"/>

                            </h:panelGrid>
                            <h:panelGrid id="repeat" width="100%">
                                <p:repeat value="#{altaUsuarioBean.listapermisos}" var="permiso"
                                          varStatus="varParam">
                                    <h:panelGrid columns="3" style="width:100%"
                                                 layout="grid"
                                                 columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-4"
                                                 styleClass="ui-panelgrid-blank">
                                        <h:outputLabel value=""/>
                                        <h:outputLabel value="#{permiso.nombre}:"/>
                                        <p:selectBooleanButton onLabel="Si" offLabel="No"
                                                               onIcon="fa fa-check"
                                                               value="#{permiso.estado}"
                                                               offIcon="fa fa-times"
                                        />
                                    </h:panelGrid>

                                </p:repeat>
                            </h:panelGrid>
                            <hr/>
                            <h:panelGrid columns="4" width="100%"
                                         columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4">
                                <h:outputLabel value=""/>
                                <p:commandButton id="btnGuardar" value="Guardar" icon="fa fa-check"
                                                 actionListener="#{altaUsuarioBean.crearUsuario}"
                                                 update="panel repeat" onclick="PF('dialogContent').show();"
                                                 oncomplete="PF('dialogContent').hide();"/>
                                <h:outputLabel value=""/>
                                <p:commandButton id="btnLimpiar" value="Limpiar" icon="fa fa-trash"
                                                 disabled="false" process="@this"
                                                 actionListener="#{altaUsuarioBean.limpiarTodo}"
                                                 update="panel repeat"
                                ><p:resetInput
                                        target="form"/></p:commandButton>

                            </h:panelGrid>
                        </p:fieldset>
                    </div>


                </h:panelGrid>
            </p:panel>
        </h:form>


    </ui:define>
</ui:composition>