<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
>

    <ui:define name="content">
        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>


        <c:set var="mapResOk"
               value="#{modificacionUsuarioBean.mapResponseWhiteList.get('ok')}"/>
        <c:set var="mapResError"
               value="#{modificacionUsuarioBean.mapResponseWhiteList.get('error')}"/>

        <p:dialog modal="true" widgetVar="dialogContent" draggable="false"
                  closable="false" resizable="false" responsive="true"
                  showHeader="false" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)">
            <div align="center">
                <p:graphicImage value="/resources/icons/processing2.gif"/>
            </div>
        </p:dialog>

        <p:dialog header="Actualización del Vendedor" widgetVar="carDelet" resizable="false"
                  width="25%" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)" modal="true">
            <p:outputPanel id="carDetailDelet">
                <div class="ui-g ">
                    <div align="center">
                        <p:outputLabel value="Desea proceder con la Actualización?"
                        />

                    </div>
                </div>
            </p:outputPanel>
            <hr></hr>
            <p:commandButton value="Cancelar" type="button" icon="ui-icon-close"
                             onclick="PF('carDelet').hide()"/>
            <p:commandButton id="c1" value="Continuar"
                             icon="ui-icon-check" actionListener="#{modificacionUsuarioBean.actualizarUsuario}"
                             update=":mainForm"
                             onclick="PF('dialogContent').show();"
                             oncomplete="PF('dialogContent').hide();"
            />

        </p:dialog>

        <div class="border_div">..:: Modificar Vendedor ::..</div>

        <br/>

        <h:form id="mainForm">
            <p:panel header="MODIFICACIÓN DE VENDEDOR">
                <h:panelGrid id="form" columns="1" width="80%" style="margin-left: 20%"
                             columnClasses="ui-grid-col-8">
                    <div align="center">
                        <p:fieldset style="margin: auto">

                            <h:panelGrid id="idPanel" width="100%" columns="4">
                                <i class="fa fa-search"></i>
                                <p:inputText id="codigo" maxlength="8" disabled="#{!modificacionUsuarioBean.disable}"
                                             style="text-align: right;width:90%;"
                                             placeholder="Buscar Código"
                                             value="#{modificacionUsuarioBean.codigo}">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.CODIGO.BUSCADOR')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.CODIGO.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Código"/>
                                    <p:keyFilter for="codigo" mask="num"/>
                                </p:inputText>

                                <p:commandButton id="bntBuscar" value="Buscar" icon="fa fa-binoculars"
                                                 disabled="#{!modificacionUsuarioBean.disable}"
                                                 actionListener="#{modificacionUsuarioBean.buscarCodigo}"
                                                 update="@form btnReset" onclick="PF('dialogContent').show();"
                                                 oncomplete="PF('dialogContent').hide();"/>

                                <p:commandButton id="btnLimpiar" value="Limpiar" icon="fa fa-trash"
                                                 disabled="#{modificacionUsuarioBean.disable}" process="@this"
                                                 actionListener="#{modificacionUsuarioBean.limpiarTodo}"
                                                 update="@form btnReset"><p:resetInput
                                        target="form"/></p:commandButton>
                            </h:panelGrid>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Si" type="button"
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton value="No" type="button"
                                                 styleClass="ui-confirmdialog-no" icon="ui-icon-closethick"/>
                            </p:confirmDialog>
                            <hr/>
                            <h:panelGrid id="panel" columns="3" width="100%"
                                         columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-4">

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputCodigo" value="Código Activación:"/>
                                <p:inputText id="inputCodigo" value="#{modificacionUsuarioBean.user.username}"
                                             disabled="true" placeholder="Código"/>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputNombres" value="Nombres:"/>
                                <p:inputText id="inputNombres" value="#{modificacionUsuarioBean.user.firstName}"
                                             disabled="#{modificacionUsuarioBean.disable}" required="true"
                                             placeholder="Nombres"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.NOMBRES.MENSAJE.REQUERIDO')}"
                                             style="text-transform: uppercase">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.NOMBRES')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.NOMBRES.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Nombres"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputApellido" value="Apellidos:"/>
                                <p:inputText id="inputApellido" value="#{modificacionUsuarioBean.user.lastName}"
                                             disabled="#{modificacionUsuarioBean.disable}" required="true"
                                             placeholder="Apellidos"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.APELLIDOS.MENSAJE.REQUERIDO')}"
                                             style="text-transform: uppercase">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.APELLIDOS')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.APELLIDOS.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Apellidos"/>

                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputMsisdn" value="Teléfono:"/>
                                <p:inputText id="inputMsisdn" value="#{modificacionUsuarioBean.msisdn}"
                                             placeholder="Teléfono"
                                             disabled="#{modificacionUsuarioBean.disable}" required="true"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.TELEFONO.MENSAJE.REQUERIDO')}"
                                >
                                    <p:keyFilter for="inputMsisdn" mask="num"/>
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.TELEFONO')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.TELEFONO.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Teléfono"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputEmail" value="Email:"/>
                                <p:inputText id="inputEmail" value="#{modificacionUsuarioBean.user.email}"
                                             required="false"
                                             disabled="#{modificacionUsuarioBean.disable}" placeholder="Email"

                                >
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.EMAIL')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.EMAIL.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Email"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Límite:"/>
                                <p:inputText id="limiteText" value="#{modificacionUsuarioBean.limite}"
                                             placeholder="Límite"
                                             disabled="#{modificacionUsuarioBean.disable}" required="true"
                                             requiredMessage="#{altaUsuarioBean.mapa.get('EH.EXPRESION.LIMITE.MENSAJE.REQUERIDO')}">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.LIMITE')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.EXPRESION.LIMITE.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{modificacionUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Límite"/>
                                </p:inputText>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Distribuidor:"/>
                                <p:selectOneMenu id="tipo" autoWidth="false" style="max-width: 200px;min-width: 100px"
                                                 disabled="#{modificacionUsuarioBean.disable}"
                                                 value="#{modificacionUsuarioBean.selectDealer.idVcDealer}"
                                                 panelStyle="width:180px" maxlength="30"
                                                 effect="fade" filter="true"
                                                 requiredMessage="Seleccione un Distribuidor"
                                                 filterMatchMode="contains" required="true">
                                    <p:ajax listener="#{modificacionUsuarioBean.cargarComboZonas(modificacionUsuarioBean.selectDealer)}"
                                            update="zona"/>
                                    <f:selectItem itemLabel="--Seleccionar--"
                                                  itemValue="#{null}"/>
                                    <f:selectItems value="#{modificacionUsuarioBean.listaDealer}"
                                                   var="dealer"
                                                   itemValue="#{dealer.idVcDealer}"
                                                   itemLabel="#{dealer.nombre}"
                                                   itemDescription="#{dealer.observacion}"
                                    />

                                    <p:column>
                                        <h:outputText value="#{dealer.nombre}"/>
                                    </p:column>

                                </p:selectOneMenu>

                                <h:outputLabel value=""/>
                                <h:outputLabel value=" Sucursal:"/>
                                <p:selectOneMenu id="zona" autoWidth="false" style="max-width: 200px;min-width: 100px"
                                                 disabled="#{modificacionUsuarioBean.disable}"
                                                 value="#{modificacionUsuarioBean.selectZonas.idVcZonas}"
                                                 panelStyle="width:180px" maxlength="30"
                                                 effect="fade" filter="true"
                                                 requiredMessage="Seleccione una Sucursal"
                                                 filterMatchMode="contains" required="true">

                                    <f:selectItem itemLabel="--Seleccionar--"
                                                  itemValue="#{null}"/>
                                    <f:selectItems value="#{modificacionUsuarioBean.listaZonas}"
                                                   var="zonas"
                                                   itemValue="#{zonas.idVcZonas}"
                                                   itemLabel="#{zonas.nombre}"
                                                   itemDescription="#{zonas.observacion}"
                                    />

                                    <p:column>
                                        <h:outputText value="#{zonas.nombre}"/>
                                    </p:column>

                                </p:selectOneMenu>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Categoría:"/>
                                <p:selectOneMenu id="categoria" autoWidth="false"
                                                 style="max-width: 200px;min-width: 100px"
                                                 disabled="#{modificacionUsuarioBean.disable}"
                                                 value="#{modificacionUsuarioBean.selectCategoria.id}"
                                                 panelStyle="width:180px" maxlength="30"
                                                 effect="fade" filter="true"
                                                 requiredMessage="Seleccione una Categoria"
                                                 filterMatchMode="contains" required="true">

                                    <f:selectItem itemLabel="--Seleccionar--"
                                                  itemValue="#{null}"/>
                                    <f:selectItems value="#{modificacionUsuarioBean.listaCategoria}"
                                                   var="categoria"
                                                   itemValue="#{categoria.id}"
                                                   itemLabel="#{categoria.nombre}"
                                    />

                                    <p:column>
                                        <h:outputText value="#{categoria.nombre}"/>
                                    </p:column>

                                </p:selectOneMenu>


                                <h:outputLabel value=""/>
                                <h:outputLabel value="Estado:"/>
                                <p:selectBooleanButton onLabel="Habilitado" offLabel="Deshabilitado"
                                                       onIcon="fa fa-check"
                                                       value="#{modificacionUsuarioBean.user.enabled}"
                                                       offIcon="fa fa-times"
                                                       disabled="#{modificacionUsuarioBean.disable}"/>

                            </h:panelGrid>
                            <h:panelGrid id="repeat" width="100%">
                                <p:repeat value="#{modificacionUsuarioBean.listapermisos}" var="permiso"
                                          varStatus="varParam">
                                    <h:panelGrid columns="3" style="width:100%"
                                                 layout="grid"
                                                 columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-4"
                                                 styleClass="ui-panelgrid-blank">
                                        <h:outputLabel value=""/>
                                        <h:outputLabel value="#{permiso.nombre}:"/>
                                        <p:selectBooleanButton onLabel="Si" offLabel="No"
                                                               onIcon="fa fa-check"
                                                               value="#{permiso.estado}"
                                                               offIcon="fa fa-times"
                                                               disabled="#{modificacionUsuarioBean.disable}"/>
                                    </h:panelGrid>

                                </p:repeat>
                            </h:panelGrid>
                            <hr/>
                            <h:panelGrid columns="4" width="100%"
                                         columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4">
                                <h:outputLabel value=""/>
                                <p:commandButton id="btnReset" value="Guardar" icon="fa fa-check"
                                                 actionListener="#{modificacionUsuarioBean.abrirDialogoConfirmacion}"
                                                 disabled="#{modificacionUsuarioBean.disable}"

                                />
                                <h:outputLabel value=""/>
                                <p:commandButton id="btnReset1" value="Editar" icon="fa fa-pencil"
                                                 disabled="#{! not empty modificacionUsuarioBean.user.attributes.msisdn}"
                                                 actionListener="#{modificacionUsuarioBean.activarEditar}"
                                                 update="panel repeat  idPanel btnReset"
                                />

                            </h:panelGrid>
                        </p:fieldset>
                    </div>


                </h:panelGrid>
            </p:panel>
        </h:form>


    </ui:define>
</ui:composition>