<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" template="./../resources/templates/simple_layout.xhtml">

	<ui:define name="content">

		<h:form id="mainForm">

			<div class="border_div">GESTION DE ROLES</div>

			<h:panelGrid columns="2">
				<p:panel header="INFORMACION GENERAL" style="width:350px; height:300px;">
					<h:panelGrid columns="2">
						<p:outputLabel rendered="#{roleForm.edit}" value="Id rol:" />
						<p:inputText rendered="#{roleForm.edit}" value="#{roleForm.role.rolId}" disabled="true" size="30" />

						<p:outputLabel value="Nombre:" />
						<p:inputText value="#{roleForm.role.nombre}" size="30" maxlength="30" label="Nombre" autocomplete="off"/>

						<p:outputLabel value="Descripción:" />
						<p:inputText value="#{roleForm.role.descripcion}" size="30" maxlength="50" label="Descripción" autocomplete="off"/>

						<p:outputLabel value="Validar Ip:" />
						<p:selectBooleanCheckbox value="#{roleForm.role.validaIp}">
							<p:ajax update=":mainForm:panelIp" />
						</p:selectBooleanCheckbox>

						<p:commandButton value="Guardar" actionListener="#{roleForm.guardarRol()}" update=":mainForm :mainForm2" />

						<p:commandButton value="Limpiar" actionListener="#{roleForm.newRole()}" update=":mainForm" />
					</h:panelGrid>
				</p:panel>

				<p:panel id="panelIp" header="CONFIGURACIÓN IP" style="width:360px; height:300px;">

					<h:panelGrid columns="2">
						<p:outputLabel value="Ip" />
						<p:inputText value="#{roleForm.rolIp.ip}" size="15" maxlength="15" label="Ip" disabled="#{!roleForm.role.validaIp}" />
						<p:outputLabel value="Ip Final (Rango)" />
						<p:inputText value="#{roleForm.rolIp.ipF}" size="15" maxlength="15" label="IP Final (Rango)" disabled="#{!roleForm.role.validaIp}" />
						<p:commandButton value="Registrar" actionListener="#{roleForm.addIp()}" update=":mainForm:panelIp" disabled="#{!roleForm.role.validaIp}" />
						<p:commandButton value="Limpiar" actionListener="#{roleForm.newRolIp()}" update=":mainForm:panelIp" disabled="#{!roleForm.role.validaIp}" />
					</h:panelGrid>

					<p:dataTable id="dtIp" value="#{roleForm.listRolIp}" var="item" tableStyle="table-layout: auto;" paginator="true" rowsPerPageTemplate="4" rows="4" paginatorPosition="top">
						<p:column headerText="Ip">
							<h:outputText value="#{item.ip}" style="text-align: left; width:96%;" />
						</p:column>
						
						<p:column headerText="Ip Final (Rango)">
							<h:outputText value="#{item.ipF}" style="text-align: left; width:96%;" />
						</p:column>

						<p:column width="30">
							<p:commandLink update=":mainForm:panelIp" actionListener="#{roleForm.removeIp2(item)}" disabled="#{!roleForm.role.validaIp}">
								<h:graphicImage library="img" name="trash-icon.png" title="Quitar" style="border-width: 0px;" width="16" height="16" />
							</p:commandLink>
						</p:column>

						<p:column width="30">
							<p:commandLink update=":mainForm:panelIp" actionListener="#{roleForm.onRowSelect2(item)}" disabled="#{!roleForm.role.validaIp}">
								<h:graphicImage library="img" name="edit-icon.png" title="Editar" style="border-width: 0px;" />
							</p:commandLink>
						</p:column>

					</p:dataTable>

				</p:panel>
			</h:panelGrid>
		</h:form>

		<h:form id="mainForm2">

			<br></br>
			<br></br>
			<p:dataTable var="item" value="#{roleForm.listRole}" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15" styleClass="">

				<f:facet name="header">LISTA DE ROL</f:facet>

				<p:column headerText="ACCIONES" style="text-align: center;" width="80">

					<h:commandLink id="deleteLink" action="#{roleForm.deleteRole}" rendered="#{item.rolId != 1}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">
						<h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" title="Eliminar" />
						<f:param name="roleId" value="#{item.rolId}" />
					</h:commandLink>

					<h:commandLink id="editLink" action="#{roleForm.editRole}" rendered="#{item.rolId != 1}">
						<h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon" title="Editar" />
						<f:param name="roleId" value="#{item.rolId}" />
					</h:commandLink>

				</p:column>

				<p:column headerText="PERMISOS" style="text-align: center;" width="80">

					<h:commandLink action="#{roleForm.cargarRoles(item.rolId)}" rendered="#{item.rolId != 1}">
						<h:graphicImage alt="Editar Permisos" url="/resources/icons/top.png" styleClass="icon" />
					</h:commandLink>
				</p:column>

				<p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="NOMBRE" />
					</f:facet>
					<h:outputText value="#{item.nombre}" />
				</p:column>

				<p:column sortBy="#{item.descripcion}" filterBy="#{item.descripcion}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="DESCRIPCIÓN" />
					</f:facet>
					<h:outputText value="#{item.descripcion}" />
				</p:column>
				<p:column headerText="VALIDA IP" width="70" style="text-align: center;">
					<h:outputText value="#{item.validaIp==true? 'SI' : 'NO'}" />
				</p:column>

			</p:dataTable>

		</h:form>


		<p:dialog id="dlgPermisos" header="Permisos por Rol" widgetVar="dlg1" minHeight="250" visible="#{roleForm.visibleDialog}" height="400" width="400" closeOnEscape="true" position="center, 50" styleClass="dialog_rol" appendTo="@(body)" modal="true">

			<h:form id="formDialog">

				<h:panelGrid columns="1">
					<p:commandButton value="Guardar" actionListener="#{roleForm.guardarPermisos()}" ajax="false" process="@this" update=":dlgPermisos" />
				</h:panelGrid>

				<p:tree value="#{roleForm.roles}" var="doc" selectionMode="checkbox" selection="#{roleForm.nodosSeleccionados}">
					<p:treeNode icon="ui-icon-document">
						<h:outputText value="#{doc}" />
					</p:treeNode>
					<p:ajax event="select" />
				</p:tree>

			</h:form>

		</p:dialog>

	</ui:define>
</ui:composition>