<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
>

    <ui:define name="content">
        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>


        <c:set var="mapResOk"
               value="#{bajaUsuarioBean.mapResponseWhiteList.get('ok')}"/>
        <c:set var="mapResError"
               value="#{bajaUsuarioBean.mapResponseWhiteList.get('error')}"/>

        <p:dialog modal="true" widgetVar="dialogContent" draggable="false"
                  closable="false" resizable="false" responsive="true"
                  showHeader="false" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)">
            <div align="center">
                <p:graphicImage value="/resources/icons/processing2.gif"/>
            </div>
        </p:dialog>

        <p:dialog header="Eliminación del Vendedor" widgetVar="carDelet" resizable="false"
                  width="25%" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)" modal="true">
            <p:outputPanel id="carDetailDelet">
                <div class="ui-g ">
                    <div align="center">
                        <p:outputLabel value="Desea proceder con la Eliminación?"
                        />

                    </div>
                </div>
            </p:outputPanel>
            <hr></hr>
            <p:commandButton value="Cancelar" type="button" icon="ui-icon-close"
                             onclick="PF('carDelet').hide()"/>
            <p:commandButton id="c1" value="Continuar"
                             icon="ui-icon-check" actionListener="#{bajaUsuarioBean.eliminarUsuario}"
                             update=":mainForm"
                             onclick="PF('dialogContent').show();"
                             oncomplete="PF('dialogContent').hide();"
            />

        </p:dialog>

        <div class="border_div">..:: Baja De Vendedor ::..</div>

        <br/>

        <h:form id="mainForm">
            <p:panel header="BAJA DE VENDEDOR">
                <h:panelGrid columns="1" width="80%" style="margin-left: 20%"
                             columnClasses="ui-grid-col-8">
                    <div align="center">
                        <p:fieldset style="margin: auto">

                            <h:panelGrid id="idPanel" width="100%" columns="4">
                                <p:outputLabel value=""/>
                                <i class="fa fa-search"></i>
                                <p:inputText id="codigo" maxlength="8" disabled="#{!bajaUsuarioBean.disable}"
                                             style="width:70%;"
                                             placeholder="Buscar Código"
                                             value="#{bajaUsuarioBean.codigo}">
                                    <f:validator validatorId="regexResolverValidatorOptional"/>
                                    <f:attribute name="REGEX_VALIDATOR"
                                                 value="#{bajaUsuarioBean.mapa.get('EH.EXPRESION.CODIGO.BUSCADOR')}"/>
                                    <f:attribute name="REGEX_MESSAGE"
                                                 value="#{bajaUsuarioBean.mapa.get('EH.EXPRESION.CODIGO.MENSAJE.ERROR')}"/>
                                    <f:attribute name="REGEX_SUMMARY"
                                                 value="#{bajaUsuarioBean.mapa.get('EH.SUMMARY.MENSAJES')}"/>
                                    <f:attribute name="FIELD_VALUE" value="Código"/>
                                    <p:keyFilter for="codigo" mask="num"/>

                                </p:inputText>

                                <p:commandButton id="bntBuscar" value="Buscar" icon="fa fa-binoculars"
                                                 disabled="#{!bajaUsuarioBean.disable}"
                                                 actionListener="#{bajaUsuarioBean.buscarCodigo}"
                                                 update="@form btnReset" onclick="PF('dialogContent').show();"
                                                 oncomplete="PF('dialogContent').hide();"/>

                            </h:panelGrid>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Si" type="button"
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton value="No" type="button"
                                                 styleClass="ui-confirmdialog-no" icon="ui-icon-closethick"/>
                            </p:confirmDialog>
                            <hr/>
                            <h:panelGrid id="panel" columns="3" width="100%"
                                         columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-4">
                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputCodigo" value="Código Activación:"/>
                                <p:outputLabel id="inputCodigo" value="#{bajaUsuarioBean.user.username}"
                                />

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputNombres" value="Nombres:"/>
                                <p:outputLabel id="inputNombres" value="#{bajaUsuarioBean.user.firstName}"
                                               disabled="#{bajaUsuarioBean.disable}" required="true"
                                               style="text-transform: uppercase">

                                </p:outputLabel>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputApellido" value="Apellidos:"/>
                                <p:outputLabel id="inputApellido" value="#{bajaUsuarioBean.user.lastName}"
                                               disabled="#{bajaUsuarioBean.disable}" required="true"
                                               style="text-transform: uppercase">
                                </p:outputLabel>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputMsisdn" value="Teléfono:"/>
                                <p:outputLabel id="inputMsisdn" value="#{bajaUsuarioBean.msisdn}"
                                               disabled="#{bajaUsuarioBean.disable}" required="true"
                                               style="text-transform: uppercase">
                                </p:outputLabel>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Distribuidor:"/>
                                <h:outputLabel value="#{bajaUsuarioBean.selectDealer}"/>

                                <h:outputLabel value=""/>
                                <h:outputLabel value=" Sucursal:"/>
                                <h:outputLabel value="#{bajaUsuarioBean.selectZonas}"/>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Categoría:"/>
                                <h:outputLabel value="#{bajaUsuarioBean.selectCategoria}"/>

                                <h:outputLabel value=""/>
                                <h:outputLabel for="inputEmail" value="Email:"/>
                                <p:outputLabel id="inputEmail" value="#{bajaUsuarioBean.user.email}">
                                </p:outputLabel>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Límite:"/>
                                <p:outputLabel id="limiteText" value="#{bajaUsuarioBean.limite}"
                                >
                                </p:outputLabel>

                                <h:outputLabel value=""/>
                                <h:outputLabel value="Estado:"/>
                                <p:outputLabel value="#{bajaUsuarioBean.estado}"/>

                            </h:panelGrid>
                            <h:panelGrid id="repeat" width="100%">
                                <p:repeat value="#{bajaUsuarioBean.listapermisos}" var="permiso"
                                          varStatus="varParam">
                                    <h:panelGrid columns="3" style="width:100%"
                                                 layout="grid"
                                                 columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-4"
                                                 styleClass="ui-panelgrid-blank">
                                        <h:outputLabel value=""/>
                                        <h:outputLabel value="#{permiso.nombre}:"/>
                                        <h:outputLabel value="#{permiso.estadoString}"/>
                                    </h:panelGrid>

                                </p:repeat>
                            </h:panelGrid>
                            <hr/>
                            <h:panelGrid columns="3" width="100%"
                                         columnClasses="ui-grid-col-4,ui-grid-col-8,ui-grid-col-4,">
                                <h:outputLabel value=""/>
                                <p:commandButton id="btnReset" value="Eliminar" icon="fa fa-trash"
                                                 actionListener="#{bajaUsuarioBean.abrirDialogoConfirmacion}"
                                                 disabled="#{! not empty bajaUsuarioBean.user.attributes.msisdn}"

                                />
                            </h:panelGrid>
                        </p:fieldset>
                    </div>


                </h:panelGrid>
            </p:panel>
        </h:form>


    </ui:define>
</ui:composition>