<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="./../resources/templates/simple_layout.xhtml">
	<ui:define name="content">

		<h:form id="frmDatos">

			<div class="border_div">GESTION DE GRUPOS</div>

			<br />
			<p:panel header="INFORMACION GENERAL" style="width: 350px">

				<h:panelGrid columns="2">

					<p:outputLabel for="itGrupoId" rendered="#{muGrupoBean.edit}" value="Id grupo:" />
					<p:inputText id="itGrupoId" rendered="#{muGrupoBean.edit}" readonly="true" size="30" maxlength="30" value="#{muGrupoBean.group.grupoId}" />

					<p:outputLabel for="itNombre" value="Nombre:" />
					<p:inputText id="itNombre" size="30" maxlength="30" value="#{muGrupoBean.group.nombre}" label="Nombre" autocomplete="off"/>

					<p:outputLabel for="itDescripcion" value="Descripción:" />
					<p:inputText id="itDescripcion" size="30" maxlength="30" value="#{muGrupoBean.group.detalle}" label="Descripción" autocomplete="off">
					</p:inputText>

					<p:outputLabel for="somRol" value="Rol:" />
					<p:selectOneMenu id="somRol" value="#{muGrupoBean.select}" onselect="#{muGrupoBean.select}">
						<f:selectItems value="#{muGrupoBean.selectItems}" />
					</p:selectOneMenu>

					<p:commandButton id="btnGuardar" value="Guardar" actionListener="#{muGrupoBean.saveGroup()}" update=":frmDatos :frmDetalle" />

					<p:commandButton id="btnLimpiar" value="Limpiar" actionListener="#{muGrupoBean.newGroup()}" update=":frmDatos :frmDetalle" />

				</h:panelGrid>

			</p:panel>

		</h:form>

		<br />

		<h:form id="frmDetalle">

			<p:dataTable var="row" value="#{muGrupoBean.listGroup}" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
				<f:facet name="header">LISTA DE GRUPOS</f:facet>
				<p:column style="text-align: left;" headerText="ACCIONES">

					<h:commandLink id="deleteLink" action="#{muGrupoBean.deleteRoleGroup}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">
						<h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" title="Eliminar" />
						<f:param name="groupId" value="#{row.grupoId}" />
					</h:commandLink>

					<h:commandLink id="editLink" action="#{muGrupoBean.editRoleGroup}">
						<h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon" title="Editar" />
						<f:param name="groupId" value="#{row.grupoId}" />
					</h:commandLink>

				</p:column>

				<p:column style="text-align: left;" filterBy="#{row.nombre}" filterMatchMode="contains" headerText="NOMBRE DE GRUPO">
					<h:outputText value="#{row.nombre}" />
				</p:column>

				<p:column style="text-align: left;" filterBy="#{row.detalle}" filterMatchMode="contains" headerText="DESCRIPCIÓN">
					<h:outputText value="#{row.detalle}" />
				</p:column>

				<p:column filterBy="#{row.muRol.nombre}" filterMatchMode="contains" headerText="ROL">
					<h:outputText value="#{row.muRol.nombre}" />
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>