<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="./../resources/templates/simple_layout.xhtml">

	<ui:define name="content">

		<h:form id="mainForm">

			<div class="border_div">GESTION DE USUARIOS</div>
			<br />
			<p:panel header="INFORMACION GENERAL" style="width: 350px">

				<h:panelGrid columns="2">

					<p:outputLabel for="itUsuarioId" rendered="#{roleUserForm.edit}" value="Id usuario:" />
					<p:inputText id="itUsuarioId" rendered="#{roleUserForm.edit}" disabled="true" maxlength="30" size="30" value="#{roleUserForm.user.usuarioId}" />


					<p:outputLabel for="itUsuario" value="Usuario:" />
					<p:inputText id="itUsuario" label="Usuario" size="30" maxlength="30" value="#{roleUserForm.user.login}" autocomplete="off"/>

					<p:outputLabel for="somRol" value="Rol:" />
					<p:selectOneMenu id="somRol" value="#{roleUserForm.select}" onselect="#{roleUserForm.select}">
						<f:selectItems value="#{roleUserForm.selectItems}" />
					</p:selectOneMenu>

					<p:commandButton id="btnGuardar" value="Guardar" actionListener="#{roleUserForm.saveUser()}" update=":mainForm :frmDetalle" />

					<p:commandButton id="btnLimpiar" value="Limpiar" actionListener="#{roleUserForm.newUser()}" update=":mainForm :frmDetalle" />

				</h:panelGrid>

			</p:panel>

		</h:form>

		<br />

		<h:form id="frmDetalle">

			<p:dataTable var="row" value="#{roleUserForm.listUser}" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">

				<f:facet name="header">LISTA DE USUARIOS</f:facet>

				<p:column headerText="ACCIONES" style="text-align: center;">

					<h:commandLink id="deleteLink" rendered="#{row.login != 'admin'}" action="#{roleUserForm.deleteRoleUser}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">
						<h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" title="Eliminar" />
						<f:param name="user_id" value="#{row.usuarioId}" />
					</h:commandLink>

					<h:commandLink id="editLink" rendered="#{row.login != 'admin'}" action="#{roleUserForm.editRoleUser}">
						<h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon" title="Editar" />
						<f:param name="user_id" value="#{row.usuarioId}" />
					</h:commandLink>

				</p:column>

				<p:column headerText="USUARIO" filterBy="#{row.login}" filterMatchMode="contains">
					<h:outputText value="#{row.login}" />
				</p:column>

				<p:column headerText="NOMBRE" filterBy="#{row.nombre}" filterMatchMode="contains">
					<h:outputText value="#{row.nombre}" />
				</p:column>

				<p:column headerText="ROL" filterBy="#{row.muRol.nombre}" filterMatchMode="contains">
					<h:outputText value="#{row.muRol.nombre}" />
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>

</ui:composition>