<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="content">
        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>

        <c:set var="mapResOk"
               value="#{gestionSupervisorVendedorBean.mapResponseWhiteList.get('ok')}"/>
        <c:set var="mapResError"
               value="#{gestionSupervisorVendedorBean.mapResponseWhiteList.get('error')}"/>

        <p:dialog modal="true" widgetVar="dialogContent" draggable="false"
                  closable="false" resizable="false" responsive="true"
                  showHeader="false" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)">
            <div align="center">
                <p:graphicImage value="/resources/icons/processing2.gif"/>
            </div>
        </p:dialog>

        <p:dialog header="Eliminar Dealer/Distribuidor" widgetVar="carDelet" resizable="false"
                  width="25%" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)" modal="true">
            <p:outputPanel id="carDetailDelet">
                <div class="ui-g ">
                    <div align="center">
                        <p:outputLabel value="Desea proceder a Eliminar el Dealer/Distribuidor?"
                        />
                    </div>
                </div>
            </p:outputPanel>
            <hr></hr>
            <p:commandButton value="Cancelar" type="button" icon="ui-icon-close"
                             onclick="PF('carDelet').hide()"/>
            <p:commandButton id="c1" value="Continuar"
                             icon="ui-icon-check"
                             actionListener="#{gestionSupervisorVendedorBean.eliminarVcDealerZonas(1)}"
                             update=":mainForm"
                             onclick="PF('dialogContent').show();"
                             oncomplete="PF('dialogContent').hide();"/>
        </p:dialog>

        <div class="border_div">..:: Gestion de Supervisores ::..</div>
        <br/>
        <h:form id="mainForm">
            <p:panel header="GESTION DE SUPERVISORES">

                <h:panelGrid columns="1" width="70%" style="margin-left: 25%;"
                             columnClasses="ui-grid-col-7">
                    <div align="center">
                        <p:fieldset style="margin: auto">

                            <h:panelGrid id="idPanel" width="100%" columns="2">
                                <h:outputLabel value="Nombre de usuario :" style="font-weight: bold"/>
                                <p:inputText id="name_user"
                                             style="text-align: right;width:92%; margin-left: 3%;"
                                             placeholder="Nombre de Usuario"
                                             value="#{gestionSupervisorVendedorBean.nameUser}">
                                </p:inputText>
                                <p:outputLabel for="tipoUser" value="Tipo de Usuario:" style="font-weight: bold"/>
                                <p:selectOneRadio id="tipoUser" value="#{gestionSupervisorVendedorBean.tipoUsuario}"
                                                  required="true">
                                    <f:selectItem itemLabel="Usuario" itemValue="muUsuario"/>
                                    <f:selectItem itemLabel="Grupo Usuario" itemValue="grupoUsuarioAd"
                                                  style="margin-left: 30%;"/>
                                </p:selectOneRadio>
                                <p:commandButton value="Buscar" icon="fa fa-binoculars"
                                                 actionListener="#{gestionSupervisorVendedorBean.consultarTablaUsuarios}"
                                                 update="@form btnGuardar" onclick="PF('dialogContent').show();"
                                                 oncomplete="PF('dialogContent').hide();"/>

                                <p:commandButton id="btnLimpiar" value="Limpiar" style="margin-left: 4%"
                                                 disabled="#{gestionSupervisorVendedorBean.disable}"
                                                 update="@form"
                                                 onclick="PF('dialogContent').show();"
                                                 oncomplete="PF('dialogContent').hide();"
                                                 actionListener="#{gestionSupervisorVendedorBean.limpiarTodoDeshabilitarBoton}"
                                                 icon="fa fa-check"/>
                            </h:panelGrid>

                            <hr/>
                            <h:panelGrid width="100%" columns="1">
                                <h3 style="margin-top:0">Dealer/Distribuidor</h3>
                                <p:tree id="treeData" value="#{gestionSupervisorVendedorBean.root}"
                                        var="doc" selectionMode="checkbox"
                                        selection="#{gestionSupervisorVendedorBean.nodosSeleccionados}"
                                        style="width: 100%;max-height: 250px;overflow: auto;display: block">
                                    <p:treeNode icon="ui-icon-document">
                                        <h:outputText value="#{doc.nombre}"/>
                                    </p:treeNode>
                                    <p:ajax event="select"/>
                                </p:tree>
                            </h:panelGrid>
                            <hr/>
                            <h:panelGrid width="100%" columns="4"
                                         columnClasses="ui-grid-col-3,ui-grid-col-4,ui-grid-col-4">
                                <h:outputLabel value=""/>
                                <p:commandButton id="btnGuardar"
                                                 value="#{gestionSupervisorVendedorBean.nameGuardarBoton}"
                                                 disabled="#{gestionSupervisorVendedorBean.disable}"
                                                 update=":mainForm"
                                                 onclick="PF('dialogContent').show();"
                                                 oncomplete="PF('dialogContent').hide();"
                                                 actionListener="#{gestionSupervisorVendedorBean.guardarVcDealerZonas}"
                                                 icon="fa fa-check"/>

                                <p:commandButton id="btnEliminar" value="Eliminar"
                                                 disabled="#{gestionSupervisorVendedorBean.disable}"
                                                 icon="fa fa-trash" onclick="PF('carDelet').show();"/>
                                <h:outputLabel value=""/>
                            </h:panelGrid>

                        </p:fieldset>
                    </div>
                </h:panelGrid>
            </p:panel>
            <!--            disabled="#{! not empty gestionSupervisorVendedorBean.botonesDisable.attributes.msisdn}"-->
        </h:form>
    </ui:define>
</ui:composition>