<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
>

	<ui:define name="content">
		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>
		
		<h:form id="mainForm">

			<div class="border_div">ATENCION DE INCIDENTES</div>
			<br />
			<p:panel header="INFORMACION GENERAL"
				style="width: 750px; height: 150px">

				<h:panelGrid columns="9">
					<h:panelGrid columns="2">
						<p:outputLabel value="Nro. Incidente:" />
						<p:inputText size="15" maxlength="15"
							value="#{incidentesBean.idi}" autocomplete="off" />

						<p:outputLabel value="Atención:" />
						<p:selectOneMenu value="#{incidentesBean.atencion}">
							<f:selectItem itemLabel="Todos" itemValue="" />
							<f:selectItem itemLabel="Atendido" itemValue="1" />
							<f:selectItem itemLabel="No Atendido" itemValue="0" />
						</p:selectOneMenu>
					</h:panelGrid>

					<h:panelGrid columns="2">

						<p:outputLabel value="Usuario:" />
						<p:selectOneMenu value="#{incidentesBean.select}"
							onselect="#{incidentesBean.select}">
							<f:selectItems value="#{incidentesBean.selectItems}" />
						</p:selectOneMenu>

						<p:outputLabel value="Vista:" />
						<p:selectOneMenu value="#{incidentesBean.select2}"
							onselect="#{incidentesBean.select2}">
							<f:selectItems value="#{incidentesBean.selectItems2}" />
						</p:selectOneMenu>

					</h:panelGrid>

					<h:panelGrid columns="2">
						<h:outputLabel value="Fecha Inicio:" />
						<p:calendar value="#{incidentesBean.fechainc}"
							pattern="dd/MM/yyyy HH:mm:ss" styleClass="calendario"
							autocomplete="off" />

						<h:outputLabel value="Fecha Fin:" />
						<p:calendar value="#{incidentesBean.fechafin}"
							pattern="dd/MM/yyyy HH:mm:ss" styleClass="calendario"
							autocomplete="off" />
					</h:panelGrid>
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:commandButton value="Buscar" icon="fa fa-binoculars"
						actionListener="#{incidentesBean.Buscar()}"
						update=":mainForm :frmDetalle:tableIncidente"
						onclick="PF('dialogContent').show();"
						oncomplete="PF('dialogContent').hide();" />
					<p:commandButton value="Limpiar" icon="fa fa-close"
						actionListener="#{incidentesBean.limpiar()}"
						update=":mainForm :frmDetalle" />
				</h:panelGrid>
			</p:panel>

		</h:form>

		<br />

		<h:form id="frmDetalle">
			<p:dataTable id="tableIncidente" var="row"
				value="#{incidentesBean.model}" paginator="true" rows="15"
				reflow="false" widgetVar="orderDataTable"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" dynamic="true" rowsPerPageTemplate="15,20,30,50,70,100">

				<f:facet name="header">LISTA DE INCIDENTES</f:facet>

				<p:column headerText="ACCIONES" style="text-align: center;">
					<p:commandLink id="editLink" update="frmDetalle:tableIncidente"
						actionListener="#{incidentesBean.editIncidente(row)}"
						disabled="#{row.atendido}">
						<h:graphicImage id="editImage" alt="Atender Incidente"
							url="/resources/icons/aproved.png" styleClass="icon"
							title="Atender Incidente" />
						<p:confirm header="Confirmacion" message="Esta seguro de atender el incidente?" icon="ui-icon-alert" />
					</p:commandLink>
				</p:column>

				<p:column headerText="NRO INCIDENTE" filterBy="#{row.id}"
					sortBy="#{row.id}" filterMatchMode="contains" 
					style="text-align: left; word-wrap: break-word; white-space: normal;"
					filterStyle="width: 60px;">
					<h:outputText value="#{row.id}" />
				</p:column>

				<p:column headerText="FECHA INCIDENTE"
					filterBy="#{row.fechaIncidente}" sortBy="#{row.fechaIncidente}"
					filterMatchMode="contains"
					style="text-align: left; width: 120px; word-wrap: break-word; white-space: normal;"
					filterStyle="width: 60px;">
					<h:outputText value="#{row.fechaIncidente.getTime()}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
					</h:outputText>
				</p:column>

				<p:column headerText="FECHA ATENCION"
					filterBy="#{row.fechaAtencion}" sortBy="#{row.fechaAtencion}"
					filterMatchMode="contains"
					style="text-align: left; width: 120px; word-wrap: break-word; white-space: normal;"
					filterStyle="width: 60px;">
					<h:outputText value="#{row.fechaAtencion.getTime()}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
					</h:outputText>
				</p:column>

				<p:column headerText="USUARIO" filterBy="#{row.usuario}"
					sortBy="#{row.usuario}" filterMatchMode="contains"
					style="text-align: left; word-wrap: break-word; white-space: normal;"
					filterStyle="width: 60px;">
					<h:outputText value="#{row.usuario}" />
				</p:column>

				<p:column headerText="VISTA" filterBy="#{row.vista}"
					sortBy="#{row.vista}" filterMatchMode="contains"
					style="text-align: left; word-wrap: break-word; white-space: normal;"
					filterStyle="width: 60px;">
					<h:outputText value="#{row.vista}" />
				</p:column>

				<p:column headerText="ATENCION" filterBy="#{row.atendido}"
					sortBy="#{row.atendido}" filterMatchMode="contains"
					style="text-align: left; word-wrap: break-word; white-space: normal;"
					filterStyle="width: 60px;">
					<h:outputText
						value="#{row.atendido==true? 'atendido' : 'no atendido'}" />
				</p:column>

				<p:column headerText="EXPORTAR" style="text-align: center;">
					<p:commandButton value="Exportar" icon="ui-icon-document"
						ajax="false" actionListener="#{incidentesBean.exportExcel(row)}">
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="SI" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="NO" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>

	</ui:define>

</ui:composition>