<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" template="./../resources/templates/template_login.xhtml">

	<ui:define name="content">



		<h:inputHidden id="ihUrlServlet" value="#{login.urlServlet}" />
		<h:inputHidden id="ihUrlServletVolver" value="#{login.urlServletVolver}" />

		<h:form id="formLogin" enctype="application/x-www-form-urlencoded">

			<div class="form-signin loginbox" align="center">
				<h:graphicImage library="img" name="login.png" alt="usuario" styleClass="imgBox" width="100" height="100" />
				<br />
				<p:outputLabel style="font-size: 20px; color: #244b81; font-weight: normal;" value="#{login.tituloAplicacion}" />

				<div class="form-group">
					<h:inputHidden id="ihIp" value="#{login.ipClient}" />
				</div>

				<div class="form-group">
					<p:inputText placeholder="USUARIO" id="usernameId" value="#{login.userId}" required="true" label="Usuario" requiredMessage="Campo 'usuario' es requerido" maxlength="20" size="20"
						autocomplete="off" styleClass="form-control">
					</p:inputText>
				</div>

				<div class="form-group">
					<p:inputText placeholder="CONTRASEÑA" type="password" id="passwordId" value="#{login.password}" required="true" label="Password" autocomplete="off" maxlength="50" size="20"
						requiredMessage="Campo 'password' es requerido" styleClass="form-control">
					</p:inputText>
				</div>
				<div class="form-group">
					<h:commandButton id="comanLogin" action="#{login.verifyLogin()}" value="LOGIN" type="submit" styleClass="btn btn-success btn-block active" />
				</div>
			</div>

			<div class="form-group">
				<div class="alerta">
					<p:messages id="messages" showSummary="false" showDetail="true" autoUpdate="true" />
				</div>
			</div>

		</h:form>


	</ui:define>

</ui:composition>

