<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
	<title>Facelet Title</title>
</h:head>
<body>


	<ui:composition template="./../resources/templates/simple_layout.xhtml">


		<ui:define name="content">

			<h:form>
				<div id="wrapframe">
					<iframe id="imagepgframe" name="imagepgframe" frameborder="0" scrolling="auto" src="#{lotharBean.pageCugBorrarGrupo}">
						<p>Your browser does not support iframes.</p>
					</iframe>
				</div>
			</h:form>

		</ui:define>
	</ui:composition>

</body>

</html>