<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../resources/templates/simple_layout.xhtml">
	<ui:define name="content">

		<div class="outer-container">
			<div class="inner-container">
				<div class="centered-content">
					<h:graphicImage id="MenuPrincipal" library="img" name="mainMenu.png" style="width: 100%; height: 100%" />
				</div>
			</div>
		</div>


	</ui:define>
</ui:composition>