<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
			function start() {
				PF('statusDialog').show();
			}

			function stop() {
				PF('statusDialog').hide();
			}
		</script>
		<style type="text/css">
input {
	width: 100%;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}
</style>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">..:: Reporte de notificaciones de la vigencia del paquete ::..</div>
		<br />

		<h:form id="idForm">
			<p:panel id="panel_cuenta" header="Reporte de notificaciones de la vigencia del paquete"
				width="90%">
				<h:panelGrid columns="2" width="100%"
					columnClasses="ui-grid-col-3,ui-grid-col-9">
					<p:fieldset legend="Consulta de reporte de notificaciones de la vigencia del paquete">
						<h:panelGrid id="idPanel" columns="2" width="100%">
							<h:outputLabel value="Fecha inicial:" />
							<p:calendar id="calInicio" value="#{smsSendBean.startDate}"
								pattern="#{smsSendBean.patternFecha}" width="93%">
							</p:calendar>

							<h:outputLabel value="Fecha final:" />
							<p:calendar id="calFin" value="#{smsSendBean.endDate}"
								pattern="#{smsSendBean.patternFecha}">
							</p:calendar>

							<h:outputLabel value="Nro de telefono:" />
							<p:inputText size="15" maxlength="8"
								placeholder="Nro de telefono" value="#{smsSendBean.msisdn}">
							</p:inputText>
						</h:panelGrid>

						<p:commandButton id="btnPortacion" for="btnTarifa" value="Buscar"
							icon="fa fa-binoculars" update=":idForm:fielDatoSmsSend"
							actionListener="#{smsSendBean.listarSmsSend}"
							style="margin-left:10px;" onclick="PF('dialogContent').show();"
							oncomplete="PF('dialogContent').hide();" />

						<p:commandButton id="btnLimpiar" value="Limpiar"
							actionListener="#{smsSendBean.limpiar}" icon="fa fa-times"
							update=":idForm:panel_cuenta :idForm:fielDatoSmsSend"
							style="margin-left:10px;" />

					</p:fieldset>
					<h:outputText style="position: relative;top: 15px;"
						value="* La cantidad de días entre fecha inicio y fecha fin, no debe exceder los #{smsSendBean.rangoDiasConsultaLogs} días."></h:outputText>
				</h:panelGrid>
				<br />
				<p:fieldset id="fielDatoSmsSend" legend="Información">
					<c:if
						test="#{smsSendBean.smsSendList != null and not empty smsSendBean.smsSendList}">
						<p:dataTable var="item" value="#{smsSendBean.smsSendList}">
							<f:facet name="header">
							</f:facet>
							<p:column headerText="Fecha de envio" styleClass="text-center">
								<h:outputText value="#{item.startDate}" />
							</p:column>
							<p:column headerText="ID Tran" styleClass="text-center">
								<h:outputText value="#{item.tlogID}" />
							</p:column>
							<p:column headerText="Nro Telefono" styleClass="text-center">
								<h:outputText value="#{item.msisdn}" />
							</p:column>
							<p:column headerText="Nombre de la billetera" styleClass="text-center">
								<h:outputText value="#{item.subscription}" />
							</p:column>
							<p:column headerText="Mensaje" styleClass="text-center">
								<h:outputText value="#{item.message}" />
							</p:column>
							<p:column headerText="Estado" styleClass="text-center">
								<h:outputText value="#{item.status}" />
							</p:column>
							<p:column headerText="Detalle" styleClass="text-center">
								<h:outputText value="#{item.statusDetail}" />
							</p:column>
						</p:dataTable>
					</c:if>
					<c:if
						test="#{smsSendBean.smsSendList == null and empty smsSendBean.smsSendList}">
						<div class="ui-g-12 ui-md-3">No hay resultados para esta
							busqueda.</div>
					</c:if>
				</p:fieldset>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>