<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				template="./../resources/templates/simple_layout.xhtml"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
			function start() {
				PF('statusDialog').show();
			}

			function stop() {
				PF('statusDialog').hide();
			}
		</script>
		<style type="text/css">
input {
	width: 100%;
	box-sizing: border-box;
}

.ui-tabs {
	height: 150px;
}

.contentDefindo {
	height: 75px;
}

.ui-columntoggler .ui-columntoggler-item label {
	padding-top: 2px;
	padding-bottom: 2px;
}

.ui-datatable-header {
	height: 22px
}
</style>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">..:: Consulta de Equipos ::..</div>

		<br />

		<h:form id="mainForm">
			<p:panel header="">
				<h:panelGrid columns="1" width="450" cellpadding="10">

					<p:fieldset id="imeiContent" legend="Equipo"
						styleClass="contentDefindo">
						<h:panelGrid columns="2" width="100%"
							columnClasses="ui-grid-col-2,ui-grid-col-10">
							<h:outputLabel value="IMEI: *" />
							<p:inputText size="15" maxlength="15" placeholder="imei"
								value="#{reporteConsultaEquiposBean.imei}">
							</p:inputText>
						</h:panelGrid>
					</p:fieldset>

				</h:panelGrid>
				<p:commandButton id="btnPortacion" for="btnTarifa" value="Buscar"
					icon="fa fa-binoculars" update="@form"
					actionListener="#{reporteConsultaEquiposBean.cargarReporte}"
					style="margin-left:10px;" onclick="PF('dialogContent').show();"
					oncomplete="PF('dialogContent').hide();" />
				<p:commandButton id="btnLimpiar" value="Limpiar" icon="fa fa-times"
					actionListener="#{reporteConsultaEquiposBean.limpiar}"
					update="@form" style="margin-left:10px;" />

				<p:separator />
				<p:fieldset legend="Información">
					<c:if test="#{not empty reporteConsultaEquiposBean.equipos}">
						<p:dataTable id="equipos" var="equipo" resizableColumns="true" 
							value="#{reporteConsultaEquiposBean.equipos}" scrollable="true"
							styleClass="tablaResportes" rows="10" paginator="true"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15">

							<f:facet name="header">
								<p:commandButton id="toggler" type="button"
									value="Seleccionar Columnas" style="float:right"
									icon="pi pi-align-justify" />
								<p:columnToggler datasource="equipos" trigger="toggler" />
							</f:facet>

							<p:column styleClass="w-80 text-ajustado"
								headerText="Número registro">
								<h:outputText value="#{equipo.nroRegistro}" />
							</p:column>

							<p:column styleClass="w-80 text-ajustado" headerText="SRETM">
								<h:outputText value="#{equipo.RETM}" />
							</p:column>

							<p:column styleClass="w-100 text-ajustado" headerText="IMEI">
								<h:outputText value="#{equipo.IMEI}" />
							</p:column>

							<p:column styleClass="w-80 text-ajustado"
								headerText="Forma registro">
								<h:outputText value="#{equipo.formaRegistro}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Número cuenta registro">
								<h:outputText value="#{equipo.nroCuentaRegistro}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Usuario registro">
								<h:outputText value="#{equipo.usuarioRegistro}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Fecha ingreso">
								<h:outputText value="#{equipo.fechaIngreso}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Fecha actualización">
								<h:outputText value="#{equipo.fechaActualizacion}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Hora actualización">
								<h:outputText value="#{equipo.horaActualizacion}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado" headerText="Lista">
								<h:outputText
									value="#{equipo.lista eq 'B' ? 'Blanca' : equipo.lista eq 'G' ? 'Gris' : equipo.lista eq 'N' ? 'Negra' : equipo.lista}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Estado control">
								<h:outputText
									value="#{equipo.estadoControl eq 'BA' ? 'Baja' : equipo.estadoControl eq 'CO' ? 'Confirmado' : equipo.estadoControl eq 'PC' ? 'Pendiente Confirmacion' : equipo.estadoControl}" />
							</p:column>
							<p:column styleClass="w-120 text-ajustado"
								headerText="Observación" >
								<h:outputText value="#{equipo.observacion}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Tipo Persona" >
								<h:outputText value="#{equipo.client.tipoPersona}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Razón Social" >
								<h:outputText value="#{equipo.client.razonSocial}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Número matricula" >
								<h:outputText value="#{equipo.client.nroMatricula}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado" headerText="NIT" >
								<h:outputText value="#{equipo.client.NIT}" />
							</p:column>
							<p:column styleClass="w-120 text-ajustado"
								headerText="Descripción" >
								<h:outputText value="#{equipo.client.nroDocumentoDescripcion}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Número de documento" >
								<h:outputText value="#{equipo.client.nroDocumento}" />
							</p:column>
							<p:column styleClass="w-100 text-ajustado" headerText="Nombres" >
								<h:outputText value="#{equipo.client.nombres}" />
							</p:column>
							<p:column styleClass="w-100 text-ajustado" headerText="Apellidos" >
								<h:outputText value="#{equipo.client.apellidos}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Fecha Nacimiento" >
								<h:outputText value="#{equipo.client.fechaNacimiento}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado" headerText="OEP" >
								<h:outputText value="#{equipo.client.OEP}" />
							</p:column>
							<p:column styleClass="w-100 text-ajustado"
								headerText="Nacionalidad" >
								<h:outputText value="#{equipo.client.nacionalidad}" />
							</p:column>

						</p:dataTable>
					</c:if>
					<c:if test="#{empty reporteConsultaEquiposBean.equipos}">
						<h:outputLabel>
							<p class="info">No hay resultados para esta busqueda.</p>
						</h:outputLabel>
					</c:if>
				</p:fieldset>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>