<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
			function start() {
				PF('statusDialog').show();
			}

			function stop() {
				PF('statusDialog').hide();
			}
		</script>
		<style type="text/css">
input {
	width: 100%;
	box-sizing: border-box;
}

.ui-tabs {
	height: 150px;
}

.contentDefindo {
	height: 140px;
}

.ui-columntoggler .ui-columntoggler-item label {
	padding-top: 2px;
	padding-bottom: 2px;
}

.ui-datatable-header {
	height: 22px
}
</style>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>
		<div class="border_div">..:: Consulta cambios de Estado ::..</div>
		<br />

		<h:form id="idForm">
			<p:panel header="">
				<h:panelGrid columns="2" width="900" cellpadding="10"
					columnClasses="ui-grid-col-6,ui-grid-col-6">
					<p:fieldset id="imeiContent" legend="Cuenta"
						styleClass="contentDefindo">
						<h:panelGrid columns="2" width="100%"
							columnClasses="ui-grid-col-3,ui-grid-col-9">
							<h:outputLabel value="Nro. Cuenta: *" />
							<p:inputText id="itNroDoc" maxlength="8"
								placeholder="Nro de telefono"
								value="#{reporteCambioEstadoBean.msisdn}">
							</p:inputText>
						</h:panelGrid>
					</p:fieldset>

					<p:fieldset id="datosConsulta" legend="Fecha de proceso"
						styleClass="contentDefindo">
						<h:panelGrid columns="2" width="100%">
							<h:outputLabel value="Fecha inicial: *" />
							<p:calendar id="calInicio"
								value="#{reporteCambioEstadoBean.fechaInicio}"
								pattern="#{reporteCambioEstadoBean.pattern}">
							</p:calendar>

							<h:outputLabel value="Fecha final: *" />
							<p:calendar id="calFin"
								value="#{reporteCambioEstadoBean.fechaFin}"
								pattern="#{reporteCambioEstadoBean.pattern}">
							</p:calendar>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>

				<p:commandButton value="Buscar" icon="fa fa-binoculars"
					actionListener="#{reporteCambioEstadoBean.cargarReporteCuentaMigrada}"
					update="@form" style="margin-left:10px;"
					onclick="PF('dialogContent').show();"
					oncomplete="PF('dialogContent').hide();" />
				<p:commandButton id="btnLimpiar" value="Limpiar" icon="fa fa-times"
					actionListener="#{reporteCambioEstadoBean.limpiar}" update="@form"
					style="margin-left:10px;" />

				<p:separator />
				<p:panel header="Información">

					<c:if test="#{reporteCambioEstadoBean.cambioEstado != null and not empty reporteCambioEstadoBean.cambioEstado.nroCuenta and not empty reporteCambioEstadoBean.cuentaMigrada}">
						<p:fieldset legend="Migracion">
							<h:panelGrid columns="2" width="50%"
										 columnClasses="ui-grid-col-2,ui-grid-col-5">
								<h:outputLabel value="Estado:" />
								<p class="info">#{reporteCambioEstadoBean.cuentaMigrada.cuentaMigradaResponseOk.estado}</p>
								<h:outputLabel value="Fecha de Migracion:" />
								<p class="info">#{reporteCambioEstadoBean.cuentaMigrada.cuentaMigradaResponseOk.fechaMigracion}</p>
							</h:panelGrid>
						</p:fieldset>
						<br />
						<p:fieldset legend="Datos de cuenta">
							<h:panelGrid columns="2" width="50%"
										 columnClasses="ui-grid-col-2,ui-grid-col-5">
								<h:outputLabel value="Tipo de cuenta:" />
								<p class="info">#{reporteCambioEstadoBean.cambioEstado.tipoCUenta}</p>
								<h:outputLabel value="Descripción:" />
								<p class="info">#{reporteCambioEstadoBean.cambioEstado.descripcion}</p>
								<h:outputLabel value="Nro. cuenta:" />
								<p class="info">#{reporteCambioEstadoBean.cambioEstado.nroCuenta}</p>
							</h:panelGrid>
						</p:fieldset>
						<br />
						<p:dataTable id="detalles" var="detalle" resizableColumns="true"
									 value="#{reporteCambioEstadoBean.cambioEstado.detalleCuentas}"
									 styleClass="tablaResportes" scrollable="true" rows="10"
									 paginator="true"
									 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									 rowsPerPageTemplate="5,10,15">

							<f:facet name="header">
								<p:commandButton id="toggler" type="button"
												 value="Seleccionar Columnas" style="float:right"
												 icon="pi pi-align-justify" />
								<p:columnToggler datasource="detalles" trigger="toggler" />
							</f:facet>
							<p:column headerText="Fecha" styleClass="w-60 text-ajustado">
								<h:outputText value="#{detalle.fecha}" />
							</p:column>
							<p:column headerText="Hora" styleClass="w-60 text-ajustado">
								<h:outputText value="#{detalle.hora}" />
							</p:column>
							<p:column headerText="Estado anterior"
									  styleClass="w-120 text-ajustado">
								<h:outputText value="#{detalle.estadoAnterior}" />
							</p:column>
							<p:column headerText="Estado posterior"
									  styleClass="w-120 text-ajustado">
								<h:outputText value="#{detalle.estadoPosterior}" />
							</p:column>
							<p:column headerText="Usuario" styleClass="w-90 text-ajustado">
								<h:outputText value="#{detalle.usuario}" />
							</p:column>
							<p:column headerText="Apellidos" styleClass="w-90 text-ajustado">
								<h:outputText value="#{detalle.apellidos}" />
							</p:column>
							<p:column headerText="Nombres" styleClass="w-90 text-ajustado">
								<h:outputText value="#{detalle.nombres}" />
							</p:column>
							<p:column headerText="Nro. memo" styleClass="w-60 text-ajustado">
								<h:outputText value="#{detalle.nroMEMO}" />
							</p:column>
							<p:column headerText="Codigo proceso"
									  styleClass="w-60 text-ajustado">
								<h:outputText value="#{detalle.codProceso}" />
							</p:column>
							<p:column headerText="Descripción proceso"
									  styleClass="w-120 text-ajustado">
								<h:outputText value="#{detalle.descripcionProceso}" />
							</p:column>
							<p:column headerText="Cod. detalle"
									  styleClass="w-60 text-ajustado">
								<h:outputText value="#{detalle.codDetalleProceso}" />
							</p:column>
							<p:column headerText="Descripción detalle"
									  styleClass="w-120 text-ajustado">
								<h:outputText value="#{detalle.descripcionDetalle}" />
							</p:column>
						</p:dataTable>
					</c:if>
					<c:if
							test="#{reporteCambioEstadoBean.cambioEstado == null or empty reporteCambioEstadoBean.cambioEstado.nroCuenta}">
						<h:outputLabel>
							<p class="info">No hay resultados para esta busqueda.</p>
						</h:outputLabel>
					</c:if>
				</p:panel>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>