<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
>

	<ui:define name="content">

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" closeOnEscape="true" position="center, 50"
				  appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<h:form id="formParam">

			<div class="border_div">...::: CONFIGURACIÓN DE RANGO DE FECHA
				:::...</div>
			<br />

			<div class="layout-breadcrumb"></div>

			<div class="layout-content-container">
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<!-- Left Side -->
						<div class="card no-margin">
							<p:panel header="">
								<h:form id="formparams">
									<div class="ui-fluid">
										<div class="ui-g-6">
											<p:messages display="text" showDetail="true"
												globalOnly="true" showSummary="true"></p:messages>
										</div>

										<p:repeat value="#{configReporteBean.parametros}" var="par"
											varStatus="varParam">
											<p:panelGrid id="pgrid" columns="3" layout="grid"
												columnClasses="ui-grid-col-3,ui-grid-col-6,ui-grid-col-3"
												styleClass="ui-panelgrid-blank">
												<span></span>
												<p:panelGrid columns="2" layout="grid"
													columnClasses="ui-grid-col-8,ui-grid-col-4"
													styleClass="ui-panelgrid-blank">
													<p:panelGrid columns="1" layout="grid"
														columnClasses="ui-grid-col-12"
														styleClass="ui-panelgrid-blank">
														<p:outputLabel value="#{par.nombreReporte}"
															style="font-weight: bold;"></p:outputLabel>
														<p>#{par.descripcionReporte}</p>
													</p:panelGrid>

													<p:panelGrid columns="1" layout="grid"
														columnClasses="ui-grid-col-12"
														styleClass="ui-panelgrid-blank">

														<p:spinner id="#{varParam.index}_param"
															value="#{par.diasLimite}" min="0" max="7500"/>
													</p:panelGrid>
												</p:panelGrid>
												<span></span>
											</p:panelGrid>
										</p:repeat>


										<p:panelGrid id="idPanel" columns="3" layout="grid"
											columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
											styleClass="ui-panelgrid-blank">

											<span></span>
											<p:panelGrid columns="3" layout="grid"
												columnClasses="ui-grid-col-6,ui-grid-col-6"
												styleClass="ui-panelgrid-blank">
												<p:commandButton id="btn_guardar" style="float:right" styleClass="w-100"
													value="Guardar" icon="fa fa-floppy-o" update="formparams"
													actionListener="#{configReporteBean.actualizarParametros}"
																 onclick="PF('dialogContent').show();"
																 oncomplete="PF('dialogContent').hide();">

												</p:commandButton>

												<p:commandButton id="btn_cancelar" immediate="true"
													icon="fa fa-sign-out" styleClass="w-100"
													value="Cancelar"
													action="/view/menu.xhtml?faces-redirect=true" />
											</p:panelGrid>
										</p:panelGrid>

									</div>
								</h:form>
							</p:panel>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>