<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
			function start() {
				PF('statusDialog').show();
			}

			function stop() {
				PF('statusDialog').hide();
			}
		</script>
		<style type="text/css">
input {
	width: 100%;
	box-sizing: border-box;
}

.ui-tabs {
	height: 150px;
}

.ui-columntoggler .ui-columntoggler-item label {
	padding-top: 2px;
	padding-bottom: 2px;
}

.ui-datatable-header {
	height: 22px
}

.contentDefindo {
	height: 135px;
}

.wp-100 {
	width: 91% !important;
}

@media screen and (max-width: 500px) {
	body {
		background-color: lightblue;
	}
}
</style>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">..:: Consulta de Cuentas ::..</div>

		<br />

		<h:form id="mainForm">
			<p:panel header="">
				<h:panelGrid columns="2" width="900" cellpadding="10"
					columnClasses="ui-grid-col-6,ui-grid-col-6">

					<p:fieldset id="cuentaContent" styleClass="contentDefindo"
						legend="Nro. de Cuenta o Nro. de Documento">
						<h:panelGrid id="idPanel" columns="2" width="100%"
							columnClasses="ui-grid-col-4,ui-grid-col-8">

							<p:outputLabel for="itIsdn" value="Nro. de cuenta: " />
							<p:inputText id="itIsdn"
								value="#{reporteConsultaCuentasBean.msisdn}" size="15"
								maxlength="8" placeholder="Nro. de teléfono">
								<p:ajax event="focus" update="mainForm:itNroDoc"
									listener="#{reporteConsultaCuentasBean.limpiarNroDoc}"
									process="itIsdn" />
							</p:inputText>


							<h:outputLabel for="itNroDoc" value="Nro. de documento: " />
							<p:inputText size="15" maxlength="20" id="itNroDoc"
								placeholder="Nro. de documento"
								value="#{reporteConsultaCuentasBean.nroDocumento}">
								<p:ajax event="focus" update="mainForm:itIsdn"
									listener="#{reporteConsultaCuentasBean.limpiarNroCuenta}"
									process="itNroDoc" />
							</p:inputText>

							<p:outputLabel for="console" value="Tipo de Documento: " />
							<p:selectOneMenu styleClass="wp-100" id="console"
								value="#{reporteConsultaCuentasBean.select}" style="width:125px">
								<f:selectItem itemLabel="Carnet de Identidad" itemValue="1" />
								<f:selectItem itemLabel="RUN" itemValue="2" />
								<f:selectItem itemLabel="Libreta de Servicio Militar"
									itemValue="3" />
								<f:selectItem itemLabel="Pasaporte" itemValue="4" />
								<f:selectItem itemLabel="Carnet de Extranjero" itemValue="5" />
							</p:selectOneMenu>
						</h:panelGrid>
					</p:fieldset>
					<p:fieldset id="fechasPeriodoContent" legend="Fecha de ingreso:"
						styleClass="contentDefindo">
						<h:panelGrid id="idPeriodo" columns="2" width="100%">
							<h:outputLabel value=" Fecha inicial: *" />
							<p:calendar id="calInicio"
								value="#{reporteConsultaCuentasBean.fechaInicio}"
								pattern="#{reporteConsultaCuentasBean.pattern}" width="93%">
							</p:calendar>

							<h:outputLabel value="Fecha final: *" />
							<p:calendar id="calFin"
								value="#{reporteConsultaCuentasBean.fechaFin}"
								pattern="#{reporteConsultaCuentasBean.pattern}">
							</p:calendar>

						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>

				<p:commandButton id="btnPortacion" for="btnTarifa" value="Buscar"
					icon="fa fa-binoculars" update="@form"
					actionListener="#{reporteConsultaCuentasBean.cargarReporteCuentaMigrada}"
					style="margin-left:10px;" onclick="PF('dialogContent').show();"
					oncomplete="PF('dialogContent').hide();" />
				<p:commandButton id="btnLimpiar" value="Limpiar" icon="fa fa-times"
					actionListener="#{reporteConsultaCuentasBean.limpiar}"
					update="@form" style="margin-left:10px;" />

				<p:separator />
				<p:panel header="Información">
					<c:if test="#{reporteConsultaCuentasBean.cuentas !=null and not empty reporteConsultaCuentasBean.cuentas and not empty reporteConsultaCuentasBean.cuentaMigrada}">
						<p:fieldset legend="Migracion">
							<h:panelGrid columns="2" width="50%"
										 columnClasses="ui-grid-col-2,ui-grid-col-5">
								<h:outputLabel value="Estado:" />
								<p class="info">#{reporteConsultaCuentasBean.cuentaMigrada.cuentaMigradaResponseOk.estado}</p>
								<h:outputLabel value="Fecha de Migracion:" />
								<p class="info">#{reporteConsultaCuentasBean.cuentaMigrada.cuentaMigradaResponseOk.fechaMigracion}</p>
							</h:panelGrid>
						</p:fieldset>
						<br />
					</c:if>
					<c:if test="#{reporteConsultaCuentasBean.cuentas !=null and not empty reporteConsultaCuentasBean.cuentas}">

						<p:dataTable id="cuentas" var="cuenta" resizableColumns="true"
							value="#{reporteConsultaCuentasBean.cuentas}"
							styleClass="tablaResportes" scrollable="true" rows="10"
							paginator="true"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15">

							<f:facet name="header">
								<p:commandButton id="toggler" type="button"
									value="Seleccionar Columnas" style="float:right"
									icon="pi pi-align-justify" />
								<p:columnToggler datasource="cuentas" trigger="toggler" />
							</f:facet>

							<p:column styleClass="w-80 text-ajustado"
								headerText="Número cliente" >
								<h:outputText value="#{cuenta.accountDetail.nroCliente}" />
							</p:column>

							<p:column styleClass="w-80 text-ajustado"
								headerText="Sección RNTC" visible="false">
								<h:outputText value="#{cuenta.accountDetail.secRNTC}" />
							</p:column>

							<p:column styleClass="w-80 text-ajustado"
								headerText="Número cuenta">
								<h:outputText value="#{cuenta.accountDetail.nroCuenta}" />
							</p:column>

							<p:column styleClass="w-80 text-ajustado"
								headerText="Formas de registro">
								<h:outputText value="#{cuenta.accountDetail.formaRegistro}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Usuario registro">
								<h:outputText value="#{cuenta.accountDetail.usuarioRegistro}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Fecha ingreso">
								<h:outputText value="#{cuenta.accountDetail.fechaIngreso}" />
							</p:column>
							<p:column styleClass="w-100 text-ajustado"
								headerText="Fecha actualización">
								<h:outputText value="#{cuenta.accountDetail.fechaActualizacion}" />
							</p:column>
							<p:column styleClass="w-90 text-ajustado"
								headerText="Hora actualización">
								<h:outputText value="#{cuenta.accountDetail.horaActualizacion}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Estado control">
								<h:outputText
									value="#{cuenta.accountDetail.estadoControl eq 'BA' ? 'Baja' : cuenta.accountDetail.estadoControl eq 'CO' ? 'Confirmado' : cuenta.accountDetail.estadoControl eq 'PC' ? 'Pendiente Confirmación' : cuenta.accountDetail.estadoControl}" />
							</p:column>
							<p:column styleClass="w-120 text-ajustado"
								headerText="Observación">
								<h:outputText value="#{cuenta.accountDetail.observacion}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Número registro">
								<h:outputText value="#{cuenta.client.nroRegistro}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Tipo Persona" >
								<h:outputText value="#{cuenta.client.tipoPersona}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Razón Social" >
								<h:outputText value="#{cuenta.client.razonSocial}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Número matricula" >
								<h:outputText value="#{cuenta.client.nroMatricula}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado" headerText="NIT" >
								<h:outputText value="#{cuenta.client.NIT}" />
							</p:column>
							<p:column styleClass="w-120 text-ajustado"
								headerText="Descripción" >
								<h:outputText value="#{cuenta.client.nroDocumentoDescripcion}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Número de documento" >
								<h:outputText value="#{cuenta.client.nroDocumento}" />
							</p:column>
							<p:column styleClass="w-100 text-ajustado" headerText="Nombres" >
								<h:outputText value="#{cuenta.client.nombres}" />
							</p:column>
							<p:column styleClass="w-100 text-ajustado" headerText="Apellidos" >
								<h:outputText value="#{cuenta.client.apellidos}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Fecha Nacimiento" >
								<h:outputText value="#{cuenta.client.fechaNacimiento}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado" headerText="OEP" >
								<h:outputText value="#{cuenta.client.OEP}" />
							</p:column>
							<p:column styleClass="w-80 text-ajustado"
								headerText="Nacionalidad" >
								<h:outputText value="#{cuenta.client.nacionalidad}" />
							</p:column>


						</p:dataTable>
					</c:if>
					<c:if test="#{empty reporteConsultaCuentasBean.cuentas}">
						<h:outputLabel>
							<p class="info">No hay resultados para esta busqueda.</p>
						</h:outputLabel>
					</c:if>
				</p:panel>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>