<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
		</script>
		<style>
			input {
				width: 100%;
				box-sizing: border-box;
			}

			.ui-tabs {
				height: 150px;
			}

			.contentDefindo {
				height: 100px;
			}

			.ui-columntoggler .ui-columntoggler-item label {
				padding-top: 2px;
				padding-bottom: 2px;
			}

			.ui-datatable-header {
				height: 22px
			}
		</style>

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
				  closable="false" resizable="false" responsive="true"
				  showHeader="false" closeOnEscape="true" position="center, 50"
				  appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">..:: Consulta de Acmos ::..</div>
		<br />

		<h:form id="idForm">
			<p:panel header="">
				<h:panelGrid columns="2" width="900" cellpadding="10"
							 columnClasses="ui-grid-col-6,ui-grid-col-6">
					<p:fieldset id="imeiContent" legend="Cuenta"
								styleClass="contentDefindo">
						<h:panelGrid id="idPanel" width="100%" columns="3"
									 columnClasses="ui-grid-col-4,ui-grid-col-8">

							<h:outputLabel value="Nro. cuenta: *" />
							<p:inputText id="itNroDoc" maxlength="8"
										 style="text-align: right;width:100%;"
										 placeholder="Nro de telefono"
										 value="#{reporteCargaAcmosBean.msisdn}">
							</p:inputText>


						</h:panelGrid>
					</p:fieldset>

					<p:fieldset id="datosConsulta" legend="Fecha de reclamo"
								styleClass="contentDefindo">
						<h:panelGrid columns="2" width="100%"
									 columnClasses="ui-grid-col-3,ui-grid-col-9">
							<h:outputLabel value="Fecha inicial: *" />
							<p:calendar id="calInicio"
										value="#{reporteCargaAcmosBean.fechaInicio}"
										pattern="#{reporteCargaAcmosBean.pattern}" width="93%">
							</p:calendar>

							<h:outputLabel value="Fecha final: *" />
							<p:calendar id="calFin" value="#{reporteCargaAcmosBean.fechaFin}"
										pattern="#{reporteCargaAcmosBean.pattern}">
							</p:calendar>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>

				<p:commandButton value="Buscar" icon="fa fa-binoculars"
								 actionListener="#{reporteCargaAcmosBean.cargarReporteCuentaMigrada}"
								 update="@form" style="margin-left:10px;"
								 onclick="PF('dialogContent').show();"
								 oncomplete="PF('dialogContent').hide();" />
				<p:commandButton id="btnLimpiar" value="Limpiar" icon="fa fa-times"
								 actionListener="#{reporteCargaAcmosBean.limpiar}" update="@form"
								 style="margin-left:10px;" />

				<p:separator />
				<p:panel header="Información">

					<c:if test="#{reporteCargaAcmosBean.cargaAcmos != null and not empty reporteCargaAcmosBean.lstReporteAcmo and not empty reporteCargaAcmosBean.cuentaMigrada}">
						<p:fieldset legend="Migracion">
							<h:panelGrid columns="2" width="50%"
										 columnClasses="ui-grid-col-2,ui-grid-col-5">
								<h:outputLabel value="Estado:" />
								<p class="info">#{reporteCargaAcmosBean.cuentaMigrada.cuentaMigradaResponseOk.estado}</p>
								<h:outputLabel value="Fecha de Migracion:" />
								<p class="info">#{reporteCargaAcmosBean.cuentaMigrada.cuentaMigradaResponseOk.fechaMigracion}</p>
							</h:panelGrid>
						</p:fieldset>
						<br />
						<h:panelGrid columns="2">
							<p:dataTable id="reclamos" var="reclamo" resizableColumns="true"
										 value="#{reporteCargaAcmosBean.lstReporteAcmo}"
										 scrollable="true" rows="10"
										 paginator="true" rowKey="#{reclamo.nroReclamo}"
										 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										 rowsPerPageTemplate="5,10,15"
										 selection="#{reporteCargaAcmosBean.reclamoSleccionado}">

								<p:ajax event="rowSelectRadio"
										listener="#{reporteCargaAcmosBean.onRowSelectRadio}"
										update=":idForm:buttomVerDetalleReclamo" />

								<f:facet name="header">
									<p:commandButton id="toggler" type="button"
													 value="Seleccionar Columnas" style="float:right"
													 icon="pi pi-align-justify" />
									<p:columnToggler datasource="reclamos" trigger="toggler" />
								</f:facet>

								<p:column styleClass="w-70 text-ajustado"
										  headerText="Nro. reclamo" sortBy="#{reclamo.nroReclamo}">
									<h:outputText value="#{reclamo.nroReclamo}" />
								</p:column>

								<p:column styleClass="w-80 text-ajustado" style="text-align: left; word-wrap: break-word; white-space: normal;width: 50px; background-color: #{row.color};"
										  headerText="EQ humano carga" sortBy="#{reclamo.eqHumanoCarga}">
									<h:outputText value="#{reclamo.eqHumanoCarga}" />
								</p:column>
								<p:column styleClass="w-120 text-ajustado"
										  headerText="EHumano carga" sortBy="#{reclamo.EHumanoCarga}">
									<h:outputText value="#{reclamo.EHumanoCarga}" />
								</p:column>
								<p:column styleClass="w-100 text-ajustado" style="text-align: left; word-wrap: break-word; white-space: normal;width: 50px; background-color: #{row.color};"
										  headerText="Estado" sortBy="#{reclamo.estado}">
									<h:outputText value="#{reclamo.estado}" />
								</p:column>
								<p:column styleClass="w-100 text-ajustado"
										  headerText="Detalle Fecha" sortBy="#{reclamo.detalleFecha}">
									<h:outputText value="#{reclamo.detalleFecha}" />
								</p:column>
								<p:column styleClass="w-100 text-ajustado"
										  headerText="Detalle Hora" sortBy="#{reclamo.detalleHora}">
									<h:outputText value="#{reclamo.detalleHora}" />
								</p:column>
								<p:column styleClass="w-100 text-ajustado"
										  headerText="Nro. Memo" sortBy="#{reclamo.nroMemo}">
									<h:outputText value="#{reclamo.nroMemo}" />
								</p:column>
								<p:column styleClass="w-100 text-ajustado"
										  headerText="Tipo" sortBy="#{reclamo.tipo}">
									<h:outputText value="#{reclamo.tipo}" />
								</p:column>
								<p:column styleClass="w-120 text-ajustado"
										  headerText="Acmo" sortBy="#{reclamo.acmo}">
									<h:outputText value="#{reclamo.acmo}" />
								</p:column>
								<p:column selectionMode="single" style="width:16px;text-align:center"></p:column>

							</p:dataTable>

							<p:commandButton id="buttomVerDetalleReclamo"
											 actionListener="#{reporteCargaAcmosBean.verDetalle()}" value="Ver Detalle"
											 update=":dlgIdDetalleMemo"
											 oncomplete="PF('dlgDetallememo').show();" style="width: 95px;"
											 disabled="#{reporteCargaAcmosBean.habilitadoBotonVerDetalle}" />

							<h:inputHidden/>
						</h:panelGrid>
					</c:if>
					<c:if test="#{empty reporteCargaAcmosBean.lstReporteAcmo}">
						<h:outputLabel>
							<p class="info">No hay resultados para esta busqueda.</p>
						</h:outputLabel>
					</c:if>
				</p:panel>
			</p:panel>

		</h:form>

		<p:dialog id="dlgIdDetalleMemo" widgetVar="dlgDetallememo"
				  modal="true" closeOnEscape="false" position="center, 50"
				  appendTo="@(body)" draggable="false" closable="false"
				  resizable="false"
		>
			<h:panelGrid columns="1" style="text-align: center; ">
				<p:panel header="Detalle de memo: Numero #{reporteCargaAcmosBean.nroMemo}"
						 style="text-align: left;">
					<p:panelGrid  columns="2" columnClasses="label,value">
						<h:outputText value="Nro. Memo:" />
						<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.nroMemo}" />

						<h:outputText value="Cod. Proceso" />
						<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.codProceso}" />

						<h:outputText value="Cliente:" />
						<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.cliente}" />

						<h:outputText value="Contrato" />
						<h:outputText value="$#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.contrato}" />

						<h:outputText value="Tipo Cuenta:" />
						<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.tipoCuenta}" />

						<h:outputText value="Nro. Cuenta" />
						<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.nroCuenta}" />

						<h:outputText value="Memo Fecha:" />
						<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.memoFecha}"/>

						<h:outputText value="Memo Hora" />
						<h:outputText value="$#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.memoHora}" />

						<h:outputText value="Descripción" />
						<h:outputText value="$#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.memoDescripcion}" />
					</p:panelGrid>
				</p:panel>
			</h:panelGrid>
			<p:commandButton id="buttomAceptarDetalleDeuda"
							 actionListener="#{deudaBean.aceptarDetalleDeuda()}" value="Aceptar"

							 oncomplete="PF('dlgDetallememo').hide();" style="width: 95px;" />
		</p:dialog>
		<!--<p:dialog id="dlgIdDetalleMemo" header="Detalle de memo: Numero #{reporteCargaAcmosBean.nroMemo}"  widgetVar="dlgDetallememo" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			<p:outputPanel id="carDetail" style="text-align:center;">
				<p:panelGrid  columns="2" rendered="#{not empty reporteCargaAcmosBean.claimByNroMEMOResponseBody}" columnClasses="label,value">

					<h:outputText value="Nro. Memo:" />
					<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.nroMemo}" />

					<h:outputText value="Cod. Proceso" />
					<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.codProceso}" />

					<h:outputText value="Cliente:" />
					<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.cliente}" />

					<h:outputText value="Contrato" />
					<h:outputText value="$#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.contrato}" />

					<h:outputText value="Tipo Cuenta:" />
					<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.tipoCuenta}" />

					<h:outputText value="Nro. Cuenta" />
					<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.nroCuenta}" />

					<h:outputText value="Memo Fecha:" />
					<h:outputText value="#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.memoFecha}"/>

					<h:outputText value="Memo Hora" />
					<h:outputText value="$#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.memoHora}" />

					<h:outputText value="Descripción" />
					<h:outputText value="$#{reporteCargaAcmosBean.claimByNroMEMOResponseBody.memoDescripcion}" />
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>-->
	</ui:define>

</ui:composition>