<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
			function start() {
				PF('statusDialog').show();
			}

			function stop() {
				PF('statusDialog').hide();
			}
		</script>
		<style type="text/css">
input {
	width: 100%;
	box-sizing: border-box;
}

.contentDefindo {
	height: 110px;
}

.ui-datatable-header {
	height: 22px
}

.ui-columntoggler .ui-columntoggler-item label {
	padding-top: 2px;
	padding-bottom: 2px;
}
</style>


		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">..:: Consulta cambio de plan ::..</div>
		<br />

		<h:form id="idForm">
			<p:panel header="">
				<h:panelGrid columns="2" width="900" cellpadding="10"
					columnClasses="ui-grid-col-6,ui-grid-col-6">
					<p:fieldset legend="Cuenta" styleClass="contentDefindo">
						<h:panelGrid columns="2" width="100%"
							columnClasses="ui-grid-col-4,ui-grid-col-8">

							<h:outputLabel value="Nro. Cuenta: *" />
							<p:inputText id="itNroDoc" maxlength="8"
								style="text-align: right;width:100%;"
								placeholder="Nro de telefono"
								value="#{reporteCambioPlanBean.msisdn}">
							</p:inputText>
						</h:panelGrid>
					</p:fieldset>
					<p:fieldset id="datosConsulta" legend="Fecha Aplicada"
						styleClass="contentDefindo">
						<h:panelGrid columns="2" width="100%">
							<h:outputLabel value="Fecha inicial: *" />
							<p:calendar id="calInicio"
								value="#{reporteCambioPlanBean.fechaInicio}"
								pattern="#{reporteCambioPlanBean.pattern}" width="93%">
							</p:calendar>

							<h:outputLabel value="* Fecha final: *" />
							<p:calendar id="calFin" value="#{reporteCambioPlanBean.fechaFin}"
								pattern="#{reporteCambioPlanBean.pattern}">
							</p:calendar>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>

				<p:commandButton value="Buscar" icon="fa fa-binoculars"
					actionListener="#{reporteCambioPlanBean.cargarReporteCuentaMigrada}"
					update="@form" style="margin-left:10px;"
					onclick="PF('dialogContent').show();"
					oncomplete="PF('dialogContent').hide();" />
				<p:commandButton id="btnLimpiar" value="Limpiar" icon="fa fa-times"
					actionListener="#{reporteCambioPlanBean.limpiar}"
					style="margin-left:10px;" update="@form" />

				<p:separator />

				<p:panel header="Información">
					<c:if test="#{reporteCambioPlanBean.cambioPlan != null and not empty reporteCambioPlanBean.cambioPlan.nroCuenta and not empty reporteCambioPlanBean.cuentaMigrada}">
						<p:fieldset legend="Migracion">
							<h:panelGrid columns="2" width="50%"
										 columnClasses="ui-grid-col-2,ui-grid-col-5">
								<h:outputLabel value="Estado:" />
								<p class="info">#{reporteCambioPlanBean.cuentaMigrada.cuentaMigradaResponseOk.estado}</p>
								<h:outputLabel value="Fecha de Migracion:" />
								<p class="info">#{reporteCambioPlanBean.cuentaMigrada.cuentaMigradaResponseOk.fechaMigracion}</p>
							</h:panelGrid>
						</p:fieldset>
						<br />
						<p:fieldset legend="Datos de cuenta">
							<h:panelGrid columns="1" width="100%"
										 columnClasses="ui-grid-col-8">
								<h:panelGrid columns="3" width="100%"
											 columnClasses="ui-grid-col-2,ui-grid-col-5,ui-grid-col-5">
									<h:outputLabel class="info-text" value="Cliente:" />
									<h:outputLabel>
										<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.cliente}</p>
									</h:outputLabel>
									<h:outputLabel>
										<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.razonSocial}</p>
									</h:outputLabel>
								</h:panelGrid>
								<h:panelGrid columns="4" width="100%"
											 columnClasses="ui-grid-col-2,ui-grid-col-5,ui-grid-col-2,ui-grid-col-3">
									<h:outputLabel class="info-text" value="Contrato:" />
									<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.contrato}</p>
									<h:outputLabel class="info-text" value="Tipo cuenta:" />
									<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.tipoCuenta}</p>
								</h:panelGrid>
								<h:panelGrid columns="2" width="100%"
											 columnClasses="ui-grid-col-2,ui-grid-col-5">
									<h:outputLabel class="info-text" value="Nro. cuenta:" />
									<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.nroCuenta}</p>
								</h:panelGrid>
							</h:panelGrid>
						</p:fieldset>
						<br />
						<p:fieldset legend="Plan consumo">
							<h:panelGrid columns="1" width="100%"
										 columnClasses="ui-grid-col-8">
								<h:panelGrid columns="3" width="100%"
											 columnClasses="ui-grid-col-2,ui-grid-col-5,ui-grid-col-5">
									<h:outputLabel class="info-text" value="Plan consumo:" />
									<h:outputLabel>
										<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.planConsumo}</p>
									</h:outputLabel>
									<h:outputLabel>
										<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.planConsumoDescripcion}</p>
									</h:outputLabel>
								</h:panelGrid>
								<h:panelGrid columns="4" width="100%"
											 columnClasses="ui-grid-col-2,ui-grid-col-5,ui-grid-col-2,ui-grid-col-3">
									<h:outputLabel class="info-text"
												   value="Fecha Habilitación:" />
									<h:outputLabel>
										<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.fechaHabilitacion}</p>
									</h:outputLabel>
									<h:outputLabel class="info-text" value="Fecha vencimiento:" />
									<h:outputLabel>
										<p class="info text-ajustado">#{reporteCambioPlanBean.cambioPlan.fechaVencimiento}</p>
									</h:outputLabel>
								</h:panelGrid>
							</h:panelGrid>
						</p:fieldset>

						<br />

						<p:dataTable id="cambios" var="cambioPlan" resizableColumns="true"
									 value="#{reporteCambioPlanBean.cambioPlan.cambiosPlan}"
									 scrollable="true" rows="10" paginator="true"
									 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									 rowsPerPageTemplate="5,10,15">

							<f:facet name="header">
								<p:commandButton id="toggler" type="button"
												 value="Seleccionar Columnas" style="float:right"
												 icon="pi pi-align-justify" />
								<p:columnToggler datasource="cambios" trigger="toggler" />
							</f:facet>
							<p:column styleClass="w-60 text-center text-ajustado"
									  headerText="Plan consumo">
								<h:outputText value="#{cambioPlan.planConsumo}" />
							</p:column>
							<p:column styleClass="w-90 text-center text-ajustado"
									  headerText="Descripción">
								<h:outputText value="#{cambioPlan.planConsumoDescripcion}" />
							</p:column>

							<p:column styleClass="w-70 text-center text-ajustado"
									  headerText="Fecha Ingreso">
								<h:outputText value="#{cambioPlan.fechaIngreso}" />
							</p:column>
							<p:column styleClass="w-70 text-center text-ajustado"
									  headerText="Fecha Aplicada">
								<h:outputText value="#{cambioPlan.fechaAplicada}" />
							</p:column>
							<p:column styleClass="w-90 text-center text-ajustado"
									  headerText="Estado Cambio Plan">
								<h:outputText value="#{cambioPlan.estadoCambioPlan}" />
							</p:column>
							<p:column styleClass="w-90 text-center text-ajustado"
									  headerText="Serie comprobante">
								<h:outputText value="#{cambioPlan.serieComprobante}" />
							</p:column>
							<p:column styleClass="w-90 text-center text-ajustado"
									  headerText="Tipo comprobante">
								<h:outputText value="#{cambioPlan.tipoComprobante}" />
							</p:column>
							<p:column styleClass="w-90 text-center text-ajustado"
									  headerText="Nro. comprobante">
								<h:outputText value="#{cambioPlan.nroComprobante}" />
							</p:column>
							<p:column styleClass="w-90 text-center text-ajustado" headerText="Usuario">
								<h:outputText value="#{cambioPlan.usuario}" />
							</p:column>
						</p:dataTable>
					</c:if>
					<c:if
							test="#{reporteCambioPlanBean.cambioPlan == null or empty reporteCambioPlanBean.cambioPlan.nroCuenta}">
						<h:outputLabel>
							<p class="info">No hay resultados para esta busqueda.</p>
						</h:outputLabel>
					</c:if>
				</p:panel>



			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>