<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../resources/templates/simple_layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="content">
        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>


        <c:set var="mapResOk"
               value="#{resetPinBean.mapResponseWhiteList.get('ok')}"/>
        <c:set var="mapResError"
               value="#{resetPinBean.mapResponseWhiteList.get('error')}"/>

        <p:dialog modal="true" widgetVar="dialogContent" draggable="false"
                  closable="false" resizable="false" responsive="true"
                  showHeader="false" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)">
            <div align="center">
                <p:graphicImage value="/resources/icons/processing2.gif"/>
            </div>
        </p:dialog>

        <p:dialog header="Reseteo del Pin" widgetVar="carDelet" resizable="false"
                  width="25%" closeOnEscape="true" position="center, 50"
                  appendTo="@(body)" modal="true">
            <p:outputPanel id="carDetailDelet">
                <div class="ui-g ">
                    <div align="center">
                        <p:outputLabel value="Desea proceder a resetear al Pin?"
                        />

                    </div>
                </div>
            </p:outputPanel>
            <hr></hr>
            <p:commandButton value="Cancelar" type="button" icon="ui-icon-close"
                             onclick="PF('carDelet').hide()"/>
            <p:commandButton id="c1" value="Continuar"
                             icon="ui-icon-check" actionListener="#{resetPinBean.resetearPin}"
                             update=":mainForm"
                             onclick="PF('dialogContent').show();"
                             oncomplete="PF('dialogContent').hide();"
            />

        </p:dialog>

        <div class="border_div">..:: Reset Pin ::..</div>

        <br/>

        <h:form id="mainForm">
            <p:panel header="RESET PIN">
                <h:panelGrid columns="1" width="80%" style="margin-left: 20%"
                             columnClasses="ui-grid-col-7">
                    <div align="center">
                        <p:fieldset style="margin: auto">

                            <h:panelGrid id="idPanel" width="100%" columns="3">

                                <h:outputLabel value="Código de Activación :" style="font-weight: bold"/>
                                <p:inputText id="codigo" maxlength="8"
                                             style="text-align: right;width:91%;"
                                             placeholder="Código de Activación" value="#{resetPinBean.codigo}">
                                    <p:keyFilter for="codigo" mask="num"/>
                                </p:inputText>

                                <p:commandButton value="Buscar" icon="fa fa-binoculars"
                                                 actionListener="#{resetPinBean.buscarCodigo}"
                                                 update="@form btnReset" onclick="PF('dialogContent').show();"
                                                 oncomplete="PF('dialogContent').hide();"/>
                            </h:panelGrid>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Si" type="button"
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton value="No" type="button"
                                                 styleClass="ui-confirmdialog-no" icon="ui-icon-closethick"/>
                            </p:confirmDialog>
                            <hr/>
                            <h:panelGrid columns="2" width="100%"
                                         columnClasses="ui-grid-col-4,ui-grid-col-8">

                                <h:outputLabel value="Código Activación:"/>
                                <p:outputLabel value="#{resetPinBean.user.username}"/>


                                <h:outputLabel value="Primer Nombre:"/>
                                <p:outputLabel value="#{resetPinBean.user.firstName} "/>


                                <h:outputLabel value="Apellido:"/>
                                <p:outputLabel value=" #{resetPinBean.user.lastName}"/>


                                <h:outputLabel value="Línea:"/>
                                <p:outputLabel value=" #{resetPinBean.user.attributes.msisdn.get(0)}"/>

                                <h:outputLabel value="Estado Usuario:"/>
                                <p:outputLabel value=" #{resetPinBean.estado}"/>


                                <h:outputLabel value="Email:"/>
                                <p:outputLabel value="#{resetPinBean.user.email} "/>


                            </h:panelGrid>
                            <hr/>
                            <h:panelGrid columns="2" width="100%"
                                         columnClasses="ui-grid-col-4,ui-grid-col-8">
                                <h:outputLabel value=""/>

                                <p:commandButton id="btnReset" value="Reset Pin" style="margin-left:5px;"
                                                 disabled="#{! not empty resetPinBean.user.attributes.msisdn}"
                                                 icon="fa fa-check" onclick="PF('carDelet').show();"
                                />
                            </h:panelGrid>
                        </p:fieldset>
                    </div>


                </h:panelGrid>
            </p:panel>
        </h:form>


    </ui:define>
</ui:composition>