<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Facelet Title</title>
</h:head>
<body>


	<ui:composition template="./../resources/templates/simple_layout.xhtml">

		<ui:define name="content">
			<p:dialog modal="true" widgetVar="dialogVoucher" draggable="false"
				closable="false" resizable="false" responsive="true"
				showHeader="false" position="center, 50" appendTo="@(body)">
				<div align="center">
					<p:graphicImage value="/resources/icons/processing2.gif" />
				</div>
			</p:dialog>

			<div class="border_div">VOUCHER</div>
			<br />
			<h:panelGrid styleClass="panelGridAlignTop" columns="2"
				style="width: 100%;">
				<h:form id="form_cuenta">
					<p:panel id="panelCuenta" header="Voucher Information"
						style="width: 300px;">
						<h:panelGrid columns="2">
							<h:outputLabel value="Batch Number" />
							<p:inputText value="#{voucherBean.batchNumber}"
								autocomplete="off" />
							<h:outputLabel value="Serial Number" />
							<p:inputText value="#{voucherBean.serialNumber}"
								autocomplete="off" />
							<p:commandButton id="btVoucher" icon="fa fa-binoculars"
								value="Buscar" action="#{voucherBean.cargarVoucher()}"
								disabled="#{voucherBean.disabledButton}"
								update=":form_cuenta :formTabla :form_Incidente"
								onclick="PF('dialogVoucher').show();"
								oncomplete="PF('dialogVoucher').hide();" />
							<p:commandButton actionListener="#{voucherBean.inicializando()}"
								value="Limpiar" update=":form_cuenta :formTabla :form_Incidente"
								icon="fa fa-close" />
							<p:remoteCommand name="rc" update=":formTabla"
								action="#{voucherBean.cargarVoucher()}" />
						</h:panelGrid>
					</p:panel>
				</h:form>
				<h:form id="form_Incidente">
					<h:panelGrid columns="1" width="100%" styleClass="panelGridRight">
						<p:commandButton
							actionListener="#{voucherBean.guardarIncidente()}"
							value="Registro Incidente"
							disabled="#{voucherBean.disableIncidente}"
							update=":form_Incidente" icon="fa fa-save" />
					</h:panelGrid>
				</h:form>
			</h:panelGrid>

			<br />
			<h:form id="formTabla">
				<p:panel id="panelVoucher">
					<p:fieldset legend="Monetary Information" styleClass="form-group">
						<h:panelGrid columns="4">
							<h:outputLabel value="Face Value" />
							<p:inputText value="#{voucherBean.voucher.faceValue}"
								readonly="true" />
							<h:outputLabel value="Currency" />
							<p:inputText value="#{voucherBean.voucher.currency}"
								readonly="true" />
						</h:panelGrid>
					</p:fieldset>

					<p:fieldset legend="Other Information" styleClass="form-group">
						<h:panelGrid columns="4">
							<h:outputLabel value="Service Provider" />
							<p:inputText value="#{voucherBean.voucher.serviceProvider}"
								readonly="true" style="width: 200px;" />
							<h:outputLabel value="Used By" />
							<p:inputText value="#{voucherBean.voucher.rechargeNumber}"
								readonly="true" style="width: 200px;" />

							<h:outputLabel value="Date Used" />
							<p:inputText value="#{voucherBean.voucher.dateUsed}"
								readonly="true" style="width: 200px;" />
							<h:outputLabel value="Card Start Date" />
							<p:inputText value="#{voucherBean.voucher.cardStartDate}"
								readonly="true" style="width: 200px;" />

							<h:outputLabel value="COS Name" />
							<p:inputText value="#{voucherBean.voucher.cardCosName}"
								readonly="true" style="width: 200px;" />
							<h:outputLabel value="Expiration Date" />
							<p:inputText value="#{voucherBean.voucher.expirationDate}"
								readonly="true" style="width: 200px;" />

							<h:outputLabel value="COS ID" />
							<p:inputText value="#{voucherBean.voucher.cardCosId}"
								readonly="true" style="width: 200px;" />
							<h:outputLabel value="Card State" />
							<p:inputText value="#{voucherBean.voucher.cardState}"
								readonly="true" style="width: 200px;" />
						</h:panelGrid>
					</p:fieldset>

					<p:fieldset legend="Voucher Operation" styleClass="form-group">

						<p:dataTable var="item"
							value="#{voucherBean.listVoucherOperation}" reflow="false"
							styleClass="table table-striped table-hover ui-corner-all"
							rows="10" paginator="true"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15,20,30,50" paginatorPosition="top"
							tableStyle="table-layout: auto;">
							<p:column headerText="Operation Type"
								sortBy="#{item.operationType}">
								<h:outputText value="#{item.operationType}" />
							</p:column>

							<p:column headerText="Operation Date"
								sortBy="#{item.operationDate}" priority="1">
								<h:outputText value="#{item.operationDate}" />
							</p:column>

							<p:column headerText="Operation Reason"
								sortBy="#{item.operationReason}" priority="2">
								<h:outputText value="#{item.operationReason}" />
							</p:column>
						</p:dataTable>
					</p:fieldset>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>

</body>

</html>