<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="./../resources/templates/simple_layout.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<script type="text/javascript">
			function start() {
				PF('statusDialog').show();
			}

			function stop() {
				PF('statusDialog').hide();
			}
		</script>
		<style type="text/css">
.ui-fieldset {
	min-height: 310px;
}
</style>

		<c:set var="mapResOk"
			value="#{whiteListBean.mapResponseWhiteList.get('ok')}" />
		<c:set var="mapResError"
			value="#{whiteListBean.mapResponseWhiteList.get('error')}" />

		<p:dialog modal="true" widgetVar="dialogContent" draggable="false"
			closable="false" resizable="false" responsive="true"
			showHeader="false" closeOnEscape="true" position="center, 50"
			appendTo="@(body)">
			<div align="center">
				<p:graphicImage value="/resources/icons/processing2.gif" />
			</div>
		</p:dialog>

		<div class="border_div">..:: Detalle Lista Negra ::..</div>

		<br />

		<h:form id="mainForm">
			<p:panel header="ALTA/BAJA LISTA NEGRA">
				<h:panelGrid columns="2" width="100%"
					columnClasses="ui-grid-col-5,ui-grid-col-7">

					<p:fieldset legend="Consulta alta/baja lista negra">

						<h:panelGrid id="idPanel" width="100%" columns="3"
							columnClasses="ui-grid-col-3,ui-grid-col-6,ui-grid-col-3">

							<h:outputLabel value="Nro. de telefono:" />
							<p:inputText id="msisdn" maxlength="8"
								onkeypress="javascript:return validarNumeros(event, this)"
								style="text-align: right;width:91%;"
								placeholder="Nro de telefono" value="#{whiteListBean.msisdn}">
							</p:inputText>

							<p:commandButton value="Buscar" icon="fa fa-binoculars"
								actionListener="#{whiteListBean.buscarDatosPorNumero(1)}"
								update="@form" onclick="PF('dialogContent').show();"
								oncomplete="PF('dialogContent').hide();" />
						</h:panelGrid>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Si" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
						</p:confirmDialog>

						<h:panelGrid columns="2" width="100%"
							columnClasses="ui-grid-col-3,ui-grid-col-8">

							<h:outputLabel value="Accion:" />
							<p:selectOneRadio id="accion"
								value="#{whiteListBean.opcionRadio}" unselectable="true"
								layout="grid" columns="1">
								<f:selectItem
									itemLabel="Adicionar el número de teléfono a la lista negra"
									itemValue="1" />
								<f:selectItem
									itemLabel="Quitar el número de télefono de la lista negra"
									itemValue="2" />
							</p:selectOneRadio>

							<h:outputLabel value="Notas:" />
							<p:inputTextarea id="comentario" rows="6" cols="30"
								onkeypress="javascript:return validarCaracteres(event, this)"
								style="width:68%" value="#{whiteListBean.notas}"
								counter="display" maxlength="200"
								counterTemplate="{0} Caracteres restantes.">
							</p:inputTextarea>

							<br />
							<h:outputText id="display" />

						</h:panelGrid>

						<p:commandButton id="btnAccion" value="Realizar Acción"
							icon="fa fa-check"
							actionListener="#{whiteListBean.realizarAccion}" update="@form"
							style="margin-left:10px;" onclick="PF('dialogContent').show();"
							oncomplete="PF('dialogContent').hide();">
							<p:confirm header="Realizar Acción"
								message="¿Desea realizar esta acción?" />
						</p:commandButton>

						<p:commandButton value="Limpiar" style="margin-left:5px;"
							icon="fa fa-times" actionListener="#{whiteListBean.limpiarTodo}"
							update="@form" />
					</p:fieldset>


					<p:fieldset id="datosConsulta"
						legend="Respuesta de consulta alta/baja lista negra">
						<h:panelGrid columns="1" width="100%">
							<c:if test="#{whiteListBean.whiteList != null}">
								<h:panelGrid columns="1" width="100%">
									<h:panelGrid columns="2" width="70%"
										columnClasses="ui-grid-col-4,ui-grid-col-8">
										<h:outputLabel value="Nro. de teléfono:"
											style="text-align: right;" />
										<h:outputLabel value="#{whiteListBean.whiteList.msisdn}" />

										<h:outputLabel value="Estado:" />
										<h:outputLabel style="font-weight: bold;font-size: 12px;"
											value="#{whiteListBean.whiteList.state == 1 ? 'Habilitado' : whiteListBean.whiteList.state == 2 ? 'Deshabilitado' : whiteListBean.whiteList.states}" />

										<c:if test="#{whiteListBean.whiteList.state == 1}">
											<h:outputLabel value="Canal de alta:" />
											<h:outputLabel id="canalAlta"
												value="#{whiteListBean.whiteList.start_channel}" />
											<h:outputLabel value="Fecha de alta:" />
											<h:outputLabel
												value="#{whiteListBean.whiteList.updated_date}" />
											<h:outputLabel value="Usuario que dio de alta:" />
											<h:outputLabel
												value="#{whiteListBean.whiteList.startUserFullName}" />
											<h:outputLabel />
											<h:outputLabel
												value="(#{whiteListBean.whiteList.start_user})"
												style="top:-8px; position:relative;font-style: italic;" />
										</c:if>
										<c:if
											test="#{not empty whiteListBean.whiteList.end_channel and not empty whiteListBean.whiteList.end_user and whiteListBean.whiteList.state == 2}">

											<h:outputLabel value="Canal de baja:" />
											<h:outputLabel value="#{whiteListBean.whiteList.end_channel}" />
											<h:outputLabel value="Fecha de baja:" />
											<h:outputLabel
												value="#{whiteListBean.whiteList.updated_date}" />
											<h:outputLabel value="Usuario que dio de baja:" />
											<h:outputLabel
												value="#{whiteListBean.whiteList.endUserFullName}" />
											<h:outputLabel />
											<h:outputLabel value="(#{whiteListBean.whiteList.end_user})"
												style="top:-8px; position:relative;font-style: italic;" />
										</c:if>
										<h:outputLabel value="Nota:" />
										<p:outputPanel>
											<p
												style="margin: 0; border: 1px solid #d5d5d5; padding: 5px; border-radius: 3px; height: 78px;">#{not
												empty whiteListBean.whiteList.notes ?
												whiteListBean.whiteList.notes : '...'}</p>
										</p:outputPanel>

									</h:panelGrid>
								</h:panelGrid>
							</c:if>
							<c:if
								test="#{whiteListBean.whiteList == null and whiteListBean.mapResponseWhiteList == null}">
								<div class="ui-g-12">No hay resultados para esta busqueda.</div>
							</c:if>

							<c:if test="#{whiteListBean.mapResponseWhiteList != null}">
								<h:panelGrid columns="2">
									<h:outputLabel value="#{whiteListBean.claveRespuesta}" />
									<h:outputLabel value="#{whiteListBean.valorRespuesta}" />
								</h:panelGrid>
							</c:if>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>