html {
	margin: 0px;
	padding: 0px;
}

.loginbox {
	margin: 0px auto;
	width: 320px;
	border-radius: 3px;
	-webki-border-radius: 3px;
	-moz-border-radius: 3px;
}

.imgBox {
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="submit"] {
	margin-top: 12px;
	margin-bottom: 0px;
}

.textos {
	margin-top: 0px;
}

.alerta {
	margin: 0px auto;
	width: 320px;
	border-radius: 4px;
	-webki-border-radius: 4px;
	-moz-border-radius: 4px;
}

body {
	padding-top: 120px;
	padding-bottom: 20px;
	background-color: #d4d4d4;
}

.form-signin {
	max-width: 320px;
	padding: 10px 29px 10px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 12px rgba(76, 76, 76, 1);
	-moz-box-shadow: 0 1px 12px rgba(76, 76, 76, 1);
	box-shadow: 0 1px 12px rgba(76, 76, 76, 1);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
	font-size: 14px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}